java/bundles/org.eclipse.set.toolboxmodel/schema-planpro/Basisobjekte.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nsBasisobjekte="http://www.plan-pro.org/modell/Basisobjekte/1.9.0.2"
           xmlns:nsBasisTypen="http://www.plan-pro.org/modell/BasisTypen/1.9.0.2"
           xmlns:nsVerweise="http://www.plan-pro.org/modell/Verweise/1.9.0.2"
           targetNamespace="http://www.plan-pro.org/modell/Basisobjekte/1.9.0.2">
	  <xs:annotation>
		    <xs:documentation>Dieses Werk ist lizenziert unter der Open Source Lizenz RailPL V1.0.

Weitere Informationen zur Lizenz finden Sie auf
http://www.dbnetze.com/planpro

Inhalt der Datei:
XML Schema für PlanPro Schnittstelle.

Für Fragen zum Schema wenden Sie sich bitte an Herrn :

Reiner Brödel (reiner.broedel@deutschebahn.com, +49 30 297-57123)

--------------------------------------------------------------------------------

This Document is licensed under the open source license RailPL V1.0.

More information about the license can be found on
http://www.dbnetze.com/planpro

Contents of the file:
XML Schema for PlanPro interface.</xs:documentation>
	  </xs:annotation>
	  <xs:import namespace="http://www.plan-pro.org/modell/Verweise/1.9.0.2"
              schemaLocation="Verweise.xsd"/>
	  <xs:import namespace="http://www.plan-pro.org/modell/BasisTypen/1.9.0.2"
              schemaLocation="BasisTypen.xsd"/>
	  <xs:simpleType name="TKommentar">
		    <xs:restriction base="nsBasisTypen:TFreiText"/>
	  </xs:simpleType>
	  <xs:complexType name="TCKommentar">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TKommentar" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCBestandsschutz">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="xs:boolean" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TLO_Seriennummer">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:complexType name="TCSeitliche_Lage">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TSeitliche_Lage" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CPunkt_Objekt" abstract="true">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Objekt der Außenanlage, das bezogen auf seine Funktion keine Ausdehnung entlang der Gleise aufweist. Punktförmige Objekte sind diejenigen real vorhandenen Objekte, die mindestens einer TOP Kante mit je genau einem Punkt zugeordnet werden können. Durch die Verwendung der TOP Kante und des Abstands zum Knoten A der TOP Kante kann die physische Lage eines punktförmigen Objektes eindeutig beschrieben werden. Beispiele für punktförmige Objekte sind Signal, Signal Befestigung und W Kr Gsp Komponente. Durch die mögliche Mehrfacheinbindung der Attributgruppe Punkt Objekt TOP Kante ist es möglich, Punktobjekte mehreren TOP-Kanten zuzuordnen, z.B: Grenzzeichen (Zuordnung zu zwei TOP_Kanten), Signal zwischen Weichenanfang und Herzstückspitze (Zuordnung zu zwei TOP_Kanten), Kreuzung als Kreuzungseite - Weichenkomponente (Zuordnung zu zwei sich schneidende oder am gleichen TOP-Knoten endende TOP-Kanten), Weichensignal (Zuordnung zu zwei (W), drei (EKW) oder vier (DKW) TOP_Kanten). Die Verortung des Punktobjekts erfolgt über die Angabe einer TOP Kante und des Abstands zum Knoten A der Kante. Zusätzlich kann für ein Punkt_Objekt eine Strecke und ein Streckenkilometer angegeben werden. Diese km-Angabe ist dabei nur nachrichtlich zu verstehen. </xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="Punkt_Objekt_Strecke" type="nsBasisobjekte:CPunkt_Objekt_Strecke"
                           minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Attributgruppe zur Zuordnung eines Objektes zu einer Strecke. Zur vererbungsspezifischen Befüllung der Attributgruppe siehe Modellierung Basisobjekte.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="Punkt_Objekt_TOP_Kante" type="nsBasisobjekte:CPunkt_Objekt_TOP_Kante"
                           minOccurs="1"
                           maxOccurs="unbounded">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Attributgruppe zur Verortung eines Objektes an der Topologie. Die vererbungsspezifische Befüllung der zugehörigen Attribute wird auf der Seite Modellierung Basisobjekte beschrieben. Durch die mögliche Mehrfacheinbindung der Attributgruppe ist es möglich, ein Objekt (z. B. Grenzzeichen) mehreren topologischen Kanten zuzuordnen. DB-Regelwerk Darstellung im sicherungstechnischen Lageplan</xs:documentation>
                  </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCBearbeitungsvermerk_Kennung">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TBearbeitungsvermerk_Kennung" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCZeit_Bearbeitungsvermerk">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="xs:dateTime" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCDB_GDI_Referenz">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TDB_GDI_Referenz" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CUr_Objekt" abstract="true">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Allen Objekten zugrundeliegender Objekttyp, durch die jede Instanz eines Objektes einen eindeutigen Identifikator in Form einer GUID erhält.</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:sequence>
			      <xs:element name="Identitaet" type="nsBasisobjekte:TCIdentitaet" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Eindeutige Identifizierung des Objektes mit Hilfe der GUID. Bei Verlinkungen auf ein Objekt wird eine entsprechende Referenz angegeben. Verlinkungsattribute setzen sich aus dem Präfix „ID_“ und in der Regel dem entsprechenden Objektnamen zusammen („ID_[Objekt]“). Die Eindeutigkeit der Verlinkung ergibt sich aus der Spezifikation der GUID, siehe hierfür RFC 4122: http://tools.ietf.org/html/rfc4122. Zu weiteren Vorgaben und Empfehlungen für die GUID-Erzeugung siehe Goldene Regeln Schnittstelle. </xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:simpleType name="ENUMBestandsrelevanz">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="Bestandsdaten"/>
			      <xs:enumeration value="Bestandsdokumentation"/>
			      <xs:enumeration value="dauerhaft"/>
			      <xs:enumeration value="nein"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="CLO_Material">
		    <xs:sequence>
			      <xs:element name="LO_Ausgabestand" type="nsBasisobjekte:TCLO_Ausgabestand" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Ausgabe- bzw. Gerätestand.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="LO_Datum_Herstellung" type="nsBasisobjekte:TCLO_Datum_Herstellung"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Produktionszeitpunkt des LO.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="LO_DB_Freigabe" type="nsBasisobjekte:TCLO_DB_Freigabe" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Art der von der DB Netz AG erteilten Freigabe (Erprobung oder Serienfreigabe).</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="LO_EMA_Nr" type="nsBasisobjekte:TCLO_EMA_Nr" minOccurs="1" maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">EMA-Nummer der DB (zur Nachbestellbarkeit des Ersatzeils über die DB-internen Beschaffungswege).\nFür LO ohne EMA-Nummer ist \"ohne EMA-Nummer\" anzugeben.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="LO_Firmensachnummer" type="nsBasisobjekte:TCLO_Firmensachnummer"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Firmensachnummer.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="LO_Seriennummer" type="nsBasisobjekte:TCLO_Seriennummer" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Seriennummer des Bauteils. Falls keine existiert, ist \"ohne Seriennummer\" einzutragen.</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="CProxy_Objekt">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Hilfsobjekt zur Sättigung von Verweisen an der äußeren Grenze des Betrachtungsbereichs einer Einzelplanung. Die Validierung einer XML-Datei ist nur gesamthaft möglich. Somit müssen Planungs- und Betrachtungsbereich gleichermaßen valide sein. An der äußeren Grenze des Betrachtungsbereichs sind jedoch u. U. nicht mehr alle Zielobjekte von Verweisen vorhanden, da der Betrachtungsbereich nicht beliebig ausgeweitet werden kann und soll. Unter der Maßgabe einer validen XML besteht jedoch ein Zwang zur Sättigung von Verweisen. Das Proxy_Objekt schafft diesbezüglich eine Lösung für alle Objekte des LST-Datenmodells. In den Bestandsdaten der LST-Datenbank dürfen keine Proxyobjekte vorhanden sein. </xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CUr_Objekt">
				        <xs:sequence>
					          <xs:element name="LST_Objekt_Art" type="nsBasisobjekte:TCLST_Objekt_Art" minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Art des Objekts, das durch das Proxyobjekt vertreten wird. Mit Ausnahme von Ur Objekt, Basis Objekt, Bereich Objekt, Punkt Objekt und dem Proxy Objekt selbst können alle Objekte des LST-Datenmodells ausgewählt werden.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CBasis_Objekt_Allg">
		    <xs:sequence>
			      <xs:element name="Bestandsschutz" type="nsBasisobjekte:TCBestandsschutz" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Für das betroffene Objekt wurde Bestandsschutz festgelegt (true). Die Angabe entfällt, wenn kein Bestandsschutz vorhanden ist.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Objektzustand_Besonders" type="nsBasisobjekte:TCObjektzustand_Besonders"
                     minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Besonderer Zustand eines Objekts im Planungsbereich. Ist dieses Attribut nicht vorhanden, so ist das LST-Objekt „in Betrieb“. Die verwendeten ENUM-Werte haben folgende Bedeutung: abgedeckt: Objekt, das im Knoten-Kanten-Modell verortet bleibt, technisch weiterhin in Betrieb bleibt, jedoch seine betriebliche Funktion zeitweilig nicht mehr erfüllt (anderweitig außer_Betrieb gesetzt, z. B. abgedeckte Signale [außer_Betrieb mit besonderer Maßnahme] oder Signale am Baugleis [außer_Betrieb ohne besondere Maßnahme]). ausser_Betrieb: Objekt, das im Knoten-Kanten-Modell verortet bleibt, aber seine betriebliche Funktion zeitweilig nicht mehr erfüllt und auch technisch außer Betrieb gesetzt ist. ausser_Betrieb_vorbereitend: Objekt, das im Knoten-Kanten-Modell erstmalig neu verortet wird, aber seine betriebliche Funktion zeitweilig noch nicht erfüllt und auch technisch noch nicht in Betrieb gesetzt ist, jedoch zu einem späteren Zeitpunkt (z. B. nachfolgender Bauzustand) in Betrieb gesetzt werden soll. sonstige: Bei Auswahl von \"sonstige\" ist ein Bearbeitungsvermerk mit entsprechenden Erläuterungen anzufügen. DB-Regelwerk Bisher keine eindeutige Abbildung, besonderer Objektzustand meist Fußnoteneintrag in Planungsunterlagen.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:choice minOccurs="1" maxOccurs="1">
				        <xs:element name="Datum_Regelwerk" type="nsBasisobjekte:TCDatum_Regelwerk" minOccurs="1"
                        maxOccurs="1">
					          <xs:annotation>
                  <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Datum des letzten Planungsstandes eines Objekts, Hinweis auf den Regelwerksstand zum Planungszeitpunkt. Ergänzende Beschreibung zum Umgang im PlanPro-Planungsprozess Anhand des Regelwerksstandes lassen sich die jeweils gültigen Stände der verwendeten Regelwerke herleiten (wichtig für Bestandsschutz). Abweichungen werden auf Objektebene (Basis Objekt) über das Attribut ID Anhang Regelwerk Besonders beigefügt. Im Rahmen der Erstellung einer Planung_Einzel werden alle neuen und geänderten Objekte standardmäßig mit dem zentral einzugebenden Wert des Attributs „Datum Regelwerksstand“ der Planung_Einzel befüllt. Durch die Befüllung dürfen bereits vorhandene Angaben „ID_Anhang_Regelwerk_Besonders“ nicht überschrieben werden. Bei Abweichungen kann der LST-Fachplaner objekt- oder objektgruppenbezogen „ID_Anhang_Regelwerk_Besonders“ füllen. DB-Regelwerk Bisher ohne eindeutige Abbildung im Schriftfeld gemäß Ril 819.0103. </xs:documentation>
               </xs:annotation>
				        </xs:element>
				        <xs:element name="ID_Anhang_Regelwerk_Besonders" type="nsVerweise:TCID_Anhang"
                        minOccurs="1"
                        maxOccurs="1">
					          <xs:annotation>
                  <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Für das Objekt abweichend geltendes Regelwerk. Verweis auf einen Anhang, aus dem der besondere Regelwerksstand eines LST-Objektes hervorgeht. Dieser gilt abweichend von dem für die Planung_Einzel festgelegten Datum Regelwerksstand. Ergänzende Beschreibung zum Umgang im PlanPro-Planungsprozess Im Schriftfeld gemäß Ril 819.0103 dient Feld 30 \"Zusätzliche Vermerke\" üblicherweise zur Angabe von Regelwerksabweichungen. DB-Regelwerk Bisher eine eindeutige Abbildung als Schriftfeldeintrag gemäß Ril 819.0103. Meist Angabe im Erläuterungsbericht. </xs:documentation>
               </xs:annotation>
				        </xs:element>
			      </xs:choice>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="TCKurztext">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TKurztext" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCBegrenzung_A">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TBegrenzung_A" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TLO_Ausgabestand">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:complexType name="TCLO_Firmensachnummer">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TLO_Firmensachnummer" minOccurs="1"
                           maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCStrecke_Km">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TStrecke_Km" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCBearbeitungsvermerk_Rolle">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:ENUMRolle" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCLO_EMA_Nr">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TLO_EMA_Nr" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TLO_Firmensachnummer">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:complexType name="TCDaten">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="xs:base64Binary" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCDatum_Regelwerk">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="xs:date" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CAnhang">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Ermöglicht die Aufnahme von Anhangsdokumenten in das Modell. Das Objekt Anhang erlaubt es, im PlanPro Datenmodell Informationen aus bestehenden Dateien vorzuhalten, die nicht durch ein eigenes Objekt im Modell abgebildet sind. Diese Informationen entsprechen den im bisherigen papiergebundenen Prozess beigefügten Anlagen, eben den Anhängen. Die erlaubten Typen von Anhängen sind im Attribut „Anhang Art“ definiert. Der Dateiname der Ursprungsdatei wird im Attribut „Dateiname“ ohne die Endung abgelegt. Die erlaubte Endung wird im Attribut „Dateityp“ definiert. Der eigentliche Inhalt der Ursprungsdatei wird im Attribut „Daten“ als base64-codierte Binärdaten abgelegt. Ein Anhang wird im Datenmodell auf zwei Arten verwendet. Zum einen kann ein Anhang über das Objekt Bearbeitungsvermerk mit jedem Objekt oder Attribut verbunden werden. Dies ist in der Beschreibung des Objekts Bearbeitungsvermerk näher erläutert. Spezielle Anhänge, die direkt in einem Objekt bei der Planung enthalten sein müssen, z.B. INA-Berechnung, werden direkt durch Attribute im jeweiligen Objekt definiert und so ohne den Umweg des Bearbeitungsvermerkes eingebunden.</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CUr_Objekt">
				        <xs:sequence>
					          <xs:element name="Anhang_Allg" type="nsBasisobjekte:CAnhang_Allg" minOccurs="1"
                           maxOccurs="1"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CBereich_Objekt_Teilbereich">
		    <xs:sequence>
			      <xs:element name="Begrenzung_A" type="nsBasisobjekte:TCBegrenzung_A" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Abstand der Begrenzung A zum Anfang der TOP Kante. Die Begrenzung A darf nicht weiter als die Begrenzung B vom Anfang der TOP Kante entfernt sein. </xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:Patternbeschreibung> [0.000..99999.999]</ppi:Patternbeschreibung>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Begrenzung_B" type="nsBasisobjekte:TCBegrenzung_B" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Abstand der Begrenzung B zum Anfang der TOP Kante. Die Begrenzung B ist gleich weit oder weiter als die Begrenzung A vom Anfang der TOP Kante entfernt. </xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:Patternbeschreibung> [0.000..99999.999]</ppi:Patternbeschreibung>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="ID_TOP_Kante" type="nsVerweise:TCID_TOP_Kante" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis, auf welche TOP Kante sich der Teilbereich bezieht. DB-Regelwerk Darstellung im sicherungstechnischen Lageplan </xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Richtungsbezug" type="nsBasisobjekte:TCRichtungsbezug" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Richtung des Teilbereichs bezogen auf die Topologierichtung der über ID TOP Kante referenzierten Topologiekante. Zur vererbungsspezifischen Befüllung siehe Modellierung Basisobjekte.</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:simpleType name="ENUMLST_Objekt_Art">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="Anhang"/>
			      <xs:enumeration value="Aussenelementansteuerung"/>
			      <xs:enumeration value="Bahnsteig_Anlage"/>
			      <xs:enumeration value="Bahnsteig_Dach"/>
			      <xs:enumeration value="Bahnsteig_Kante"/>
			      <xs:enumeration value="Bahnsteig_Zugang"/>
			      <xs:enumeration value="Balise"/>
			      <xs:enumeration value="Bearbeitungsvermerk"/>
			      <xs:enumeration value="Bedien_Anrueckabschnitt"/>
			      <xs:enumeration value="Bedien_Anzeige_Element"/>
			      <xs:enumeration value="Bedien_Bezirk"/>
			      <xs:enumeration value="Bedien_Einrichtung_Oertlich"/>
			      <xs:enumeration value="Bedien_GBT"/>
			      <xs:enumeration value="Bedien_Oberflaeche"/>
			      <xs:enumeration value="Bedien_Oberflaeche_Bild"/>
			      <xs:enumeration value="Bedien_Oertlichkeit"/>
			      <xs:enumeration value="Bedien_Platz"/>
			      <xs:enumeration value="Bedien_Standort"/>
			      <xs:enumeration value="Bedien_Zentrale"/>
			      <xs:enumeration value="Bereichsgrenze"/>
			      <xs:enumeration value="Binaerdatei"/>
			      <xs:enumeration value="Block_Anlage"/>
			      <xs:enumeration value="Block_Element"/>
			      <xs:enumeration value="Block_Strecke"/>
			      <xs:enumeration value="BUE_Anlage"/>
			      <xs:enumeration value="BUE_Anlage_Strasse"/>
			      <xs:enumeration value="BUE_Anlage_V"/>
			      <xs:enumeration value="BUE_Ausschaltung"/>
			      <xs:enumeration value="BUE_Bedien_Anzeige_Element"/>
			      <xs:enumeration value="BUE_Deckendes_Signal_Zuordnung"/>
			      <xs:enumeration value="BUE_Einschaltung"/>
			      <xs:enumeration value="BUE_Einschaltung_Zuordnung"/>
			      <xs:enumeration value="BUE_Gefahrraum_Eckpunkt"/>
			      <xs:enumeration value="BUE_Gleisbezogener_Gefahrraum"/>
			      <xs:enumeration value="BUE_Kante"/>
			      <xs:enumeration value="BUE_Kreuzungsplan"/>
			      <xs:enumeration value="BUE_Schnittstelle"/>
			      <xs:enumeration value="BUE_Spezifisches_Signal"/>
			      <xs:enumeration value="BUE_WS_Fstr_Zuordnung"/>
			      <xs:enumeration value="Datenpunkt"/>
			      <xs:enumeration value="Datenpunkt_Link"/>
			      <xs:enumeration value="ESTW_Zentraleinheit"/>
			      <xs:enumeration value="ETCS_Kante"/>
			      <xs:enumeration value="ETCS_Knoten"/>
			      <xs:enumeration value="ETCS_Signal"/>
			      <xs:enumeration value="ETCS_W_Kr"/>
			      <xs:enumeration value="EV_Modul"/>
			      <xs:enumeration value="Fachtelegramm"/>
			      <xs:enumeration value="Fla_Freimelde_Zuordnung"/>
			      <xs:enumeration value="Fla_Schutz"/>
			      <xs:enumeration value="Fla_Zwieschutz"/>
			      <xs:enumeration value="FMA_Anlage"/>
			      <xs:enumeration value="FMA_Element"/>
			      <xs:enumeration value="FMA_Komponente"/>
			      <xs:enumeration value="Fstr_Abhaengigkeit"/>
			      <xs:enumeration value="Fstr_Aneinander"/>
			      <xs:enumeration value="Fstr_Aneinander_Zuordnung"/>
			      <xs:enumeration value="Fstr_DWeg"/>
			      <xs:enumeration value="Fstr_DWeg_W_Kr"/>
			      <xs:enumeration value="Fstr_Fahrweg"/>
			      <xs:enumeration value="Fstr_Nichthaltfall"/>
			      <xs:enumeration value="Fstr_Rangier_Fla_Zuordnung"/>
			      <xs:enumeration value="Fstr_Signalisierung"/>
			      <xs:enumeration value="Fstr_Umfahrpunkt"/>
			      <xs:enumeration value="Fstr_Zug_Rangier"/>
			      <xs:enumeration value="FT_Anschaltbedingung"/>
			      <xs:enumeration value="FT_Fahrweg_Teil"/>
			      <xs:enumeration value="GEO_Kante"/>
			      <xs:enumeration value="GEO_Knoten"/>
			      <xs:enumeration value="GEO_Punkt"/>
			      <xs:enumeration value="Geschwindigkeitsprofil"/>
			      <xs:enumeration value="GFR_Anlage"/>
			      <xs:enumeration value="GFR_Element"/>
			      <xs:enumeration value="GFR_Tripelspiegel"/>
			      <xs:enumeration value="Gleis_Abschluss"/>
			      <xs:enumeration value="Gleis_Abschnitt"/>
			      <xs:enumeration value="Gleis_Art"/>
			      <xs:enumeration value="Gleis_Baubereich"/>
			      <xs:enumeration value="Gleis_Bezeichnung"/>
			      <xs:enumeration value="Gleis_Fahrbahn"/>
			      <xs:enumeration value="Gleis_Lichtraum"/>
			      <xs:enumeration value="Gleis_Schaltgruppe"/>
			      <xs:enumeration value="Hoehenpunkt"/>
			      <xs:enumeration value="Kabel"/>
			      <xs:enumeration value="Kabel_Verteilpunkt"/>
			      <xs:enumeration value="LEU_Anlage"/>
			      <xs:enumeration value="LEU_Modul"/>
			      <xs:enumeration value="LEU_Schaltkasten"/>
			      <xs:enumeration value="Luft_Telegramm"/>
			      <xs:enumeration value="Markanter_Punkt"/>
			      <xs:enumeration value="NB"/>
			      <xs:enumeration value="NB_Bedien_Anzeige_Element"/>
			      <xs:enumeration value="NB_Zone"/>
			      <xs:enumeration value="NB_Zone_Element"/>
			      <xs:enumeration value="NB_Zone_Grenze"/>
			      <xs:enumeration value="Oertlichkeit"/>
			      <xs:enumeration value="Prog_Datei_Gruppe"/>
			      <xs:enumeration value="PZB_Element"/>
			      <xs:enumeration value="PZB_Element_Zuordnung"/>
			      <xs:enumeration value="PZB_Zuordnung_Signal"/>
			      <xs:enumeration value="RBC"/>
			      <xs:enumeration value="Regelzeichnung"/>
			      <xs:enumeration value="Regelzeichnung_Parameter"/>
			      <xs:enumeration value="Schaltmittel_Fstr_Zuordnung"/>
			      <xs:enumeration value="Schaltmittel_Zuordnung"/>
			      <xs:enumeration value="Schloss"/>
			      <xs:enumeration value="Schlosskombination"/>
			      <xs:enumeration value="Schluessel"/>
			      <xs:enumeration value="Schluesselsperre"/>
			      <xs:enumeration value="Schrankenantrieb"/>
			      <xs:enumeration value="Signal"/>
			      <xs:enumeration value="Signal_Befestigung"/>
			      <xs:enumeration value="Signal_Rahmen"/>
			      <xs:enumeration value="Signal_Signalbegriff"/>
			      <xs:enumeration value="Sonstiger_Punkt"/>
			      <xs:enumeration value="Stell_Bereich"/>
			      <xs:enumeration value="Stellelement"/>
			      <xs:enumeration value="Strecke"/>
			      <xs:enumeration value="Strecke_Punkt"/>
			      <xs:enumeration value="Technik_Standort"/>
			      <xs:enumeration value="Technischer_Bereich"/>
			      <xs:enumeration value="Technischer_Punkt"/>
			      <xs:enumeration value="TOP_Kante"/>
			      <xs:enumeration value="TOP_Knoten"/>
			      <xs:enumeration value="Ueberhoehung"/>
			      <xs:enumeration value="Uebertragungsweg"/>
			      <xs:enumeration value="Unterbringung"/>
			      <xs:enumeration value="Verkehrszeichen"/>
			      <xs:enumeration value="W_Kr_Anlage"/>
			      <xs:enumeration value="W_Kr_Gsp_Element"/>
			      <xs:enumeration value="W_Kr_Gsp_Komponente"/>
			      <xs:enumeration value="Weichenlaufkette"/>
			      <xs:enumeration value="Weichenlaufkette_Zuordnung"/>
			      <xs:enumeration value="ZL"/>
			      <xs:enumeration value="ZL_DLP_Abschnitt"/>
			      <xs:enumeration value="ZL_DLP_Fstr"/>
			      <xs:enumeration value="ZL_Fstr"/>
			      <xs:enumeration value="ZL_Fstr_Anstoss"/>
			      <xs:enumeration value="ZL_Signalgruppe"/>
			      <xs:enumeration value="ZL_Signalgruppe_Zuordnung"/>
			      <xs:enumeration value="ZLV_Bus"/>
			      <xs:enumeration value="ZLV_Bus_US_Zuordnung"/>
			      <xs:enumeration value="ZN"/>
			      <xs:enumeration value="ZN_Akustik"/>
			      <xs:enumeration value="ZN_Anzeigefeld"/>
			      <xs:enumeration value="ZN_Fortschalt_Kriterium"/>
			      <xs:enumeration value="ZN_Telegramm_84_Zuordnung"/>
			      <xs:enumeration value="ZN_Telegramm_85_Zuordnung"/>
			      <xs:enumeration value="ZN_Unterstation"/>
			      <xs:enumeration value="ZN_ZBS"/>
			      <xs:enumeration value="ZUB_Bereichsgrenze"/>
			      <xs:enumeration value="ZUB_Streckeneigenschaft"/>
			      <xs:enumeration value="Zugeinwirkung"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="TDB_GDI_Referenz">
		    <xs:restriction base="nsBasisTypen:TText">
			      <xs:pattern value=".{1,20}"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="TBeschreibung">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:simpleType name="TRichtungsbezug">
		    <xs:restriction base="nsBasisTypen:TWirkrichtung"/>
	  </xs:simpleType>
	  <xs:complexType name="TCBegrenzung_B">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TBegrenzung_B" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="ENUMRolle">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="GIS_Daten"/>
			      <xs:enumeration value="LST_Fachplaner"/>
			      <xs:enumeration value="sonstige"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="TStrecke_Km">
		    <xs:restriction base="nsBasisTypen:TKilometrierung"/>
	  </xs:simpleType>
	  <xs:complexType name="TCAnhang_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:ENUMAnhang_Art" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="ENUMObjektzustand_Besonders">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="abgedeckt"/>
			      <xs:enumeration value="ausser_Betrieb"/>
			      <xs:enumeration value="ausser_Betrieb_vorbereitend"/>
			      <xs:enumeration value="sonstige"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCSeitlicher_Abstand">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TSeitlicher_Abstand" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CLieferobjekt">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Von der SBI geliefertes Objekt. Hier werden alle relevanten Daten des gelieferten Teils der LST-Anlage eingetragen. Das Lieferobjekt muss einen Bezug zu einem bestehenden bzw. geplanten LST-Objekt haben, das es näher beschreibt.</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="Beschreibung" type="nsBasisobjekte:TCBeschreibung" minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verbale Beschreibung des LO. \r\nDie Angabe soll als Beschreibung des Technischen Platzes in SAP R/3 Netz übernommen werden. \rDie Bereitstellung der Bildungsvorschrift erfolgt gesondert.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_LO_Einbau" type="nsVerweise:TCID_LO_Einbau" minOccurs="1"
                           maxOccurs="unbounded">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf ein geplantes oder existierendes Objekt bzw. mehrere Objekte, zu dem bzw. denen das LO logisch gehört. LO können auch hierarchisch gegliedert sein.\r\nFür Ersatzteile ist der Ort der Lagerung anzugeben, d.h. in der Regel die Unterbringung direkt.\r\nDer Verweis ist prinzipiell auf alle Objekttypen möglich einschließlich des LO selbst für eine rekursive Darstellung der herstellerspezifischen Anlagenstruktur.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="LO_Ersatz" type="nsBasisobjekte:TCLO_Ersatz" minOccurs="1" maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Angabe, ob es sich um eine Ersatzteil (true) oder ein eingebautes und genutztes Teil handelt (false).</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="LO_Material" type="nsBasisobjekte:CLO_Material" minOccurs="1"
                           maxOccurs="1"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TLO_EMA_Nr">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:complexType name="CBearbeitungsvermerk">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Anhang in Form von Datei oder Text zu einem Objekt oder Attribut. Jeder zugelassene Projektbeteiligte kann zu einem Objekt oder Attribut einen Bearbeitungsvermerk anfügen, sofern er die entsprechend notwendige Berechtigung besitzt. Dies gilt für fachliche wie organisatorische Objekte und Attribute. Für ENUM-Attribute ist bei Auswahl des Werts \"sonstige\" zwingend ein Bearbeitungsvermerk anzufügen. Eine Dokumentenbeigabe ist dabei optional. Zu einem Objekt oder Attribut können mehrere Bearbeitungsvermerke erstellt werden. Der Bearbeitungsvermerk enthält vorläufig eine GUID zur Identifikation des Bearbeiters sowie eine GUID für die Signatur. Im Attribut „Bearbeitungsvermerk Rolle“ kann die fachliche Rolle des Bearbeiters abgelegt werden. Kommentare des Bearbeiters werden als Freitext im Attribut „Kommentar“ hinterlegt. Der Bearbeitungsvermerk kann einen Anhang aufnehmen. Um mehrere Anhänge zu einem Objekt zuzuordnen, müssen mehrere Bearbeitungsvermerke erstellt werden.</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CUr_Objekt">
				        <xs:sequence>
					          <xs:element name="Bearbeitungsvermerk_Allg" type="nsBasisobjekte:CBearbeitungsvermerk_Allg"
                           minOccurs="1"
                           maxOccurs="1"/>
					          <xs:element name="ID_Anhang" type="nsVerweise:TCID_Anhang" minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf den durch diesen Bearbeitungsvermerk referenzierten Anhang.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCRichtungsbezug">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TRichtungsbezug" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCWirkrichtung">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisTypen:TWirkrichtung" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCLO_Seriennummer">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TLO_Seriennummer" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CPunkt_Objekt_Strecke">
		    <xs:sequence>
			      <xs:element name="ID_Strecke" type="nsVerweise:TCID_Strecke" minOccurs="1" maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Zuordnung eines Punktobjektes zu einer Streckennummer.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Strecke_Km" type="nsBasisobjekte:TCStrecke_Km" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Kilometer des Punktobjekts an der Strecke.</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:simpleType name="TLO_DB_Freigabe">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:complexType name="TCAbstand">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TAbstand" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CBearbeitungsvermerk_Allg">
		    <xs:sequence>
			      <xs:element name="Bearbeitungsvermerk_Kennung"
                     type="nsBasisobjekte:TCBearbeitungsvermerk_Kennung"
                     minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Kennzeichnung, dass der Bearbeitungsvermerk für den Bestand (Bestandsdaten, Bestandspläne) relevant ist und deswegen über das Planungsprojekt hinweg abzuspeichern ist. Heute: Angaben im Erläuterungsbericht. Ergänzende Beschreibung zum Umgang im PlanPro-Planungsprozess Alle bestandsrelevanten Bearbeitungsvermerke sollten vor Erstellung der Bestandsdaten nochmal durch den LST-Fachplaner geprüft werden, da diese sich durch Einzelplanungen erübrigt haben könnten. Nicht bestandsrelevante Bearbeitungsvermerke werden automatisch bei Erstellung der Bestandsdaten im Planungswerkzeug gelöscht. DB-Regelwerk Bisher ohne eindeutige Darstellung.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Bearbeitungsvermerk_Rolle"
                     type="nsBasisobjekte:TCBearbeitungsvermerk_Rolle"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Fachliche Rolle des Bearbeiters, der den Bearbeitungsvermerk verfasst hat. In der ersten Umsetzungsstufe PlanPro ist dabei nur die Rolle \"LST_Fachplaner\" (Ingenieurbüro) vorgesehen. Bei Auswahl von \"sonstige\" ist ein Bearbeitungsvermerk mit entsprechenden Erläuterungen anzufügen. </xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Bestandsrelevanz" type="nsBasisobjekte:TCBestandsrelevanz" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Relevanz eines Bearbeitungsvermerks für die Übernahme in den Bestand (Bestandsdaten bzw. Bestandspläne).\n\nnein - Nur gültig innerhalb einer Planungsgruppe. Der BV ist vor Erstellen der Bestandsdaten einer Planungsgruppe zu löschen.\n\nBestandsdaten - Gültig innerhalb eines Planungsprojekts bis vor Erstellen einer Bestandsdokumentation, d. h. der BV kann in den Bestandsdaten enthalten bleiben, ist jedoch vor Erstellen einer Bestandsdokumentation zu löschen.\n\nBestandsdokumentation - Gültig innerhalb eines Planungsprojekts bis vor Erstellen der letzten Bestandsdokumentation, d. h. der BV kann über mehrere Planungsgruppen hinaus enthalten bleiben, ist jedoch vor Projektabschluss zu löschen.\n\ndauerhaft - Gültig über das Gesamtprojekt hinaus auch nach Erstellen der letzten Bestandsdokumentation.\nDer BV ist dauerhaft relevant und kann erst mit einem neuen Planungsprojekt  geändert/gelöscht werden.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Kommentar" type="nsBasisobjekte:TCKommentar" minOccurs="1" maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Kommentare des Bearbeiters als Freitext.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Kurztext" type="nsBasisobjekte:TCKurztext" minOccurs="0" maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Kurzform des Kommentars des Bearbeitungsvermerks für Anzeige bzw. Druck in den Ausgabeformaten.</xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:Patternbeschreibung>[1..100]</ppi:Patternbeschreibung>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Zeit_Bearbeitungsvermerk"
                     type="nsBasisobjekte:TCZeit_Bearbeitungsvermerk"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Zeitpunkt, zu dem der Bearbeitungsvermerk geändert wurde.</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="TCLO_Ausgabestand">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TLO_Ausgabestand" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCLO_DB_Freigabe">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TLO_DB_Freigabe" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CObjektreferenzen">
		    <xs:sequence>
			      <xs:element name="DB_GDI_Referenz" type="nsBasisobjekte:TCDB_GDI_Referenz" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">IPID-Kennung des Objektes im DB-GIS Systems. Das Attribut ist optional. Die Kennung ist eindeutig einem konkreten Objekt im DB-GDI zugeordnet. Das Attribut ist dann zu befüllen, wenn Daten über Objekte aus dem DB-GIS verarbeitet werden.</xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:Patternbeschreibung>[1..20]</ppi:Patternbeschreibung>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Technischer_Platz" type="nsBasisobjekte:TCTechnischer_Platz"
                     minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Bezeichnung des zugehörigen Technischen Platzes im SAP-System. Das Attribut ist optional und enthält die Bezeichnung des zugehörigen technischen Platzes im SAP-System. Die Kennung ist eindeutig einem konkreten Objekt im SAP zugeordnet. Mehrere PlanPro-Objekte können auf den gleichen technischen Platz verweisen. Das Attribut ist dann zu befüllen, wenn Daten über Objekte aus einem Fremdsystem der DB AG mit Verweis auf einen Technischen Platz verarbeitet werden oder im Rahmen der Bestandserstellung die technischen Plätze zugewiesen werden. Es ist noch gesondert festzulegen, für welche PlanPro-Objekte technische Plätze zugewiesen werden.</xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:Patternbeschreibung>[30], nur Großbuchstaben, die Zahlen 0-9 und Bindestrich</ppi:Patternbeschreibung>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:simpleType name="TBearbeitungsvermerk_Kennung">
		    <xs:restriction base="nsBasisTypen:TZeichenkette"/>
	  </xs:simpleType>
	  <xs:simpleType name="TSeitlicher_Abstand">
		    <xs:restriction base="nsBasisTypen:TMeter">
			      <xs:pattern value="(-?[1-9][0-9]{0,4}\.[0-9]{3})|(-?0\.[89][0-9]{2})|0.000"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCBeschreibung">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TBeschreibung" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCDateiname">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisTypen:TDateiname" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCLST_Objekt_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:ENUMLST_Objekt_Art" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TIdentitaet">
		    <xs:restriction base="nsBasisTypen:TGUID"/>
	  </xs:simpleType>
	  <xs:complexType name="TCLO_Datum_Herstellung">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="xs:date" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCBestandsrelevanz">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:ENUMBestandsrelevanz" minOccurs="1"
                           maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TKurztext">
		    <xs:restriction base="nsBasisTypen:TText">
			      <xs:pattern value=".{1,100}"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCObjektzustand_Besonders">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:ENUMObjektzustand_Besonders" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TAbstand">
		    <xs:restriction base="nsBasisTypen:TMeter">
			      <xs:pattern value="(0|[1-9][0-9]{0,4})\.[0-9]{3}"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCTechnischer_Platz">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TTechnischer_Platz" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCLO_Ersatz">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="xs:boolean" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TBegrenzung_B">
		    <xs:restriction base="nsBasisTypen:TMeter">
			      <xs:pattern value="(0|[1-9][0-9]{0,4})\.[0-9]{3}"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="CPunkt_Objekt_TOP_Kante">
		    <xs:sequence>
			      <xs:element name="Abstand" type="nsBasisobjekte:TCAbstand" minOccurs="1" maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Abstand des Objekts vom Knoten A bezogen auf TOP_Kante in Metern. DB-Regelwerk Darstellung im sicherungstechnischen Lageplan</xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:PlanningStage>PT1</ppi:PlanningStage>
                     <ppi:Patternbeschreibung>[0.000..99999.999]</ppi:Patternbeschreibung>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="ID_TOP_Kante" type="nsVerweise:TCID_TOP_Kante" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis, an welcher Kante das Objekt verortet ist. Eine n-fache Einbindung der Attributgruppe erfolgt zum Verweis, an welcher Kante das Objekt noch verortet sein kann (sogenanntes Doppelpunkt-Objekt). Notwendig z. B. für: Grenzzeichen, W_Kr_Gsp_Komponente, Signale im Zungenbereich von Weichen. DB-Regelwerk Darstellung im sicherungstechnischen Lageplan </xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Wirkrichtung" type="nsBasisobjekte:TCWirkrichtung" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">(Fahrt-)Richtung, in die ein verortetes Objekt wirkt. Die Angabe \"in\", \"gegen\" bzw. \"beide\" bezieht sich auf die Topologierichtung der TOP Kante. Weitere Erläuterungen zu den verwendeten Richtungsbegriffen siehe Modellierung Richtung. Zur vererbungsspezifischen Befüllung siehe Modellierung Basisobjekte. DB-Regelwerk Darstellung im sicherungstechnischen Lageplan</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:choice minOccurs="1" maxOccurs="1">
				        <xs:element name="Seitliche_Lage" type="nsBasisobjekte:TCSeitliche_Lage" minOccurs="0"
                        maxOccurs="1">
					          <xs:annotation>
                  <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Angabe, ob sich das Punkt Objekt bezogen auf die Topologierichtung links oder rechts von der TOP Kante bzw. Gleisachse befindet. Das Attribut wird verwendet, wenn keine Vorgabe des Abstands von der Gleisachse notwendig ist (z. B. bei Anbringung an der linken oder rechten Fahrschiene) und soll als Alternative zum seitlichen Abstand verwendet werden. Es kann die Werte links, rechts annehmen. Zur vererbungsspezifischen Befüllung siehe Modellierung Basisobjekte.</xs:documentation>
               </xs:annotation>
				        </xs:element>
				        <xs:element name="Seitlicher_Abstand" type="nsBasisobjekte:TCSeitlicher_Abstand"
                        minOccurs="0"
                        maxOccurs="1">
					          <xs:annotation>
                  <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Gibt den orthogonalen seitlichen Abstand eines Elementes zur Gleisachse bezogen auf die Topologierichtung A - B der TOP Kante an: Anordnung des Elementes in Topologierichtung rechts: seitlicher Abstand ist ein positiver Wert. Anordnung des Elementes in Topologierichtung links: seitlicher Abstand ist ein negativer Wert. Die Wirkrichtung des verorteten Elements bleibt bei der Ermittlung des seitlichen Abstands unberücksichtigt. Weitere Erläuterungen zu den verwendeten Richtungsbegriffen siehe Modellierung Richtung. Im Datenmodell wird (teilweise abweichend von der bisherigen Praxis) der seitliche Abstand immer als Abstand Achse zu Achse (z. B. Gleisachse zu Achse des Signalfundaments bzw. Signalmastes) verstanden. Zur vererbungsspezifischen Befüllung siehe Modellierung Basisobjekte. Besonderheiten: Für Elemente, die an einer Fahrschiene angebracht sind (z.B. Entgleissungsschuhe, PZB-Magnete) ist das Attribut Seitliche Lage zu verwenden Für Elemente, die in der Gleismitte angeordnet werden sollen (z. B. Gleis Abschluss) bzw. die keinen realen Abstand haben (z. B. NB_Zone_Grenze), ist der Wert 0.000 zu verwenden. Fiktive Signale erhalten keinen seitlichen Abstand. Punkt_Objekte, die mehreren TOP_Kanten zugeordnet sind, erhalten nur zur nächstliegenden TOP_Kante einen seitlichen Abstand, wenn alle zugeordneten TOP_Kanten auf der selben Seite liegen (z. B. Weichensignal) bzw. nur zu der jeweils rechts und links nächstliegenden TOP_Kante einen seitlichen Abstand, wenn das Punkt_Objekt zwischen den zugeordneten TOP-Kanten liegt (z. B. Grenzzeichen). DB-Regelwerk Darstellung im sicherungstechnischen Lageplan</xs:documentation>
                  <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                     <ppi:WorkflowInformation>
                        <ppi:Patternbeschreibung>[-99999.999 bis -0.800, 0.000, 0.800 bis 99999.999]</ppi:Patternbeschreibung>
                     </ppi:WorkflowInformation>
                  </xs:appinfo>
               </xs:annotation>
				        </xs:element>
			      </xs:choice>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:simpleType name="TSeitliche_Lage">
		    <xs:restriction base="nsBasisTypen:TLinksRechts"/>
	  </xs:simpleType>
	  <xs:complexType name="CAnhang_Allg">
		    <xs:sequence>
			      <xs:element name="Anhang_Art" type="nsBasisobjekte:TCAnhang_Art" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Beinhaltet die Information über den fachlichen Inhalt des Anhangs. Bei Auswahl von \"sonstige\" ist der Anhang im dazugehörigen Bearbeitungsvermerk zu erläutern. Ggf. ist ein weiterer Bearbeitungsvermerk zur Kommentierung anzufügen. Das LST-Datenmodell enthält sowohl fachliche Anhänge (zu LST-Fachdaten) sowie Anhänge des Objektmanagements. Zu den Anhängen des Objektmanagements für eine Einzelplanung gehören: Abnahmeniederschrift Anhänge zu einem LST Zustand Information BAST Bestätigung der Gleichstellung Bestätigung der Qualitätsprüfung Bestätigung der Übernahme Erläuterungsbericht Bestätigung der Freigabe des Bvb Bestätigung der Genehmigung des AG/Bh/Bhv besondere Materialisierung (v. a. projektbezogene Wiederverwendung von LST-Reststoffen) Planverzeichnis Planprüfberichtbericht sonstige VzG </xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Dateiname" type="nsBasisobjekte:TCDateiname" minOccurs="1" maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Ursprünglicher Name der angehängten Datei ohne Dateiformat bzw. -typ.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Dateityp" type="nsBasisobjekte:TCDateityp" minOccurs="1" maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Format des Anhangs. Nur die im ENUM dargestellten Dateiarten können einer Planung angehangen werden. Andere Dateiarten sind aus Gründen der Nachprüfbarkeit und der Transparenz nicht zulässig. </xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Daten" type="nsBasisobjekte:TCDaten" minOccurs="0" maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Im base64-Format codierter Inhalt der Ursprungsdatei des Anhangs.</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="CBereich_Objekt" abstract="true">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Objekt, das einen Bereich über eine oder mehrere Gleiskanten ganz oder teilweise umfasst. Ein Bereich Objekt repräsentiert einen Bereich der Topologie, der sowohl zusammenhängend als auch nicht zusammenhängend sein kann. Ein Bereich Objekt wird über ein oder mehrere Teilbereiche (Bereich_Objekt_Teilbereich) beschrieben, die jeweils einen Abschnitt auf einer topologischen Kante darstellen. Ein Teilbereich definiert sich über die Referenz auf eine TOP Kante sowie den Abstand der beiden Teilbereichsgrenzen A und B zum Anfang der TOP Kante. Das Bereich Objekt kann in drei Arten eingeteilt werden: unverzweigt (z. B. Bahnsteig Kante, Fstr Fahrweg, BUE Gleisbezogener Gefahrraum) verzweigt (z. B. Gleis Schaltgruppe) verteilt (z. B. Gleis Baubereich) Unverzweigte und verzweigte Bereichsobjekte sind immer zusammenhängend. Verteilte Bereichsobjekte können in ihren Teilen verzweigt oder unverzweigt sein; hier gibt es keine Notwendigkeit der Unterscheidung. Zusätzlich kann ein Bereich Objekt gerichtet sein. Dies wird durch die Ausrichtung der Teilbereiche in Bezug auf die jeweilige TOP Kante erreicht. Die Konsistenz der Richtung des Bereich Objekt wird nicht durch das Modell sichergestellt. Die Teilbereiche müssen überschneidungsfrei definiert sein. Es ist möglich Teilbereiche der Länge 0 anzugeben. Ist es für ein Objekt notwendig, direkt auf eine Bereichsgrenze zu verweisen, dann muss dieses Problem im jeweiligen Arbeitspaket gelöst werden, in dem in diesem Arbeitspaket ein eigenes Punktobjekt erzeugt wird. Der Teilbereich endet dann unmittelbar vor dem TOP_Knoten. Speziell bei Weichenanfängen auf die Weichenspitze gesehen endet der Teilbereich am TOP Anschluss A = Spitze oder TOP Anschluss B = Spitze. Die Weiche selbst ist nicht Bestandteil des Bereichsobjektes. In den Bereichsobjekten sind Objekte zusammengefasst, die eine Quer- und/oder Längsausdehnung haben können.</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="Bereich_Objekt_Teilbereich"
                           type="nsBasisobjekte:CBereich_Objekt_Teilbereich"
                           minOccurs="1"
                           maxOccurs="unbounded"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CBasis_Objekt" abstract="true">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Allen Modell-Objekten zugrundeliegendes Objekt, welches gemeinsame Eigenschaften definiert. In den Basisobjekten werden grundsätzliche Eigenschaften definiert, die allen Objekten gemein sind. Alle im Datenmodell definierten LST-Objekte erben diese Eigenschaften unmittelbar, wie z.B. die Regelzeichnung, oder mittelbar, z.B. über das Punkt Objekt.</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CUr_Objekt">
				        <xs:sequence>
					          <xs:element name="Basis_Objekt_Allg" type="nsBasisobjekte:CBasis_Objekt_Allg" minOccurs="1"
                           maxOccurs="1"/>
					          <xs:element name="ID_Bearbeitungsvermerk" type="nsVerweise:TCID_Bearbeitungsvermerk"
                           minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweist auf einen oder mehrere Bearbeitungsvermerke. Ein Anhang wird über einen Bearbeitungsvermerk zugeordnet. </xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="Objektreferenzen" type="nsBasisobjekte:CObjektreferenzen" minOccurs="0"
                           maxOccurs="1"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCIdentitaet">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:TIdentitaet" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCDateityp">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisobjekte:ENUMDateityp" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="ENUMAnhang_Art">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="Abnahmeniederschrift"/>
			      <xs:enumeration value="Anbindung_IB2"/>
			      <xs:enumeration value="Anbindung_IB3"/>
			      <xs:enumeration value="BAST"/>
			      <xs:enumeration value="BELU"/>
			      <xs:enumeration value="Benutzeroberflaeche"/>
			      <xs:enumeration value="Bestaetig_Gleichstellung"/>
			      <xs:enumeration value="Bestaetig_Qualitaetspruefung"/>
			      <xs:enumeration value="Bestaetig_Uebernahme"/>
			      <xs:enumeration value="Freigabe_Bvb"/>
			      <xs:enumeration value="Genehmigung_AG_Bh_Bhv"/>
			      <xs:enumeration value="Material_Besonders"/>
			      <xs:enumeration value="Uebertragungswegeplan"/>
			      <xs:enumeration value="DWS"/>
			      <xs:enumeration value="Erlaeuterungsbericht"/>
			      <xs:enumeration value="Planverzeichnis"/>
			      <xs:enumeration value="Pruefbericht"/>
			      <xs:enumeration value="Regelwerksstand_Besonders"/>
			      <xs:enumeration value="VzG"/>
			      <xs:enumeration value="ZN_Raumplan_Bedienraum"/>
			      <xs:enumeration value="ZN_Raumplan_Rechnerraum"/>
			      <xs:enumeration value="GEO"/>
			      <xs:enumeration value="INA"/>
			      <xs:enumeration value="Moebelaufstellplan_Aufriss"/>
			      <xs:enumeration value="Moebelaufstellplan_Grundriss"/>
			      <xs:enumeration value="Monitoraufteilung"/>
			      <xs:enumeration value="Raumplan_Bedienraeume"/>
			      <xs:enumeration value="Raumplan_Rechnerraeume"/>
			      <xs:enumeration value="Richtungssinn"/>
			      <xs:enumeration value="sonstige"/>
			      <xs:enumeration value="Steuerbezirksuebersicht"/>
			      <xs:enumeration value="UiG"/>
			      <xs:enumeration value="Vorgabe"/>
			      <xs:enumeration value="Vorgabe_GBT"/>
			      <xs:enumeration value="ZiE"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="TTechnischer_Platz">
		    <xs:restriction base="nsBasisTypen:TText">
			      <xs:pattern value="[A-Z0-9\-]{30}"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="ENUMDateityp">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="jpg"/>
			      <xs:enumeration value="mpeg"/>
			      <xs:enumeration value="pdf"/>
			      <xs:enumeration value="png"/>
			      <xs:enumeration value="tif"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="TBegrenzung_A">
		    <xs:restriction base="nsBasisTypen:TMeter">
			      <xs:pattern value="(0|[1-9][0-9]{0,4})\.[0-9]{3}"/>
		    </xs:restriction>
	  </xs:simpleType>
</xs:schema>