java/bundles/org.eclipse.set.toolboxmodel/schema-planpro/Flankenschutz.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nsFlankenschutz="http://www.plan-pro.org/modell/Flankenschutz/1.9.0.2"
           xmlns:nsBasisobjekte="http://www.plan-pro.org/modell/Basisobjekte/1.9.0.2"
           xmlns:nsBasisTypen="http://www.plan-pro.org/modell/BasisTypen/1.9.0.2"
           xmlns:nsVerweise="http://www.plan-pro.org/modell/Verweise/1.9.0.2"
           targetNamespace="http://www.plan-pro.org/modell/Flankenschutz/1.9.0.2">
	  <xs:annotation>
		    <xs:documentation>Dieses Werk ist lizenziert unter der Open Source Lizenz RailPL V1.0.

Weitere Informationen zur Lizenz finden Sie auf
http://www.dbnetze.com/planpro

Inhalt der Datei:
XML Schema für PlanPro Schnittstelle.

Für Fragen zum Schema wenden Sie sich bitte an Herrn :

Reiner Brödel (reiner.broedel@deutschebahn.com, +49 30 297-57123)

--------------------------------------------------------------------------------

This Document is licensed under the open source license RailPL V1.0.

More information about the license can be found on
http://www.dbnetze.com/planpro

Contents of the file:
XML Schema for PlanPro interface.</xs:documentation>
	  </xs:annotation>
	  <xs:import namespace="http://www.plan-pro.org/modell/Verweise/1.9.0.2"
              schemaLocation="Verweise.xsd"/>
	  <xs:import namespace="http://www.plan-pro.org/modell/BasisTypen/1.9.0.2"
              schemaLocation="BasisTypen.xsd"/>
	  <xs:import namespace="http://www.plan-pro.org/modell/Basisobjekte/1.9.0.2"
              schemaLocation="Basisobjekte.xsd"/>
	  <xs:complexType name="TCFahrt_Ueber">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsFlankenschutz:ENUMFahrt_Ueber" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CFla_Schutz_Anforderer">
		    <xs:sequence>
			      <xs:element name="Fahrt_Ueber" type="nsFlankenschutz:TCFahrt_Ueber" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Beschreibung des Weichenanschlusses der Flankenschutz anfordernden Weiche. links/rechts: Der linke/rechte Strang der Weiche wird befahren, der jeweils andere sucht Flankenschutz. Spitze: Die nicht durch Verschluss befriedigte Flankenschutzanforderung, die auf eine Zwieschutzweiche trifft, wird über die Spitze der Zwieschutzweiche weitergegeben. DB-Regelwerk links/rechts: Flankenschutztabelle, Spalte 1 \"Fahrstraßen über\"; Spitze: Zwieschutzweichentabelle, indirekt über Spalte 4 \"Zwieschutzfall-Maßnahme\", wenn dort \"Fernschutz\" (eigentlich: Ersatzschutz) oder \"Verzicht\" ausgewählt ist. </xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="ID_Anforderer_Element" type="nsVerweise:TCID_Anforderer_Element"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Element, das den Flankenschutz anfordert. Flankenschutz können Weichen, Kreuzungen (W Kr Gsp Element) und Nahbedienbereiche (NB Zone Grenze) anfordern. Ist bei einer Zwieschutzweiche ein Ersatzschutz geplant, ist die Zwieschutzweiche der Anforderer. DB-Regelwerk Flankenschutztabelle, Spalten 1 \"Fahrstraßen über/Nahbedienbezirk\" und 2 \"Nahbediengrenze\"</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="TCMassnahme">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsFlankenschutz:ENUMMassnahme" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="ENUMZwieschutz_Art">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="echt"/>
			      <xs:enumeration value="echt_eigen"/>
			      <xs:enumeration value="eigen"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="CFla_Zwieschutz_Element">
		    <xs:sequence>
			      <xs:element name="ID_Fla_Schutz_L" type="nsVerweise:TCID_Fla_Schutz" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf die Ersatzschutzmaßnahme bei Fernschutz und Anforderung in Linkslage. DB-Regelwerk Zwieschutzweichentabelle, Spalten 5...7 \"direkt anschließender Flankenschutz\" und 8...9 \"Flankenschutz\"</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="ID_Fla_Schutz_R" type="nsVerweise:TCID_Fla_Schutz" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf die Ersatzschutzmaßnahme bei Fernschutz und Anforderung in Rechtslage. DB-Regelwerk Zwieschutzweichentabelle, Spalten 5...7 \"direkt anschließender Flankenschutz\" und 8...9 \"Flankenschutz\"</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Massnahme_L" type="nsFlankenschutz:TCMassnahme" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Maßnahme, durch die der Flankenschutz im linken Strang der Zwieschutzweiche hergestellt wird. Fernschutz: Der Flankenschutz wird durch das nächste Flankenschutzelement hergestellt. Verschluss: Die Flankenschutzweiche wird in der Linkslage verschlossen. Verzicht: Der Flankenschutz wird durch betriebliche Maßnahmen hergestellt; technisch wird darauf verzichtet. Die Maßnahmen beziehen sich nur auf den Zwieschutzfall. Wird die Weiche nur in einem Strang angefordert, wird sie regulär Flankenschutz bieten, wie es in der Flankenschutzplanung vorgesehen ist. DB-Regelwerk Zwieschutzweichentabelle, Spalte 4 \"Zwieschutzfall-Maßnahme\"</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Massnahme_R" type="nsFlankenschutz:TCMassnahme" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Maßnahme, durch die der Flankenschutz im rechten Strang der Zwieschutzweiche hergestellt wird. Fernschutz: Der Flankenschutz wird durch das nächste Flankenschutzelement hergestellt. Verschluss: Die Flankenschutzweiche wird in der Rechtslage verschlossen. Verzicht: Der Flankenschutz wird durch betriebliche Maßnahmen hergestellt; technisch wird darauf verzichtet. DB-Regelwerk Zwieschutzweichentabelle, Spalte 4 \"Zwieschutzfall-Maßnahme\"</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Nachlaufverhinderung" type="nsFlankenschutz:TCNachlaufverhinderung"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Das Nachlaufen der Weiche wird verhindert, wenn die Flankenschutzanforderung, für die der Verschluss projektiert ist, nicht mehr besteht. In der Regel wird für Eigenzwieschutzweichen die Nachlaufverhinderung projektiert. DB-Regelwerk Zwieschutzweichentabelle, Spalten 10 und 11 \"Zwieschutzweiche mit/ohne Nachlaufverhinderung\"</xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:ProposedValue>true</ppi:ProposedValue>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="CFla_Freimelde_Zuordnung">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Zuordnung der freizuprüfenden Freimeldeabschnitte zur jeweiligen Flankenschutzmaßnahme. DB-Regelwerk Flankenschutztabelle, Spalte 10 \"überwachter Schutzraum\"</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="Fla_Raum_Freimeldung" type="nsFlankenschutz:TCFla_Raum_Freimeldung"
                           minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Angabe, ob eine Freimeldung des Freimeldeabschnitts im Flankenschutzraum erfolgen soll (true) oder nicht (false). In der Regel werden die Freimeldeabschnitte des Flankenschutzraumes freigemeldet. Im Ausnahmefall kann bei Fernschutz auf die Freimeldung verzichtet werden (Lastenheft F1 Abschnitt Z 4.4.10). DB-Regelwerk Das Datum ist im jetzigen PT 1 höchstens unformal (Fußnote, Erläuterungsbericht) enthalten.</xs:documentation>
                     <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                        <ppi:WorkflowInformation>
                           <ppi:ProposedValue>true</ppi:ProposedValue>
                        </ppi:WorkflowInformation>
                     </xs:appinfo>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_Fla_Schutz" type="nsVerweise:TCID_Fla_Schutz" minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Zuordnung des Flankenschutzfalls zu den dafür freizumeldenden Gleisfreimeldeabschnitten. DB-Regelwerk Flankenschutztabelle, Zeile. </xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_FMA_Anlage" type="nsVerweise:TCID_FMA_Anlage" minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Beschreibung des freizuprüfenden Flankenschutzraums. DB-Regelwerk Flankenschutztabelle, Spalte 10: \"überwachter Schutzraum\". </xs:documentation>
                  </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="ENUMFahrt_Ueber">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="links"/>
			      <xs:enumeration value="rechts"/>
			      <xs:enumeration value="Spitze"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCZwieschutz_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsFlankenschutz:ENUMZwieschutz_Art" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CFla_Schutz_Weitergabe">
		    <xs:sequence>
			      <xs:element name="ID_Fla_Weitergabe_L" type="nsVerweise:TCID_Fla_Schutz" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf die Flankenschutzmaßnahme bei Weitergabe der Flankenschutzanforderung im linken Strang der Flankenschutztransportweiche. DB-Regelwerk Flankenschutztabelle, Spalten 6 \"Weitergabe über Weiche, Kreuzung\" und 7 \"wie Fahrt über deren Strang\" mit Ausfüllung \"L\" (Links)</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="ID_Fla_Weitergabe_R" type="nsVerweise:TCID_Fla_Schutz" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf die Flankenschutzmaßnahme bei Weitergabe der Flankenschutzanforderung im rechten Strang der Flankenschutztransportweiche. DB-Regelwerk Flankenschutztabelle, Spalten 6 \"Weitergabe über Weiche, Kreuzung\" und 7 \"wie Fahrt über deren Strang\" mit Ausfüllung \"R\" (Rechts)</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="TCNachlaufverhinderung">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="xs:boolean" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCFla_Raum_Freimeldung">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="xs:boolean" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CFla_Schutz">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Darstellung der technischen Maßnahmen, um Flankenschutz zu gewährleisten. DB-Regelwerk 819.0505 </xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="Fla_Schutz_Anforderer" type="nsFlankenschutz:CFla_Schutz_Anforderer"
                           minOccurs="1"
                           maxOccurs="1"/>
					          <xs:element name="ID_Fla_Weitergabe_EKW" type="nsVerweise:TCID_Fla_Schutz" minOccurs="0"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Zusätzliche Flankenschutzweitergabe bei Flankenschutzanforderung durch eine EKW. Die zusätzliche Weitergabe wird nicht wirksam, wenn die Flankenschutzanforderung der EKW nur durch einen Flankenschutztransport ausgelöst wird. Siehe auch Flankenschutz EKW. DB-Regelwerk Flankenschutztabelle, Fußnote</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:choice minOccurs="1" maxOccurs="1">
						            <xs:element name="Fla_Schutz_Signal" type="nsFlankenschutz:CFla_Schutz_Signal"
                              minOccurs="1"
                              maxOccurs="1"/>
						            <xs:element name="Fla_Schutz_W_Gsp" type="nsFlankenschutz:CFla_Schutz_W_Gsp" minOccurs="1"
                              maxOccurs="1"/>
						            <xs:element name="Fla_Schutz_Weitergabe" type="nsFlankenschutz:CFla_Schutz_Weitergabe"
                              minOccurs="1"
                              maxOccurs="1"/>
						            <xs:element name="Fla_Verzicht" type="nsFlankenschutz:TCFla_Verzicht" minOccurs="1"
                              maxOccurs="1">
							              <xs:annotation>
                        <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Auswahl der Maßnahme \"Verzicht\" für den Flankenschutz. Der Flankenschutz wird durch betriebliche Maßnahmen hergestellt (mittelbarer Flankenschutz). Die Maßnahmen \"unmittelbar\" und \"Weitergabe\" sind aus der Befüllung anderer Attribute erkennbar, deshalb muss nur die Maßnahme \"Verzicht\" explizit angegeben werden. DB-Regelwerk Flankenschutztabelle, Spalte 8 \"Flankenschutzumkehr, Verzicht\"</xs:documentation>
                     </xs:annotation>
						            </xs:element>
					          </xs:choice>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCFla_W_Lage">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsFlankenschutz:TFla_W_Lage" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CFla_Schutz_Signal">
		    <xs:sequence>
			      <xs:element name="Fla_Signal_Zielsperrung" type="nsFlankenschutz:TCFla_Signal_Zielsperrung"
                     minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Belegung des Signals mit einer Zielsperre für Rangierstraßen, während der Beanspruchung als Flankenschutz bietendes Element. Das Attribut ist nur dann sinnvoll füllbar, wenn das betreffende Signal Ziel einer Rangierstraße ist. Betrieblich wird diese Maßnahme \"Doppelter Lichtschutz\" genannt. DB-Regelwerk Flankenschutztabelle, Fußnote</xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:ProposedValue>false</ppi:ProposedValue>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="ID_Fla_Signal" type="nsVerweise:TCID_Signal" minOccurs="1" maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf das Signal, das unmittelbar an die Weiche angrenzt und Flankenschutz bietet. Steht das Signal nicht grenzzeichenfrei an der Flankenschutz suchenden Weiche, so wird dies nicht explizit im Datenmodell gespeichert. Stattdessen wird das nächste Flankenschutz bietende Element als Flankenschutzmaßnahme geplant. DB-Regelwerk Flankenschutztabelle, Spalte 5 \"Hp 0\"</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="CFla_Zwieschutz">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Beschreibung der Verhaltensweise einer Zwieschutzweiche, wenn sie gleichzeitig in beiden Stellungen für den Flankenschutz angefordert wird. DB-Regelwerk Zwieschutzweichentabelle</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="Fla_Zwieschutz_Element" type="nsFlankenschutz:CFla_Zwieschutz_Element"
                           minOccurs="1"
                           maxOccurs="1"/>
					          <xs:element name="ID_W_Element" type="nsVerweise:TCID_W_Kr_Gsp_Element" minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf die Zwieschutzweiche. DB-Regelwerk Fla Zwieschutz: Zwieschutzweichentabelle, Spalte 1: \"Weiche/Kreuzung in angeforderter Weichenstellung\"</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="Zwieschutz_Art" type="nsFlankenschutz:TCZwieschutz_Art" minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Charakter der Zwieschutzweiche. Echte Zwieschutzweiche: Flankenschutzweiche, die durch unabhängige Fahrten in beiden Stellungen angefordert wird. Ohne spezielle Behandlung kann nur eine der beiden Fahrten zu einem Zeitpunkt eingestellt sein, da sich durch die Zwieschutzweiche ein Fahrstraßenausschluss ergibt. Eigenzwieschutzweiche: Flankenschutzweiche, die durch die gleiche Fahrt in beiden Stellungen angefordert wird. Ohne spezielle Behandlung kann die Fahrt nicht eingestellt werden. Eine Zwieschutzweiche kann gleichzeitig beide Charaktere annehmen. DB-Regelwerk Zwieschutzweichentabelle, Spalte 2 \"Zwieschutzweiche - Eigen\" und Spalte 3 \"Zwieschutzweiche - Echt\"</xs:documentation>
                  </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TFla_W_Lage">
		    <xs:restriction base="nsBasisTypen:TLinksRechts"/>
	  </xs:simpleType>
	  <xs:complexType name="CFla_Schutz_W_Gsp">
		    <xs:sequence>
			      <xs:element name="Fla_W_Lage" type="nsFlankenschutz:TCFla_W_Lage" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Lage der Flankenschutz bietenden Weiche. DB-Regelwerk Flankenschutztabelle, Spalte 3 \"Weiche Gs\"</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="ID_Fla_W_Gsp_Element" type="nsVerweise:TCID_W_Kr_Gsp_Element"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf die Flankenschutz bietende Weiche oder Gleissperre. DB-Regelwerk Flankenschutztabelle, Spalte 3 \"Weiche Gs\"</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:simpleType name="ENUMMassnahme">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="Fernschutz"/>
			      <xs:enumeration value="Verschluss"/>
			      <xs:enumeration value="Verschluss_Fernschutz"/>
			      <xs:enumeration value="Verzicht"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCFla_Signal_Zielsperrung">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="xs:boolean" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCFla_Verzicht">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="xs:boolean" minOccurs="1" maxOccurs="1" nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
</xs:schema>