java/bundles/org.eclipse.set.toolboxmodel/schema-toolbox/Ansteuerung_Element.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
            xmlns:func="localhost/function"
            xmlns:nsAnsteuerung_Element="http://www.plan-pro.org/modell/Ansteuerung_Element/toolbox"
            xmlns:nsBahnsteig="http://www.plan-pro.org/modell/Bahnsteig/toolbox"
            xmlns:nsBahnuebergang="http://www.plan-pro.org/modell/Bahnuebergang/toolbox"
            xmlns:nsBalisentechnik_ETCS="http://www.plan-pro.org/modell/Balisentechnik_ETCS/toolbox"
            xmlns:nsBasisTypen="http://www.plan-pro.org/modell/BasisTypen/toolbox"
            xmlns:nsBasisobjekte="http://www.plan-pro.org/modell/Basisobjekte/toolbox"
            xmlns:nsBedienung="http://www.plan-pro.org/modell/Bedienung/toolbox"
            xmlns:nsBlock="http://www.plan-pro.org/modell/Block/toolbox"
            xmlns:nsFahrstrasse="http://www.plan-pro.org/modell/Fahrstrasse/toolbox"
            xmlns:nsFlankenschutz="http://www.plan-pro.org/modell/Flankenschutz/toolbox"
            xmlns:nsGeodaten="http://www.plan-pro.org/modell/Geodaten/toolbox"
            xmlns:nsGleis="http://www.plan-pro.org/modell/Gleis/toolbox"
            xmlns:nsMedien_und_Trassen="http://www.plan-pro.org/modell/Medien_und_Trassen/toolbox"
            xmlns:nsNahbedienbereich="http://www.plan-pro.org/modell/Nahbedienbereich/toolbox"
            xmlns:nsOrtung="http://www.plan-pro.org/modell/Ortung/toolbox"
            xmlns:nsPZB="http://www.plan-pro.org/modell/PZB/toolbox"
            xmlns:nsPlanPro="http://www.plan-pro.org/modell/PlanPro/toolbox"
            xmlns:nsRegelzeichnung="http://www.plan-pro.org/modell/Regelzeichnung/toolbox"
            xmlns:nsSchluesselabhaengigkeiten="http://www.plan-pro.org/modell/Schluesselabhaengigkeiten/toolbox"
            xmlns:nsSignalbegriffe_Ril_301="http://www.plan-pro.org/modell/Signalbegriffe_Ril_301/toolbox"
            xmlns:nsSignalbegriffe_Struktur="http://www.plan-pro.org/modell/Signalbegriffe_Struktur/toolbox"
            xmlns:nsSignale="http://www.plan-pro.org/modell/Signale/toolbox"
            xmlns:nsVerweise="http://www.plan-pro.org/modell/Verweise/toolbox"
            xmlns:nsWeichen_und_Gleissperren="http://www.plan-pro.org/modell/Weichen_und_Gleissperren/toolbox"
            xmlns:nsZuglenkung="http://www.plan-pro.org/modell/Zuglenkung/toolbox"
            xmlns:nsZugnummernmeldeanlage="http://www.plan-pro.org/modell/Zugnummernmeldeanlage/toolbox"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            ecore:nsPrefix="nsAnsteuerung_Element"
            ecore:package="org.eclipse.set.toolboxmodel.Ansteuerung_Element"
            targetNamespace="http://www.plan-pro.org/modell/Ansteuerung_Element/toolbox">
   <xs:import namespace="http://www.plan-pro.org/modell/Bahnsteig/toolbox"
               schemaLocation="Bahnsteig.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Bahnuebergang/toolbox"
               schemaLocation="Bahnuebergang.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Balisentechnik_ETCS/toolbox"
               schemaLocation="Balisentechnik_ETCS.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Basisobjekte/toolbox"
               schemaLocation="Basisobjekte.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/BasisTypen/toolbox"
               schemaLocation="BasisTypen.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Bedienung/toolbox"
               schemaLocation="Bedienung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Block/toolbox"
               schemaLocation="Block.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Fahrstrasse/toolbox"
               schemaLocation="Fahrstrasse.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Flankenschutz/toolbox"
               schemaLocation="Flankenschutz.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Geodaten/toolbox"
               schemaLocation="Geodaten.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Gleis/toolbox"
               schemaLocation="Gleis.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Medien_und_Trassen/toolbox"
               schemaLocation="Medien_und_Trassen.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Nahbedienbereich/toolbox"
               schemaLocation="Nahbedienbereich.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Ortung/toolbox"
               schemaLocation="Ortung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/PlanPro/toolbox"
               schemaLocation="PlanPro.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/PZB/toolbox"
               schemaLocation="PZB.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Regelzeichnung/toolbox"
               schemaLocation="Regelzeichnung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Schluesselabhaengigkeiten/toolbox"
               schemaLocation="Schluesselabhaengigkeiten.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Signalbegriffe_Ril_301/toolbox"
               schemaLocation="Signalbegriffe_Ril_301.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Signalbegriffe_Struktur/toolbox"
               schemaLocation="Signalbegriffe_Struktur.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Signale/toolbox"
               schemaLocation="Signale.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Verweise/toolbox"
               schemaLocation="Verweise.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Weichen_und_Gleissperren/toolbox"
               schemaLocation="Weichen_und_Gleissperren.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Zuglenkung/toolbox"
               schemaLocation="Zuglenkung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Zugnummernmeldeanlage/toolbox"
               schemaLocation="Zugnummernmeldeanlage.xsd"/>
   <xs:annotation>
      <xs:documentation>Dieses Werk ist lizenziert unter der Open Source Lizenz RailPL V1.0.

Weitere Informationen zur Lizenz finden Sie auf
http://www.dbnetze.com/planpro

Inhalt der Datei:
XML Schema für PlanPro Schnittstelle.

Für Fragen zum Schema wenden Sie sich bitte an Herrn :

Reiner Brödel (reiner.broedel@deutschebahn.com, +49 30 297-57123)

--------------------------------------------------------------------------------

This Document is licensed under the open source license RailPL V1.0.

More information about the license can be found on
http://www.dbnetze.com/planpro

Contents of the file:
XML Schema for PlanPro interface.</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="ENUMMedium_Art">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMMedium_Art_Kupfer_ADO8" value="Kupfer_ADO8"/>
         <xs:enumeration ecore:name="ENUMMedium_Art_Kupfer_KAG" value="Kupfer_KAG"/>
         <xs:enumeration ecore:name="ENUMMedium_Art_Kupfer_LSA_Plus" value="Kupfer_LSA_Plus"/>
         <xs:enumeration ecore:name="ENUMMedium_Art_Kupfer_RJ45" value="Kupfer_RJ45"/>
         <xs:enumeration ecore:name="ENUMMedium_Art_LWL_DIN" value="LWL_DIN"/>
         <xs:enumeration ecore:name="ENUMMedium_Art_LWL_E2000" value="LWL_E2000"/>
         <xs:enumeration ecore:name="ENUMMedium_Art_LWL_SC_LC" value="LWL_SC_LC"/>
         <xs:enumeration ecore:name="ENUMMedium_Art_sonstige" value="sonstige"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ENUMUnterbringung_Befestigung">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMUnterbringung_Befestigung_Fundament" value="Fundament"/>
         <xs:enumeration ecore:name="ENUMUnterbringung_Befestigung_Gebaeude" value="Gebaeude"/>
         <xs:enumeration ecore:name="ENUMUnterbringung_Befestigung_Mauer" value="Mauer"/>
         <xs:enumeration ecore:name="ENUMUnterbringung_Befestigung_Pfosten" value="Pfosten"/>
         <xs:enumeration ecore:name="ENUMUnterbringung_Befestigung_Signalausleger"
                          value="Signalausleger"/>
         <xs:enumeration ecore:name="ENUMUnterbringung_Befestigung_Signalbruecke"
                          value="Signalbruecke"/>
         <xs:enumeration ecore:name="ENUMUnterbringung_Befestigung_Signalmast"
                          value="Signalmast"/>
         <xs:enumeration ecore:name="ENUMUnterbringung_Befestigung_sonstige" value="sonstige"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="GFK_Kategorie_TypeClass" name="TCGFK_Kategorie">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:ENUMGFK_Kategorie"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Bandbreite_TypeClass" name="TCBandbreite">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:ENUMBandbreite"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Uebertragungsweg_Technik_AttributeGroup"
                    name="CUebertragungsweg_Technik">
      <xs:sequence>
         <xs:element name="Bandbreite"
                      type="nsAnsteuerung_Element:TCBandbreite"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Beschreibt die nötige Bandbreite des Übertragungsweges. Beispiel: 2Mbit_s bei UZ-BZ-Verbindung.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Medium_Art"
                      type="nsAnsteuerung_Element:TCMedium_Art"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Beschreibt den Übergabepunkt des Übertragungsweges in dessen physikalischer Ausprägung. Beispiel: ADO8-Dose bei ZBS-Verbindung, RJ45-Port bei UZ-BZ-Verbindung.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Netz_Art"
                      type="nsAnsteuerung_Element:TCNetz_Art"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Beschreibt die Art des Übertragungsnetzes, ggf. auch die Anforderungen. Beispiel: geschlossenes Netz oder offenes Netz bei der ZBS-Verbindung.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Technik_Art"
                      type="nsAnsteuerung_Element:TCTechnik_Art"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Technische Ausprägung der physikalischen Schnittstelle. Beispiel: G.703, Ethernet oder LWL_Faser.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Technik_Beschreibung"
                      type="nsAnsteuerung_Element:TCTechnik_Beschreibung"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Beschreibung der technischen Realisierung des Übertragungsweges in Textform.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Medium_Art_TypeClass" name="TCMedium_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:ENUMMedium_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="ESTW_Zentraleinheit" name="CESTW_Zentraleinheit">
      <xs:annotation>
         <xs:documentation>Zentrale Komponente eines ESTW. Die ESTW-Zentraleinheit (ZE) steuert alle untergeordneten Aussenelementansteuerungen, stellt die Verbindung zu den Bedienbezirken (Notbedienplatz, Steuerbezirk/Zentralbedienung) und zu Nachbar-ESTW-Zentraleinheiten, zur Zuglenkung und zur Zugnummernmeldeanlage her. Die ZE kann ein ESTW-Z oder eine ESTW-UZ sein. Die geografische Grenze einer ZE liegt immer an einem Haupt- oder Sperrsignal (Signal_Real_Aktiv) oder einem Bedienpunkt (Signal_Fiktiv), in der Regel an einem Einfahrsignal. Die von einer Unterzentrale benötigten Adressformeln nach Richtlinie 819.0705 werden über die Verknüpfung zu Bedien Bezirk bereitgestellt. DB-Regelwerk Darstellung des ESTW-Gebäudes im sicherungstechnischen Lageplan nach Ril 819.9002, Beschreibung im Erläuterungsbericht</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBasis_Objekt">
            <xs:sequence>
               <xs:element name="Bezeichnung"
                            type="nsAnsteuerung_Element:CESTW_Zentraleinheit_Bezeichnung"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Attributgruppe zur Bezeichnung von Stell- und sonstigen Elementen. Sofern ausreichend, wird an dieser Stelle über Vererbung die Basisattributgruppe Bezeichnung Element eingebunden. Ist die Abbildung mit den Attributen der Basisattributgruppe nicht möglich (z. B. wegen spezieller Patternvorgabe) oder nicht sinnvoll (z. B. weil eine Unterscheidung nach Bezeichnung_Lageplan_..., Bezeichnung_Tabelle und Bezeichnung_Aussenanlage (Pflichtattribute!) nicht notwendig ist), werden in der Attributgruppe Bezeichnung entsprechende objektspezifische Bezeichnungsattribute modelliert. Diese sind nach dem Schema Bezeichnung_[Objektname] zu benennen. Zudem ist es möglich, gleichzeitig die Basisattributgruppe Bezeichnung Element und objektspezifische Attribute einzubinden. Siehe auch Bildung der Bezeichnungen. DB-Regelwerk Sicherungstechnischer Lage- und Übersichtsplan, BÜ-Lageplan Planungstabellen </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ESTW_Zentraleinheit_Allg"
                            type="nsAnsteuerung_Element:CESTW_Zentraleinheit_Allg"
                            minOccurs="1"
                            maxOccurs="1"/>
               <xs:element name="ID_Oertlichkeit_Namensgebend"
                            type="xs:anyURI"
                            ecore:reference="nsGeodaten:COertlichkeit"
                            nillable="true"
                            minOccurs="0"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Örtlichkeit, die für die ESTW-Zentraleinheit namensgebend ist.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Unterbringung"
                            type="xs:anyURI"
                            ecore:reference="nsBasisobjekte:CBasis_Objekt"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf den physischen Ort der Unterbringung von Aussenelementansteuerung, Bedien Einrichtung Oertlich, Bedien Platz, ESTW Zentraleinheit, PZB Element, Schlosskombination, Schluesselsperre und ZN. Für das PZB Element wird der Verweis nur für eine GÜ gefüllt - mit der Bedeutung: GÜ-Schaltkasten. Für die ZN ist der Verweis optional, da im Planungswerkzeug ZN/ZL keine Befüllung aller der für die Unterbringung notwendigen Attribute möglich ist. DB-Regelwerk Darstellung des Gebäudes, der Bediensäule bzw. des Schaltkastens im sicherungstechnischen Lageplan nach Ril 819.9002 oder Beschreibung im Erläuterungsbericht.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element name="ID_Bedien_Bezirk_Virtuell"
                               type="xs:anyURI"
                               ecore:reference="nsBedienung:CBedien_Bezirk"
                               nillable="true"
                               minOccurs="0"
                               maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>Virtuelle bzw. vorbereitende Zuordnung der ESTW Zentraleinheit zu einem Bedien Bezirk. Der Verweis wird gefüllt, sofern ein Stellwerk (noch) nicht in ESTW-Technik realisiert ist bzw. die Zuordnung zum Regionalnetz oder Fern- und Ballungsnetz noch offen ist. Die Zuordnung erfolgt, um jegliche spätere Realisierungsform zu ermöglichen und auch die Kennzahlenvergabe sicher zu gestalten. Die Befüllung ist alternativ zu ID Bedien Bezirk Zentral. DB-Regelwerk Diverse Listen und Erläuterungsbericht des BZ-PT 1</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ID_Bedien_Bezirk_Zentral"
                               type="xs:anyURI"
                               ecore:reference="nsBedienung:CBedien_Bezirk"
                               nillable="true"
                               minOccurs="0"
                               maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>Verweis auf einen Bedien Bezirk, sofern eine zentrale Bedienung in einer Bedien Zentrale, Regio-BZ oder einem sonstigen Technikstandort stattfindet. Die Befüllung ist alternativ zum Verweis ID Bedien Bezirk Virtuell. DB-Regelwerk Diverse Listen und Erläuterungsbericht des BZ-PT 1</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Bezeichnung_TSO_TypeClass" name="TCBezeichnung_TSO">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:TBezeichnung_TSO"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="IP_Adressblock_Blau_TypeClass" name="TCIP_Adressblock_Blau">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:TIP_Adressblock_Blau"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Technik_Standort_Bezeichnung_AttributeGroup"
                    name="CTechnik_Standort_Bezeichnung">
      <xs:annotation>
         <xs:documentation>Bezeichnung des Technikstandorts</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Bezeichnung_TSO"
                      type="nsAnsteuerung_Element:TCBezeichnung_TSO"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Bezeichnung des Technik-Standorts.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="ENUMEV_Art">
      <xs:annotation>
         <xs:documentation>VNB: Versorgungsnetzbetreiber; NEA: Netzersatzaggregat</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMEV_Art_andere_Aussenelementansteuerung"
                          value="andere_Aussenelementansteuerung"/>
         <xs:enumeration ecore:name="ENUMEV_Art_FeAk_400V_DC_direkt" value="FeAk_400V_DC_direkt"/>
         <xs:enumeration ecore:name="ENUMEV_Art_FeAk_750V_DC_Energiebus"
                          value="FeAk_750V_DC_Energiebus"/>
         <xs:enumeration ecore:name="ENUMEV_Art_Landesnetz_VNB" value="Landesnetz_VNB"/>
         <xs:enumeration ecore:name="ENUMEV_Art_Notstromaggregat_NEA_mobil"
                          value="Notstromaggregat_NEA_mobil"/>
         <xs:enumeration ecore:name="ENUMEV_Art_Notstromaggregat_NEA_stationaer"
                          value="Notstromaggregat_NEA_stationaer"/>
         <xs:enumeration ecore:name="ENUMEV_Art_Solar" value="Solar"/>
         <xs:enumeration ecore:name="ENUMEV_Art_Batterie" value="Batterie"/>
         <xs:enumeration ecore:name="ENUMEV_Art_sonstige" value="sonstige"/>
         <xs:enumeration ecore:name="ENUMEV_Art_BUE" value="BUE"/>
         <xs:enumeration ecore:name="ENUMEV_Art_ESTW_Zentraleinheit" value="ESTW_Zentraleinheit"/>
         <xs:enumeration ecore:name="ENUMEV_Art_Fahrleitung" value="Fahrleitung"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Technik_Standort" name="CTechnik_Standort">
      <xs:annotation>
         <xs:documentation>Bei DSTW: Bündelung der technischen Anlagen für ESTW_Zentraleinheit, Telekommunikation, Prozessdaten- und Diagnoseschnittstellen sowie die zugehörige technische Gebäudeausrüstung. Je Netzbezirk ist ein Technikstandort vorgesehen.</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBasis_Objekt">
            <xs:sequence>
               <xs:element name="Bezeichnung"
                            type="nsAnsteuerung_Element:CTechnik_Standort_Bezeichnung"
                            minOccurs="1"
                            maxOccurs="1"/>
               <xs:element name="ID_Bedien_Standort"
                            type="xs:anyURI"
                            ecore:reference="nsBedienung:CBedien_Standort"
                            nillable="true"
                            minOccurs="0"
                            maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Verweis auf den Bedien-Standort, von dem aus der Technik-Standort bedient wird. Der Verweis dient der Abbildung der vorgesehenen n zu m-Zuordnung zwischen TSO und BSO. Die Angabe erfolgt im Rahmen der Planung des Untergewerks Bedienung Fdl.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Unterbringung"
                            type="xs:anyURI"
                            ecore:reference="nsAnsteuerung_Element:CUnterbringung"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf die Unterbringung (Gebäude), in der der Technik-Standort untergebracht ist.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TSO_IP_Adressblock"
                            type="nsAnsteuerung_Element:CTSO_IP_Adressblock"
                            minOccurs="0"
                            maxOccurs="1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="Bezeichnung_TSO_Type" name="TBezeichnung_TSO">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:complexType ecore:name="AEA_Allg_AttributeGroup" name="CAEA_Allg">
      <xs:sequence>
         <xs:element name="Aussenelementansteuerung_Art"
                      type="nsAnsteuerung_Element:TCAussenelementansteuerung_Art"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Art der Aussenelementansteuerung (herstellerneutral). ESTW_A: Für konventionelle ESTW-Strukturen ist die AEA in der Regel das ESTW-A (mit Ausnahme des Schaltkastens am Signal in bestimmten Fällen als Objektcontroller, siehe Aussenelementansteuerung). Objektcontroller: In neuerer ESTW-Technik wird zunehmend der Objektcontroller (auch kaskadiert) verwendet. Gleisfreimelde_Innenanlage: Einheit, die die logische Aufbereitung der Informationen der Freimeldeanlage übernimmt (z. B. Achszählrechner) und nicht direkt einem ESTW-A zugeordnet ist. Relaisstellwerk: Die AEA besteht aus einem (über die ESTW-ZE ferngesteuerten) Relaisstellwerk. virtuelle_Aussenelementansteuerung: Die virtuelle Aussenelementansteuerung wird verwendet, wenn die Struktur der Aussenelementansteuerungen (zwischen ESTW Zentraleinheit und Stellelement während der PT 1-Planung noch nicht klar ist. Eine virtuelle Aussenelementansteuerung soll den Bereich einer maßgebenden Örtlichkeit (z. B. ein Bf) umfassen. Im nicht firmenneutralen Teil der Planung (u. a. Kabelplanung) muss dann die virtuelle AEA durch die tatsächliche Struktur der AEA ersetzt werden. sonstige: Alle mit den übrigen ENUM nicht beschreibbare Arten. Ein Bearbeitungsvermerk muss angegeben werden. Siehe auch Bauart. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Bauart"
                      type="nsAnsteuerung_Element:TCBauart"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Herstellerbezogene Bauart der Steuerung. Das Attribut beschreibt im Gegensatz zu Aussenelementansteuerung Art bzw. Hersteller die herstellerbezogene Bauart der Steuerung. Es ist ein Rücklaufdatum der AP PT 2 und dient der Bestandsdatenverwaltung. Beispiel: Aussenelementansteuerung_Art == ESTW_A, Bauart == "Jüdel E8001". DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType ecore:name="IP_Adressblock_Grau_V4_Type" name="TIP_Adressblock_Grau_V4">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:simpleType ecore:name="Bezeichnung_AEA_Type" name="TBezeichnung_AEA">
      <xs:restriction base="nsBasisTypen:TText">
         <xs:pattern value=".{1,30}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Unterbringung" name="CUnterbringung">
      <xs:annotation>
         <xs:documentation>Ort der Anordnung von nicht an das Gleis gebundenen Komponenten. Die Verortung der U. erfolgt entweder analog zum Punkt Objekt, mit einem GEO Punkt oder durch einen beschreibenden Text. Eine U. beschreibt in der Regel die Umhausung der Komponente. Ist sie nicht eingehaust, wird als Unterbringung Art "keine" angegeben. In diesen Fällen hat die Komponente dennoch eine Unterbringung Befestigung. Das ist z. B. der Fall, wenn eine wetterfeste Komponente (z. B. Schlüsselschalter) ohne Einhausung direkt an einem Pfosten befestigt ist. In einer U. können mehrere LST-Objekte untergebracht sein. Eine U. ist z. B. ein Betonschalthaus oder ein Schaltkasten. DB-Regelwerk Darstellung des Gebäudes im sicherungstechnischen Lageplan nach Ril 819.9002 oder Beschreibung im Erläuterungsbericht</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBasis_Objekt">
            <xs:sequence>
               <xs:element name="Punkt_Objekt_Strecke"
                            type="nsBasisobjekte:CPunkt_Objekt_Strecke"
                            minOccurs="0"
                            maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Attributgruppe zur Zuordnung eines Objektes zu einer Strecke. Zur vererbungsspezifischen Befüllung der Attributgruppe siehe Modellierung Basisobjekte.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Unterbringung_Allg"
                            type="nsAnsteuerung_Element:CUnterbringung_Allg"
                            minOccurs="1"
                            maxOccurs="1"/>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element name="ID_GEO_Punkt"
                               type="xs:anyURI"
                               ecore:reference="nsGeodaten:CGEO_Punkt"
                               nillable="true"
                               minOccurs="1"
                               maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>Verweis auf einen GEO Punkt, der eine Verortung über x- und y-Koordinate ermöglicht. DB-Regelwerk ESTW: Darstellung im sicherungstechnischen Lageplan. </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="Punkt_Objekt_TOP_Kante"
                               type="nsBasisobjekte:CPunkt_Objekt_TOP_Kante"
                               minOccurs="1"
                               maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>Attributgruppe zur Verortung eines Objektes an der Topologie. Die vererbungsspezifische Befüllung der zugehörigen Attribute wird auf der Seite Modellierung Basisobjekte beschrieben. Durch die mögliche Mehrfacheinbindung der Attributgruppe ist es möglich, ein Objekt (z. B. Grenzzeichen) mehreren topologischen Kanten zuzuordnen. DB-Regelwerk Darstellung im sicherungstechnischen Lageplan</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="Standort_Beschreibung"
                               type="nsAnsteuerung_Element:TCStandort_Beschreibung"
                               minOccurs="1"
                               maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>Textuelle Beschreibung des Standorts der Unterbringung. Das Attribut wird genutzt, wenn eine punktförmige Verortung nicht möglich ist, z. B. aufgrund der großen Entfernung des Standorts und der somit bedingten Lage außerhalb des Planungs- oder Betrachtungsbereichs.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Technik_Beschreibung_TypeClass"
                    name="TCTechnik_Beschreibung">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:TTechnik_Beschreibung"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="Standort_Beschreibung_Type" name="TStandort_Beschreibung">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:complexType ecore:name="Standort_Beschreibung_TypeClass"
                    name="TCStandort_Beschreibung">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:TStandort_Beschreibung"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ENUMUnterbringung_Art">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMUnterbringung_Art_Antrieb" value="Antrieb"/>
         <xs:enumeration ecore:name="ENUMUnterbringung_Art_keine" value="keine"/>
         <xs:enumeration ecore:name="ENUMUnterbringung_Art_Schaltschrank_Schaltkasten"
                          value="Schaltschrank_Schaltkasten"/>
         <xs:enumeration ecore:name="ENUMUnterbringung_Art_sonstige" value="sonstige"/>
         <xs:enumeration ecore:name="ENUMUnterbringung_Art_Tafel" value="Tafel"/>
         <xs:enumeration ecore:name="ENUMUnterbringung_Art_Gebaeude" value="Gebaeude"/>
         <xs:enumeration ecore:name="ENUMUnterbringung_Art_Schalthaus" value="Schalthaus"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ENUMTSO_Teilsystem_Art">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMTSO_Teilsystem_Art_Doku_ZMA_ZL" value="Doku ZMA ZL"/>
         <xs:enumeration ecore:name="ENUMTSO_Teilsystem_Art_MDM" value="MDM"/>
         <xs:enumeration ecore:name="ENUMTSO_Teilsystem_Art_RBC" value="RBC"/>
         <xs:enumeration ecore:name="ENUMTSO_Teilsystem_Art_Transfernetz_mit_SI_LST"
                          value="Transfernetz mit SI LST"/>
         <xs:enumeration ecore:name="ENUMTSO_Teilsystem_Art_ZE" value="ZE"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Bezeichnung_ESTW_ZE_TypeClass" name="TCBezeichnung_ESTW_ZE">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:TBezeichnung_ESTW_ZE"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Aussenelementansteuerung_Art_TypeClass"
                    name="TCAussenelementansteuerung_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:ENUMAussenelementansteuerung_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="TSO_Teilsystem_Art_TypeClass" name="TCTSO_Teilsystem_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:ENUMTSO_Teilsystem_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Aussenelementansteuerung" name="CAussenelementansteuerung">
      <xs:annotation>
         <xs:documentation>Technisches Objekt, von dem aus die Ansteuerung der ESTW-Elemente der Außenanlage erfolgt. Außenelementansteuerungen (AEA) können hierarchich angeordnet sein. Über dem höchsten Element der Hierarchie steht immer die ESTW Zentraleinheit. Von allen AEA können ein oder mehrere Elemente der Außenanlage angesteuert sowie deren Zustände eingelesen werden. In der Verkettung zeigt die Verweisrichtung immer auf das in der Hierarchie höhere Element. Die Übertragung von Daten und Energie wird durch getrennte Verweise modelliert. In der konventionellen ESTW-Technik entspricht die AEA dem ESTW-A. Eine Kaskadierung von AEA ist erst in neuerer ESTW-Technik üblich. Gehört ein Schaltkasten zu einem Signal, muss dieser nicht als AEA geplant werden, in dem Fall wird der Schaltkasten als Bestandteil des Signals betrachtet. Kann ein Schaltkasten mehrere Signale steuern, ist er als AEA zu betrachten. Je nach Detaillierungsgrad der Planung kann die primäre und sekundäre Energieversorgung nur in der grundsätzlichen Art oder sogar der tatsächliche Lieferant über einen Verweis auf diesen angegeben werden. Als AEA werden nur Bestandteile des ESTW modelliert. Schnittstellen zu anderen Untergewerken (z. B. PZB, BÜ, ETCS) werden über das Stellelement dargestellt. DB-Regelwerk Darstellung und Beschriftung des ESTW-Gebäudes im sicherungstechnischen Lageplan nach Ril 819.9002</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBasis_Objekt">
            <xs:sequence>
               <xs:element name="AEA_Allg"
                            type="nsAnsteuerung_Element:CAEA_Allg"
                            minOccurs="1"
                            maxOccurs="1"/>
               <xs:element name="AEA_Energieversorgung"
                            type="nsAnsteuerung_Element:CAEA_Energieversorgung"
                            minOccurs="0"
                            maxOccurs="1"/>
               <xs:element name="AEA_GFK_IP_Adressblock"
                            type="nsAnsteuerung_Element:CAEA_GFK_IP_Adressblock"
                            minOccurs="0"
                            maxOccurs="1"/>
               <xs:element name="Bezeichnung"
                            type="nsAnsteuerung_Element:CAussenelementansteuerung_Bezeichnung"
                            minOccurs="0"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Attributgruppe zur Bezeichnung von Stell- und sonstigen Elementen. Sofern ausreichend, wird an dieser Stelle über Vererbung die Basisattributgruppe Bezeichnung Element eingebunden. Ist die Abbildung mit den Attributen der Basisattributgruppe nicht möglich (z. B. wegen spezieller Patternvorgabe) oder nicht sinnvoll (z. B. weil eine Unterscheidung nach Bezeichnung_Lageplan_..., Bezeichnung_Tabelle und Bezeichnung_Aussenanlage (Pflichtattribute!) nicht notwendig ist), werden in der Attributgruppe Bezeichnung entsprechende objektspezifische Bezeichnungsattribute modelliert. Diese sind nach dem Schema Bezeichnung_[Objektname] zu benennen. Zudem ist es möglich, gleichzeitig die Basisattributgruppe Bezeichnung Element und objektspezifische Attribute einzubinden. Siehe auch Bildung der Bezeichnungen. DB-Regelwerk Sicherungstechnischer Lage- und Übersichtsplan, BÜ-Lageplan Planungstabellen </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Information_Primaer"
                            type="xs:anyURI"
                            ecore:reference="nsBasisobjekte:CBasis_Objekt"
                            nillable="true"
                            minOccurs="0"
                            maxOccurs="5">
                  <xs:annotation>
                     <xs:documentation>Übergeordnetes, primäres Objekt der Informationsversorgung. Bei DSTW ist der Zugriff durch 4 (Reserve: 5) verschiedene TSO möglich, z. B. bei Einbindung eines BÜ in Fahrstraßen mehrerer ESTW-Zentraleinheiten. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Information_Sekundaer"
                            type="xs:anyURI"
                            ecore:reference="nsAnsteuerung_Element:CAussenelementansteuerung"
                            nillable="true"
                            minOccurs="0"
                            maxOccurs="5">
                  <xs:annotation>
                     <xs:documentation>Übergeordnetes, sekundäres Objekt der Informationsversorgung (wenn vorhanden). Bei DSTW ist der Zugriff durch 4 (Reserve: 5) verschiedene TSO möglich, z. B. bei Einbindung eines BÜ in Fahrstraßen mehrerer ESTW-Zentraleinheiten. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Oertlichkeit_Gesteuert"
                            type="xs:anyURI"
                            ecore:reference="nsGeodaten:COertlichkeit"
                            nillable="true"
                            minOccurs="0"
                            maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Örtlichkeiten, die von der Außenelementansteuerung gesteuert werden. Das Attribut muss nur für AEA (Top) gefüllt werden.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Oertlichkeit_Namensgebend"
                            type="xs:anyURI"
                            ecore:reference="nsGeodaten:COertlichkeit"
                            nillable="true"
                            minOccurs="0"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Örtlichkeit, die für die Außenelementansteuerung namensgebend ist. Das Attribut ist nur für übergeordnete Aussenelementansteuerungen (AEA (Top)) relevant, z. B. ESTW-A.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Unterbringung"
                            type="xs:anyURI"
                            ecore:reference="nsAnsteuerung_Element:CUnterbringung"
                            nillable="true"
                            minOccurs="0"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf den physischen Ort der Unterbringung von Aussenelementansteuerung, Bedien Einrichtung Oertlich, Bedien Platz, ESTW Zentraleinheit, PZB Element, Schlosskombination, Schluesselsperre und ZN. Für das PZB Element wird der Verweis nur für eine GÜ gefüllt - mit der Bedeutung: GÜ-Schaltkasten. Für die ZN ist der Verweis optional, da im Planungswerkzeug ZN/ZL keine Befüllung aller der für die Unterbringung notwendigen Attribute möglich ist. DB-Regelwerk Darstellung des Gebäudes, der Bediensäule bzw. des Schaltkastens im sicherungstechnischen Lageplan nach Ril 819.9002 oder Beschreibung im Erläuterungsbericht.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="Technik_Beschreibung_Type" name="TTechnik_Beschreibung">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:complexType ecore:name="Unterbringung_Allg_AttributeGroup"
                    name="CUnterbringung_Allg">
      <xs:sequence>
         <xs:element name="Hersteller"
                      type="nsAnsteuerung_Element:TCHersteller"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Unternehmen, das die Funktionsfähigkeit der Anlage verantwortlich hergestellt hat oder Hersteller des jeweiligen Elements. Diese Eigenschaft ist kein Datum einer Planung, sondern dient im Rücklauf der Planung dazu den Hersteller im Bestand zu erfassen. Es ist die zum Zeitpunkt der Inbetriebnahme gültige Firmierung zu verwenden. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Unterbringung_Art"
                      type="nsAnsteuerung_Element:TCUnterbringung_Art"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Art der Unterbringung. Die Arten werden nach eingehaust und nicht eingehaust unterschieden, was z. B. für das Symbol der Schlüsselsperre von Bedeutung ist: Eingehaust (Symbol auf dem Lageplan): Schalthaus, Gebaeude. Nicht eingehaust (kein Symbol auf dem Lageplan): Antrieb Schaltkasten/-schrank, Tafel, sonstige, keine. Schaltkasten/-schrank: Zur Vereinfachung und zur Reduktion von Interpretationsspielräumen wird zwischen Schaltschrank und Schaltkasten nicht unterschieden. Antrieb: Die Elemente sind in einem Schranken- oder Weichenantrieb untergebracht. Tafel: Quaderförmiger, flacher Körper (z. B. Brett oder Blech), der lediglich zur mechanischen Aufnahme der eigenständigen Elemente (z. B. Schloss) dient. Sie ist von der Bedientafel als Bauart einer Bedien Einrichtung Oertlich zu unterscheiden. sonstige: Es ist ein Bearbeitungsvermerk anzugeben. keine: Es gibt keine Unterbringung, z. B. wenn eine Komponente direkt an der Befestigung "Pfosten" angebracht ist. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Unterbringung_Befestigung"
                      type="nsAnsteuerung_Element:TCUnterbringung_Befestigung"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Art der Befestigung der Unterbringung. Bei Auswahl von "sonstige" ist ein Bearbeitungsvermerk anzugeben. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType ecore:name="IP_Adressblock_Grau_Type" name="TIP_Adressblock_Grau">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:complexType ecore:name="Uebertragungsweg" name="CUebertragungsweg">
      <xs:annotation>
         <xs:documentation>Physikalischer/logischer Übertragungsweg zwischen zwei Objekten für eine erforderliche Informationsübertragung. Die Angabe erfolgt, wenn der Übertragungsweg vom Betreiber beigestellt wird oder die Informationsübertragung vom Lieferanten zusätzlich zu schalten ist. Es geht um die Erfassung der physikalischen/logischen Verbindung zweier Objekte, die entweder einer funktionalen Verbindung zwischen den Objekten des Modells selbst dient, z.B. der ESTW-Bus zwischen zwei Aussenelementansteuerungen; einer funktionalen Verbindung eines Objektes des Modells zu einer nicht im Modell befindlichen Komponente dient, z.B. der Anbindung der KUS über die ZN_ZBS an die Leittechnik der BZ; einer funktionalen Verbindung zwischen zwei Komponenten, die nicht im Modell abgebildet sind, aber über diese angebunden werden und darum für die SBI dokumentiert werden müssen, z.B. die Verbindung von der LZB-Zentrale in der ESTW Zentraleinheit zum LZB-Bedienplatz in der Bedien Zentrale. Je nach Art und Anwendungsfall kann ein Objekt nur eine oder auch mehrere Verbindungen zu einem oder mehreren anderen Objekten haben. Der Anschluss von stellwerkstypischen Elementen an das Stellwerk (Kabelanlage) wird nicht mit diesem Objekt abgebildet. </xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBasis_Objekt">
            <xs:sequence>
               <xs:element name="ID_Anhang_UeWeg_Nach"
                            type="xs:anyURI"
                            ecore:reference="nsBasisobjekte:CAnhang"
                            nillable="true"
                            minOccurs="0"
                            maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Entsprechender (Lage)Plan oder Beschreibung als Anhang.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Anhang_UeWeg_Von"
                            type="xs:anyURI"
                            ecore:reference="nsBasisobjekte:CAnhang"
                            nillable="true"
                            minOccurs="0"
                            maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Entsprechender (Lage)Plan oder Beschreibung als Anhang.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Uebertragungsweg_Nach"
                            type="xs:anyURI"
                            ecore:reference="nsBasisobjekte:CBasis_Objekt"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Information, nach wo die Verbindung hergestellt werden soll. Beispiel: Bedien_Bezirk.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Uebertragungsweg_Von"
                            type="xs:anyURI"
                            ecore:reference="nsBasisobjekte:CBasis_Objekt"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Information, von wo die Verbindung hergestellt werden soll. Beispiel: ESTW_Zentraleinheit.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Uebertragungsweg_Art"
                            type="nsAnsteuerung_Element:TCUebertragungsweg_Art"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verwendung des Übertragungsweges. Beispiel: UZ-BZ-Verbindung.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Uebertragungsweg_Technik"
                            type="nsAnsteuerung_Element:CUebertragungsweg_Technik"
                            minOccurs="1"
                            maxOccurs="1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ENUMBandbreite">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMBandbreite_100Mbit_s" value="100Mbit_s"/>
         <xs:enumeration ecore:name="ENUMBandbreite_10Mbit_s" value="10Mbit_s"/>
         <xs:enumeration ecore:name="ENUMBandbreite_2Mbit_s" value="2Mbit_s"/>
         <xs:enumeration ecore:name="ENUMBandbreite_64kbit_s" value="64kbit_s"/>
         <xs:enumeration ecore:name="ENUMBandbreite_sonstige" value="sonstige"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Energieversorgung_Art_Ersatz_TypeClass"
                    name="TCEnergieversorgung_Art_Ersatz">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:ENUMEV_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="IP_Adressblock_Grau_V4_TypeClass"
                    name="TCIP_Adressblock_Grau_V4">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:TIP_Adressblock_Grau_V4"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Netz_Art_TypeClass" name="TCNetz_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:ENUMNetz_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="IP_Adressblock_Grau_V6_Type" name="TIP_Adressblock_Grau_V6">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:simpleType name="ENUMGFK_Kategorie">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMGFK_Kategorie_gross" value="gross"/>
         <xs:enumeration ecore:name="ENUMGFK_Kategorie_klein" value="klein"/>
         <xs:enumeration ecore:name="ENUMGFK_Kategorie_mittel" value="mittel"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="IP_Adressblock_Blau_V6_TypeClass"
                    name="TCIP_Adressblock_Blau_V6">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:TIP_Adressblock_Blau_V6"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="IP_Adressblock_Grau_V6_TypeClass"
                    name="TCIP_Adressblock_Grau_V6">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:TIP_Adressblock_Grau_V6"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="ESTW_Zentraleinheit_Bezeichnung_AttributeGroup"
                    name="CESTW_Zentraleinheit_Bezeichnung">
      <xs:sequence>
         <xs:element name="Bezeichnung_ESTW_ZE"
                      type="nsAnsteuerung_Element:TCBezeichnung_ESTW_ZE"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Bezeichnung der ESTW Zentraleinheit. Beispiel: "ESTW-UZ Waldhof", "ESTW-Z Zellwald".</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Hersteller_TypeClass" name="TCHersteller">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsBasisTypen:THersteller"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="TSO_IP_AB_Teilsystem_AttributeGroup"
                    name="CTSO_IP_AB_Teilsystem">
      <xs:sequence>
         <xs:element name="IP_Adressblock_Blau"
                      type="nsAnsteuerung_Element:TCIP_Adressblock_Blau"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Für das Teilsystem reservierter Adressblock im blauen Weg des bbIP-Netzes. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IP_Adressblock_Grau"
                      type="nsAnsteuerung_Element:TCIP_Adressblock_Grau"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Für das Teilsystem reservierter Adressblock im grauen Weg des bbIP-Netzes. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TSO_Teilsystem_Art"
                      type="nsAnsteuerung_Element:TCTSO_Teilsystem_Art"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Art des TSO-Teilsystems, z. B. ZE (ESTW-Zentraleinheit), MDM (Maintenance Data Management), Doku ZMA ZL (Doku Zugnummernmeldeanlage Zuglenkung), Transfernetz mit SI LST (SI = Service-Interface).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Unterbringung_Art_TypeClass" name="TCUnterbringung_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:ENUMUnterbringung_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ENUMTechnik_Art">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMTechnik_Art_analog_FSK" value="analog_FSK"/>
         <xs:enumeration ecore:name="ENUMTechnik_Art_Ethernet" value="Ethernet"/>
         <xs:enumeration ecore:name="ENUMTechnik_Art_G_703" value="G_703"/>
         <xs:enumeration ecore:name="ENUMTechnik_Art_SBI_intern_Kupferkabel"
                          value="SBI_intern_Kupferkabel"/>
         <xs:enumeration ecore:name="ENUMTechnik_Art_SBI_intern_LWL_Faser"
                          value="SBI_intern_LWL_Faser"/>
         <xs:enumeration ecore:name="ENUMTechnik_Art_sonstige" value="sonstige"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Regionalbereich_TypeClass" name="TCRegionalbereich">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsBasisTypen:TRegionalbereich"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="AEA_Energieversorgung_AttributeGroup"
                    name="CAEA_Energieversorgung">
      <xs:sequence>
         <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="Energieversorgung_Art_Ersatz"
                         type="nsAnsteuerung_Element:TCEnergieversorgung_Art_Ersatz"
                         minOccurs="0"
                         maxOccurs="1">
               <xs:annotation>
                  <xs:documentation>Grundsätzliche Art der Ersatz-Energieversorgung. Wird für die Ersatz-Energieversorgung eine ESTW_Zentraleinheit, eine andere Aussenelementansteuerung oder ein BÜ verwendet, so kann dies in frühen Planungsphasen unspezifisch mit diesem Attribut angegeben werden. In späteren Planungsphasen wird dann alternativ die spezifische Quelle der Energie mit ID Energie Sekundaer angegeben. Bei Auswahl von "sonstige" ist ein Bearbeitungsvermerk notwendig. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="ID_Energie_Sekundaer"
                         type="xs:anyURI"
                         ecore:reference="nsAnsteuerung_Element:CAussenelementansteuerung"
                         nillable="true"
                         minOccurs="0"
                         maxOccurs="1">
               <xs:annotation>
                  <xs:documentation>Objekt der sekundären Energiequelle (sofern vorhanden). DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
         <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="Energieversorgung_Art"
                         type="nsAnsteuerung_Element:TCEnergieversorgung_Art"
                         minOccurs="1"
                         maxOccurs="1">
               <xs:annotation>
                  <xs:documentation>Grundsätzliche Art der Energieversorgung. Wird für die Energieversorgung eine ESTW_Zentraleinheit, eine andere Aussenelementansteuerung oder ein BÜ verwendet, so kann dies in frühen Planungsphasen unspezifisch mit diesem Attribut angegeben werden. In späteren Planungsphasen wird dann alternativ die spezifische Quelle der Energie mit ID Energie Primaer angegeben. Bei Auswahl von "sonstige" ist ein Bearbeitungsvermerk notwendig. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="ID_Energie_Primaer"
                         type="xs:anyURI"
                         ecore:reference="nsBasisobjekte:CBasis_Objekt"
                         nillable="true"
                         minOccurs="1"
                         maxOccurs="1">
               <xs:annotation>
                  <xs:documentation>Objekt der primären Energiequelle. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Bezeichnung_AEA_TypeClass" name="TCBezeichnung_AEA">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:TBezeichnung_AEA"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ENUMUebertragungsweg_Art">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMUebertragungsweg_Art_Bahnuebergang"
                          value="Bahnuebergang"/>
         <xs:enumeration ecore:name="ENUMUebertragungsweg_Art_Diagnose" value="Diagnose"/>
         <xs:enumeration ecore:name="ENUMUebertragungsweg_Art_ESTW" value="ESTW"/>
         <xs:enumeration ecore:name="ENUMUebertragungsweg_Art_sonstige" value="sonstige"/>
         <xs:enumeration ecore:name="ENUMUebertragungsweg_Art_ZBS" value="ZBS"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType ecore:name="IP_Adressblock_Blau_Type" name="TIP_Adressblock_Blau">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:complexType ecore:name="Stell_Bereich" name="CStell_Bereich">
      <xs:annotation>
         <xs:documentation>Bereich_Objekt, mit dem ein Stellbereich beschrieben wird. Ein Stellbereich wird immer von einer AEA (Top) gesteuert. Grenzen des Stellbereichs sind Haupt-, Sperr- oder virtuelle Signale oder Gleisabschlüsse. Jedes Hauptgleis muss einem Stellbereich zugeordnet sein.</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBereich_Objekt">
            <xs:sequence>
               <xs:element name="ID_Aussenelementansteuerung"
                            type="xs:anyURI"
                            ecore:reference="nsAnsteuerung_Element:CAussenelementansteuerung"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf die Top-Außenelementansteuerung (Außenelementansteuerung, die mit einer ESTW Zentraleinheit verbunden ist).</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="IP_Adressblock_Blau_V6_Type" name="TIP_Adressblock_Blau_V6">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:complexType ecore:name="AEA_GFK_IP_Adressblock_AttributeGroup"
                    name="CAEA_GFK_IP_Adressblock">
      <xs:sequence>
         <xs:element name="GFK_Kategorie"
                      type="nsAnsteuerung_Element:TCGFK_Kategorie"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Kategorie des GFK gemäß NeuPro.85.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IP_Adressblock_Blau_V4"
                      type="nsAnsteuerung_Element:TCIP_Adressblock_Blau_V4"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Reservierter IPv4-Adressblock für den blauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IP_Adressblock_Blau_V6"
                      type="nsAnsteuerung_Element:TCIP_Adressblock_Blau_V6"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Reservierter IPv6-Adressblock für den blauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IP_Adressblock_Grau_V4"
                      type="nsAnsteuerung_Element:TCIP_Adressblock_Grau_V4"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Reservierter IPv4-Adressblock für den grauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IP_Adressblock_Grau_V6"
                      type="nsAnsteuerung_Element:TCIP_Adressblock_Grau_V6"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Reservierter IPv6-Adressblock für den grauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Regionalbereich"
                      type="nsAnsteuerung_Element:TCRegionalbereich"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Regionalbereich, dem der GFK zugewiesen ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType ecore:name="Bezeichnung_ESTW_ZE_Type" name="TBezeichnung_ESTW_ZE">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:complexType ecore:name="Technik_Art_TypeClass" name="TCTechnik_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:ENUMTechnik_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Bauart_TypeClass" name="TCBauart">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:TBauart"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="Bauart_Type" name="TBauart">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:simpleType name="ENUMAussenelementansteuerung_Art">
      <xs:annotation>
         <xs:documentation>GFK=Gleisfeldkonzentrator; FeAk=Feldelement-Anschlusskasten; enthält ebenfalls Objektcontroller; dieser ist mit dem ENUM-Wert </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMAussenelementansteuerung_Art_FeAk" value="FeAk"/>
         <xs:enumeration ecore:name="ENUMAussenelementansteuerung_Art_GFK" value="GFK"/>
         <xs:enumeration ecore:name="ENUMAussenelementansteuerung_Art_ESTW_A" value="ESTW_A"/>
         <xs:enumeration ecore:name="ENUMAussenelementansteuerung_Art_Gleisfreimelde_Innenanlage"
                          value="Gleisfreimelde_Innenanlage"/>
         <xs:enumeration ecore:name="ENUMAussenelementansteuerung_Art_Objektcontroller"
                          value="Objektcontroller"/>
         <xs:enumeration ecore:name="ENUMAussenelementansteuerung_Art_Relaisstellwerk"
                          value="Relaisstellwerk"/>
         <xs:enumeration ecore:name="ENUMAussenelementansteuerung_Art_sonstige" value="sonstige"/>
         <xs:enumeration ecore:name="ENUMAussenelementansteuerung_Art_virtuelle_Aussenelementansteuerung"
                          value="virtuelle_Aussenelementansteuerung"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Energieversorgung_Art_TypeClass"
                    name="TCEnergieversorgung_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:ENUMEV_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="TSO_IP_Adressblock_AttributeGroup"
                    name="CTSO_IP_Adressblock">
      <xs:sequence>
         <xs:element name="IP_Adressblock_Blau_V4"
                      type="nsAnsteuerung_Element:TCIP_Adressblock_Blau_V4"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Reservierter IPv4-Adressblock für den blauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IP_Adressblock_Blau_V6"
                      type="nsAnsteuerung_Element:TCIP_Adressblock_Blau_V6"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Reservierter IPv6-Adressblock für den blauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IP_Adressblock_Grau_V4"
                      type="nsAnsteuerung_Element:TCIP_Adressblock_Grau_V4"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Reservierter IPv4-Adressblock für den grauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IP_Adressblock_Grau_V6"
                      type="nsAnsteuerung_Element:TCIP_Adressblock_Grau_V6"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Reservierter IPv6-Adressblock für den grauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Regionalbereich"
                      type="nsAnsteuerung_Element:TCRegionalbereich"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Regionalbereich, dem der Technik-Standort zugewiesen ist.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TSO_IP_AB_Teilsystem"
                      type="nsAnsteuerung_Element:CTSO_IP_AB_Teilsystem"
                      minOccurs="0"
                      maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="IP_Adressblock_Grau_TypeClass" name="TCIP_Adressblock_Grau">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:TIP_Adressblock_Grau"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ENUMNetz_Art">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMNetz_Art_geschlossen" value="geschlossen"/>
         <xs:enumeration ecore:name="ENUMNetz_Art_KISA" value="KISA"/>
         <xs:enumeration ecore:name="ENUMNetz_Art_offen" value="offen"/>
         <xs:enumeration ecore:name="ENUMNetz_Art_SBI_intern" value="SBI_intern"/>
         <xs:enumeration ecore:name="ENUMNetz_Art_SG" value="SG"/>
         <xs:enumeration ecore:name="ENUMNetz_Art_sonstige" value="sonstige"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Uebertragungsweg_Art_TypeClass"
                    name="TCUebertragungsweg_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:ENUMUebertragungsweg_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="IP_Adressblock_Blau_V4_Type" name="TIP_Adressblock_Blau_V4">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:complexType ecore:name="Aussenelementansteuerung_Bezeichnung_AttributeGroup"
                    name="CAussenelementansteuerung_Bezeichnung">
      <xs:sequence>
         <xs:element name="Bezeichnung_AEA"
                      type="nsAnsteuerung_Element:TCBezeichnung_AEA"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Bezeichnung der Aussenelementansteuerung. Beispiel: "ESTW-A Lummerland". Bei Aussenelementansteuerungen der Art "FeAk" ist die Angabe nicht erforderlich, da eine 1:1-Beziehung zur Bezeichnung des Feldelements besteht.</xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <Patternbeschreibung>[1..30]</Patternbeschreibung>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Stellelement" name="CStellelement">
      <xs:annotation>
         <xs:documentation>Zusammenfassung der gemeinsamen Eigenschaften aller elektrisch bedienbaren Elemente der Außenanlage sowie der BÜ-Schnittstelle. Folgende Elemente sind Stellelemente: BUE Schnittstelle, PZB Element, Schluesselsperre, Signal, W Kr Gsp Element. Die Übertragung von Information (Daten) und Energie ist in getrennten Verweisen modelliert. Erfolgt die Übertragung von Information und Energie gemeinsam, so sind beide Verweise mit dem gleichen Verweisziel anzugeben. DB-Regelwerk Die Zusammenfassung der Stellelemente dient der Vereinheitlichung der Modellierung und wird heute nicht explizit geplant.</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBasis_Objekt">
            <xs:sequence>
               <xs:element name="ID_Energie"
                            type="xs:anyURI"
                            ecore:reference="nsAnsteuerung_Element:CAussenelementansteuerung"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf die Aussenelementansteuerung, von der die Energieversorgung des Stellelements oder der FMA Komponente erfolgt. Objekte, die Stellelemente" href="//Stellelement"\u003eStellelemente sind, enthalten keine eigenen Attribute ID_Energie und ID Information, sondern verweisen auf das Objekt Stellelement, das diese Attribute enthält. Nicht-Stellelemente (z. B. der Achszählpunkt als FMA Komponente) hingegen müssen diese Attribute selbst enthalten. DB-Regelwerk bei Achszählpunkten: Achszählpunkttabelle, Spalte 4 (und redundant dazu: Freimeldetabelle, Spalte 4); bei anderen Typen von Freimeldeanlagen: im bisherigen PT1 ohne eindeutige Darstellung, in der Regel mittelbar aus dem Sicherungstechnischen Lageplan/BÜ-Lageplan ermittelbar. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Information"
                            type="xs:anyURI"
                            ecore:reference="nsAnsteuerung_Element:CAussenelementansteuerung"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf die Aussenelementansteuerung, von der die Informationsversorgung des Stellelements bzw. die Informationsverarbeitung der FMA Komponente erfolgt. Objekte, die Stellelemente" href="//Stellelement"\u003eStellelemente sind, enthalten keine eigenen Attribute ID Energie und ID_Information, sondern verweisen auf das Objekt Stellelement, das diese Attribute enthält. Nicht-Stellelemente (z.B. der Achszählpunkt als FMA Komponente) hingegen müssen diese Attribute selbst enthalten. DB-Regelwerk Im bisherigen PT1 ohne eindeutige Darstellung. </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Unterbringung_Befestigung_TypeClass"
                    name="TCUnterbringung_Befestigung">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:ENUMUnterbringung_Befestigung"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="ESTW_Zentraleinheit_Allg_AttributeGroup"
                    name="CESTW_Zentraleinheit_Allg">
      <xs:sequence>
         <xs:element name="Bauart"
                      type="nsAnsteuerung_Element:TCBauart"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Herstellerbezogene Bauart der Steuerung. Das Attribut beschreibt im Gegensatz zu Aussenelementansteuerung Art bzw. Hersteller die herstellerbezogene Bauart der Steuerung. Es ist ein Rücklaufdatum der AP PT 2 und dient der Bestandsdatenverwaltung. Beispiel: Aussenelementansteuerung_Art == ESTW_A, Bauart == "Jüdel E8001". DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Energieversorgung_Art"
                      type="nsAnsteuerung_Element:TCEnergieversorgung_Art"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Grundsätzliche Art der Energieversorgung. Wird für die Energieversorgung eine ESTW_Zentraleinheit, eine andere Aussenelementansteuerung oder ein BÜ verwendet, so kann dies in frühen Planungsphasen unspezifisch mit diesem Attribut angegeben werden. In späteren Planungsphasen wird dann alternativ die spezifische Quelle der Energie mit ID Energie Primaer angegeben. Bei Auswahl von "sonstige" ist ein Bearbeitungsvermerk notwendig. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Energieversorgung_Art_Ersatz"
                      type="nsAnsteuerung_Element:TCEnergieversorgung_Art_Ersatz"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Grundsätzliche Art der Ersatz-Energieversorgung. Wird für die Ersatz-Energieversorgung eine ESTW_Zentraleinheit, eine andere Aussenelementansteuerung oder ein BÜ verwendet, so kann dies in frühen Planungsphasen unspezifisch mit diesem Attribut angegeben werden. In späteren Planungsphasen wird dann alternativ die spezifische Quelle der Energie mit ID Energie Sekundaer angegeben. Bei Auswahl von "sonstige" ist ein Bearbeitungsvermerk notwendig. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Energieversorgung_Art_Ersatz_2"
                      type="nsAnsteuerung_Element:TCEnergieversorgung_Art_Ersatz"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Angabe der zweiten Ersatz-Energieversorgung (bei DSTW: 1. Ersatz Fahrleitung, 2. Ersatz NEA).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Hersteller"
                      type="nsAnsteuerung_Element:TCHersteller"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Unternehmen, das die Funktionsfähigkeit der Anlage verantwortlich hergestellt hat oder Hersteller des jeweiligen Elements. Diese Eigenschaft ist kein Datum einer Planung, sondern dient im Rücklauf der Planung dazu den Hersteller im Bestand zu erfassen. Es ist die zum Zeitpunkt der Inbetriebnahme gültige Firmierung zu verwenden. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="IP_Adressblock_Blau_V4_TypeClass"
                    name="TCIP_Adressblock_Blau_V4">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsAnsteuerung_Element:TIP_Adressblock_Blau_V4"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
