java/bundles/org.eclipse.set.toolboxmodel/schema-toolbox/Bahnsteig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
            xmlns:func="localhost/function"
            xmlns:nsATO="http://www.plan-pro.org/modell/ATO/toolbox"
            xmlns:nsAnsteuerung_Element="http://www.plan-pro.org/modell/Ansteuerung_Element/toolbox"
            xmlns:nsBahnsteig="http://www.plan-pro.org/modell/Bahnsteig/toolbox"
            xmlns:nsBahnuebergang="http://www.plan-pro.org/modell/Bahnuebergang/toolbox"
            xmlns:nsBalisentechnik_ETCS="http://www.plan-pro.org/modell/Balisentechnik_ETCS/toolbox"
            xmlns:nsBasisTypen="http://www.plan-pro.org/modell/BasisTypen/toolbox"
            xmlns:nsBasisobjekte="http://www.plan-pro.org/modell/Basisobjekte/toolbox"
            xmlns:nsBedienung="http://www.plan-pro.org/modell/Bedienung/toolbox"
            xmlns:nsBlock="http://www.plan-pro.org/modell/Block/toolbox"
            xmlns:nsFahrstrasse="http://www.plan-pro.org/modell/Fahrstrasse/toolbox"
            xmlns:nsFlankenschutz="http://www.plan-pro.org/modell/Flankenschutz/toolbox"
            xmlns:nsGeodaten="http://www.plan-pro.org/modell/Geodaten/toolbox"
            xmlns:nsGleis="http://www.plan-pro.org/modell/Gleis/toolbox"
            xmlns:nsLayoutinformationen="http://www.plan-pro.org/modell/Layoutinformationen/toolbox"
            xmlns:nsMedien_und_Trassen="http://www.plan-pro.org/modell/Medien_und_Trassen/toolbox"
            xmlns:nsNahbedienung="http://www.plan-pro.org/modell/Nahbedienung/toolbox"
            xmlns:nsOrtung="http://www.plan-pro.org/modell/Ortung/toolbox"
            xmlns:nsPZB="http://www.plan-pro.org/modell/PZB/toolbox"
            xmlns:nsPlanPro="http://www.plan-pro.org/modell/PlanPro/toolbox"
            xmlns:nsRegelzeichnung="http://www.plan-pro.org/modell/Regelzeichnung/toolbox"
            xmlns:nsSchluesselabhaengigkeiten="http://www.plan-pro.org/modell/Schluesselabhaengigkeiten/toolbox"
            xmlns:nsSignalbegriffe_Ril_301="http://www.plan-pro.org/modell/Signalbegriffe_Ril_301/toolbox"
            xmlns:nsSignalbegriffe_Struktur="http://www.plan-pro.org/modell/Signalbegriffe_Struktur/toolbox"
            xmlns:nsSignale="http://www.plan-pro.org/modell/Signale/toolbox"
            xmlns:nsVerweise="http://www.plan-pro.org/modell/Verweise/toolbox"
            xmlns:nsWeichen_und_Gleissperren="http://www.plan-pro.org/modell/Weichen_und_Gleissperren/toolbox"
            xmlns:nsZuglenkung="http://www.plan-pro.org/modell/Zuglenkung/toolbox"
            xmlns:nsZugnummernmeldeanlage="http://www.plan-pro.org/modell/Zugnummernmeldeanlage/toolbox"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            ecore:nsPrefix="nsBahnsteig"
            ecore:package="org.eclipse.set.toolboxmodel.Bahnsteig"
            targetNamespace="http://www.plan-pro.org/modell/Bahnsteig/toolbox">
   <xs:import namespace="http://www.plan-pro.org/modell/Ansteuerung_Element/toolbox"
               schemaLocation="Ansteuerung_Element.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/ATO/toolbox"
               schemaLocation="ATO.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Bahnuebergang/toolbox"
               schemaLocation="Bahnuebergang.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Balisentechnik_ETCS/toolbox"
               schemaLocation="Balisentechnik_ETCS.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Basisobjekte/toolbox"
               schemaLocation="Basisobjekte.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/BasisTypen/toolbox"
               schemaLocation="BasisTypen.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Bedienung/toolbox"
               schemaLocation="Bedienung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Block/toolbox"
               schemaLocation="Block.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Fahrstrasse/toolbox"
               schemaLocation="Fahrstrasse.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Flankenschutz/toolbox"
               schemaLocation="Flankenschutz.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Geodaten/toolbox"
               schemaLocation="Geodaten.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Gleis/toolbox"
               schemaLocation="Gleis.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Layoutinformationen/toolbox"
               schemaLocation="Layoutinformationen.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Medien_und_Trassen/toolbox"
               schemaLocation="Medien_und_Trassen.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Nahbedienung/toolbox"
               schemaLocation="Nahbedienung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Ortung/toolbox"
               schemaLocation="Ortung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/PlanPro/toolbox"
               schemaLocation="PlanPro.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/PZB/toolbox"
               schemaLocation="PZB.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Regelzeichnung/toolbox"
               schemaLocation="Regelzeichnung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Schluesselabhaengigkeiten/toolbox"
               schemaLocation="Schluesselabhaengigkeiten.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Signalbegriffe_Ril_301/toolbox"
               schemaLocation="Signalbegriffe_Ril_301.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Signalbegriffe_Struktur/toolbox"
               schemaLocation="Signalbegriffe_Struktur.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Signale/toolbox"
               schemaLocation="Signale.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Verweise/toolbox"
               schemaLocation="Verweise.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Weichen_und_Gleissperren/toolbox"
               schemaLocation="Weichen_und_Gleissperren.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Zuglenkung/toolbox"
               schemaLocation="Zuglenkung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Zugnummernmeldeanlage/toolbox"
               schemaLocation="Zugnummernmeldeanlage.xsd"/>
   <xs:annotation>
      <xs:documentation>Dieses Werk ist lizenziert unter der Open Source Lizenz RailPL V1.0.

Weitere Informationen zur Lizenz finden Sie auf
http://www.dbnetze.com/planpro

Inhalt der Datei:
XML Schema für PlanPro Schnittstelle.

Bei Fragen zum Schema wenden Sie sich bitte an planpro@deutschebahn.com

--------------------------------------------------------------------------------

This Document is licensed under the open source license RailPL V1.0.

More information about the license can be found on
http://www.dbnetze.com/planpro

Contents of the file:
XML Schema for PlanPro interface.</xs:documentation>
   </xs:annotation>
   <xs:complexType ecore:name="Bahnsteig_Zugang_Art_TypeClass"
                    name="TCBahnsteig_Zugang_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsBahnsteig:ENUMBahnsteig_Zugang_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Bahnsteig_Zugang_Allg_AttributeGroup"
                    name="CBahnsteig_Zugang_Allg">
      <xs:sequence>
         <xs:element name="Bahnsteig_Zugang_Art"
                      type="nsBahnsteig:TCBahnsteig_Zugang_Art"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Art des Zugangs zum Bahnsteig. Das Attribut dient nur dazu, im INA-Erhebungsbogen die Zugänge zum Bahnsteig grob zu unterscheiden. DB-Regelwerk Eintrag im INA-Erhebungsbogen</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Hauptzugang"
                      type="nsBahnsteig:TCHauptzugang"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Angabe, ob der Bahnsteig Zugang ein Hauptzugang ist (true) oder noicht (false). Die Angabe ist für die INA-Berechnung relevant. Je Bahnsteig Anlage darf nur ein Hauptzugang bestimmt werden. DB-Regelwerk Eintrag im INA-Erhebungsbogen</xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <ProposedValue>false</ProposedValue>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Systemhoehe_TypeClass" name="TCSystemhoehe">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsBahnsteig:ENUMSystemhoehe"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Hauptzugang_TypeClass" name="TCHauptzugang">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsBahnsteig:THauptzugang"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Bezeichnung_Bahnsteig_Anlage_TypeClass"
                    name="TCBezeichnung_Bahnsteig_Anlage">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsBahnsteig:TBezeichnung_Bahnsteig_Anlage"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Lage_Zum_Gleis_TypeClass" name="TCLage_Zum_Gleis">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsBahnsteig:TLage_Zum_Gleis"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Bahnsteig_Dach" name="CBahnsteig_Dach">
      <xs:annotation>
         <xs:documentation>Bahnsteigkanten-bezogene Abbildung der Bahnsteig-Überdachung. Die Angabe ist im INA-Erhebungsbogen erforderlich.</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
               <Untergewerke>ESTW</Untergewerke>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBereich_Objekt">
            <xs:sequence>
               <xs:element name="ID_Bahnsteig_Kante"
                            type="xs:anyURI"
                            ecore:reference="nsBahnsteig:CBahnsteig_Kante"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf die Bahnsteigkante, zu der die Überdachung gehört.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ENUMSystemhoehe">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMSystemhoehe_38_cm" value="38_cm"/>
         <xs:enumeration ecore:name="ENUMSystemhoehe_55_cm" value="55_cm"/>
         <xs:enumeration ecore:name="ENUMSystemhoehe_76_cm" value="76_cm"/>
         <xs:enumeration ecore:name="ENUMSystemhoehe_96_cm" value="96_cm"/>
         <xs:enumeration ecore:name="ENUMSystemhoehe_sonstige" value="sonstige"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Bezeichnung_Bahnsteig_Kante_TypeClass"
                    name="TCBezeichnung_Bahnsteig_Kante">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsBahnsteig:TBezeichnung_Bahnsteig_Kante"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="Bezeichnung_Bahnsteig_Anlage_Type"
                   name="TBezeichnung_Bahnsteig_Anlage">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:simpleType name="ENUMBahnsteig_Zugang_Art">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMBahnsteig_Zugang_Art_Aufzug" value="Aufzug"/>
         <xs:enumeration ecore:name="ENUMBahnsteig_Zugang_Art_Empfangsgebäude"
                          value="Empfangsgebäude"/>
         <xs:enumeration ecore:name="ENUMBahnsteig_Zugang_Art_Rampe" value="Rampe"/>
         <xs:enumeration ecore:name="ENUMBahnsteig_Zugang_Art_sonstige" value="sonstige"/>
         <xs:enumeration ecore:name="ENUMBahnsteig_Zugang_Art_Treppe" value="Treppe"/>
         <xs:enumeration ecore:name="ENUMBahnsteig_Zugang_Art_tResi" value="tResi"/>
         <xs:enumeration ecore:name="ENUMBahnsteig_Zugang_Art_Weg" value="Weg"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Bahnsteig_Anlage_Bezeichnung_AttributeGroup"
                    name="CBahnsteig_Anlage_Bezeichnung">
      <xs:sequence>
         <xs:element name="Bezeichnung_Bahnsteig_Anlage"
                      type="nsBahnsteig:TCBezeichnung_Bahnsteig_Anlage"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Bezeichnung der Bahnsteig_Anlage. Die Bezeichnung des Bahnsteigs muss nicht vergeben werden. Meist setzt sie sich aus dem Namen der beteiligten Bahnsteigkanten (z. B. "Bahnsteig 3/4") zusammen, gelegentlich kann sie aber auch einen eigenen Namen bekommen (z. B. "Bahnsteig A" mit den Gleisen 102 und 103). Die folgende Grafik zeigt beispielhaft die Bezeichnung eines Mitelbahnsteigs mit anschließendem Zungenbahnsteig (zwei Bahnsteig-Anlagen mit jeweils zwei Bahnsteig-Kanten). </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Bahnsteig_Kante" name="CBahnsteig_Kante">
      <xs:annotation>
         <xs:documentation>Parallel zum Gleis verlaufende Kante eines Bahnsteigs, die für den Fahrgastwechsel nutzbar ist (Nettobaulänge). Für die LST-Planung sind Beginn und Ende z. B. für die Zugbeeinflussung (PZB 90) sowie die Festlegung von Signalstandorten und Gefahrpunkten maßgebend. Die Nettobaulänge der Bahnsteigkante wird im Datenmodell durch die Länge des Bereichsobjekts Bahnsteig_Kante abgebildet. Eventuell daran anschließende Tiefbauobjekte (auch stillgelegte Bahnsteigbereiche) können als Ingenieurbauwerke (Technischer_Bereich) abgebildet werden. DB-Regelwerk Darstellung einer Doppellinie im sicherungstechnischen Lageplan, Ril 413.0507</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
               <Untergewerke>ESTW</Untergewerke>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBereich_Objekt">
            <xs:sequence>
               <xs:element name="Bahnsteig_Kante_Allg"
                            type="nsBahnsteig:CBahnsteig_Kante_Allg"
                            minOccurs="1"
                            maxOccurs="1"/>
               <xs:element name="Bezeichnung"
                            type="nsBahnsteig:CBahnsteig_Kante_Bezeichnung"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Attributgruppe zur Bezeichnung von Stell- und sonstigen Elementen. Sofern ausreichend, wird an dieser Stelle über Vererbung die Basisattributgruppe Bezeichnung Element eingebunden. Ist die Abbildung mit den Attributen der Basisattributgruppe nicht möglich (z. B. wegen spezieller Patternvorgabe) oder nicht sinnvoll (z. B. weil eine Unterscheidung nach Bezeichnung_Lageplan_..., Bezeichnung_Tabelle und Bezeichnung_Aussenanlage (Pflichtattribute!) nicht notwendig ist), werden in der Attributgruppe Bezeichnung entsprechende objektspezifische Bezeichnungsattribute modelliert. Diese sind nach dem Schema Bezeichnung_[Objektname] zu benennen. Zudem ist es möglich, gleichzeitig die Basisattributgruppe Bezeichnung Element und objektspezifische Attribute einzubinden. Siehe auch Bildung der Bezeichnungen. DB-Regelwerk Sicherungstechnischer Lage- und Übersichtsplan, BÜ-Lageplan Planungstabellen </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Bahnsteig_Anlage"
                            type="xs:anyURI"
                            ecore:reference="nsBahnsteig:CBahnsteig_Anlage"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Zuordnung einer Bahnsteigkante oder eines Bahnsteigzugangs zu einer Bahnsteiganlage. DB-Regelwerk Zusammenhang wird aus der Darstellung im sicherungstechnischen Lageplan ersichtlich</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Bahnsteig_Kante_Allg_AttributeGroup"
                    name="CBahnsteig_Kante_Allg">
      <xs:sequence>
         <xs:element name="Lage_Zum_Gleis"
                      type="nsBahnsteig:TCLage_Zum_Gleis"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Lage der Bahnsteig Kante zur Gleisachse bezogen auf die Richtung des Bereich Objekt. Siehe auch Modellierung Richtung. DB-Regelwerk Darstellung im sicherungstechnischen Lageplan</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Systemhoehe"
                      type="nsBahnsteig:TCSystemhoehe"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Höhe der Bahnsteigoberkante am Gleis, gemessen ab Schienenoberkante. Bahnsteige werden in folgenden Systemhöhen (in cm) errichtet: 38 cm: niedrigste zulässige Höhe; 55 cm: Zwischenhöhe; 76 cm: Regelhöhe; 96 cm: größte zulässige Höhe (nur für ausschließlich dafür vorgesehene S-Bahnfahrzeuge); Sonderhoehe: Abweichende Höhen sind möglich, vor allem ältere Bahnsteigkanten können auch andere Höhen aufweisen. Bei Bahnsteigkanten mit mehreren Höhen wird die Höhe angegeben, an der der Schwerpunkt des Reisendenzustiegs liegt. DB-Regelwerk Bestandteil der betrieblichen Aufgabenstellung, ggf. Erwähnung im Erläuterungsbericht</xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <PlanningStage>EP</PlanningStage>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Bahnsteig_Zugang" name="CBahnsteig_Zugang">
      <xs:annotation>
         <xs:documentation>Zugangspunkt der Reisenden zum Bahnsteig. Es wird jeweils die Mitte der Linie angegeben, auf der der Zugangsweg auf den Bahnsteig stößt. Für die Verwendung im Sicherungstechnischen Lageplan während der Bearbeitung wurde ein neues Symbol erschaffen. Dieses soll im endgültigen Lageplan nicht erscheinen. Der Zugang ist in der LST-Planung für die INA-Berechnung relevant. Hierbei wird der Punkt auf der Bahnsteigkante benötigt, an der der Zustrom der Reisenden erfolgt. Dieser Punkt wird im Datenmodell nicht abgespeichert, er kann aus Bahnsteig_Zugang hergeleitet werden. DB-Regelwerk Nennung des Zugangs im INA-Erhebungsbogen, Verortung erfolgt bisher nicht</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
               <Untergewerke>ESTW</Untergewerke>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CPunkt_Objekt">
            <xs:sequence>
               <xs:element name="Bahnsteig_Zugang_Allg"
                            type="nsBahnsteig:CBahnsteig_Zugang_Allg"
                            minOccurs="1"
                            maxOccurs="1"/>
               <xs:element name="ID_Bahnsteig_Anlage"
                            type="xs:anyURI"
                            ecore:reference="nsBahnsteig:CBahnsteig_Anlage"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Zuordnung einer Bahnsteigkante oder eines Bahnsteigzugangs zu einer Bahnsteiganlage. DB-Regelwerk Zusammenhang wird aus der Darstellung im sicherungstechnischen Lageplan ersichtlich</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Bahnsteig_Kante_Bezeichnung_AttributeGroup"
                    name="CBahnsteig_Kante_Bezeichnung">
      <xs:sequence>
         <xs:element name="Bezeichnung_Bahnsteig_Kante"
                      type="nsBahnsteig:TCBezeichnung_Bahnsteig_Kante"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Bezeichnung der Bahnsteig Kante. Die Bezeichnung der Bahnsteigkante ist für die LST-Planung relevant und muss vergeben werden. In verkehrlichen Unterlagen wird der Name unter "Gleis" bekanntgegeben, worauf im Datenmodell verzichtet wird, da hier "Gleis" im betrieblichen Sinne verwendet wird. Bezeichnungsbeispiel siehe Bezeichnung Bahnsteig Anlage. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Bahnsteig_Anlage" name="CBahnsteig_Anlage">
      <xs:annotation>
         <xs:documentation>Parallel zum Gleis gelegenes Element des Tiefbaus mit befestigter Oberfläche zum Zwecke des Zugangs der Reisenden von bzw. zu den Zügen. Ein Bahnsteig kann eine oder mehrere Bahnsteigkanten besitzen. Mehr als zwei Bahnsteigkanten können dazugehören, wenn z. B. an einen Mittelbahnsteig noch ein Zungenbahnsteig anschließt. DB-Regelwerk Ril 813.0201 </xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
               <Untergewerke>ESTW</Untergewerke>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBasis_Objekt">
            <xs:sequence>
               <xs:element name="Bezeichnung"
                            type="nsBahnsteig:CBahnsteig_Anlage_Bezeichnung"
                            minOccurs="0"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Attributgruppe zur Bezeichnung von Stell- und sonstigen Elementen. Sofern ausreichend, wird an dieser Stelle über Vererbung die Basisattributgruppe Bezeichnung Element eingebunden. Ist die Abbildung mit den Attributen der Basisattributgruppe nicht möglich (z. B. wegen spezieller Patternvorgabe) oder nicht sinnvoll (z. B. weil eine Unterscheidung nach Bezeichnung_Lageplan_..., Bezeichnung_Tabelle und Bezeichnung_Aussenanlage (Pflichtattribute!) nicht notwendig ist), werden in der Attributgruppe Bezeichnung entsprechende objektspezifische Bezeichnungsattribute modelliert. Diese sind nach dem Schema Bezeichnung_[Objektname] zu benennen. Zudem ist es möglich, gleichzeitig die Basisattributgruppe Bezeichnung Element und objektspezifische Attribute einzubinden. Siehe auch Bildung der Bezeichnungen. DB-Regelwerk Sicherungstechnischer Lage- und Übersichtsplan, BÜ-Lageplan Planungstabellen </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="Bezeichnung_Bahnsteig_Kante_Type"
                   name="TBezeichnung_Bahnsteig_Kante">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:simpleType ecore:name="Lage_Zum_Gleis_Type" name="TLage_Zum_Gleis">
      <xs:restriction base="nsBasisTypen:TLinksRechts"/>
   </xs:simpleType>
   <xs:simpleType ecore:name="Hauptzugang_Type" name="THauptzugang">
      <xs:restriction base="xs:boolean"/>
   </xs:simpleType>
</xs:schema>
