org.eclipse.set.toolboxmodel/schema-toolbox/PZB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
            xmlns:func="localhost/function"
            xmlns:nsAnsteuerung_Element="http://www.plan-pro.org/modell/Ansteuerung_Element/toolbox"
            xmlns:nsBahnsteig="http://www.plan-pro.org/modell/Bahnsteig/toolbox"
            xmlns:nsBahnuebergang="http://www.plan-pro.org/modell/Bahnuebergang/toolbox"
            xmlns:nsBalisentechnik_ETCS="http://www.plan-pro.org/modell/Balisentechnik_ETCS/toolbox"
            xmlns:nsBasisTypen="http://www.plan-pro.org/modell/BasisTypen/toolbox"
            xmlns:nsBasisobjekte="http://www.plan-pro.org/modell/Basisobjekte/toolbox"
            xmlns:nsBedienung="http://www.plan-pro.org/modell/Bedienung/toolbox"
            xmlns:nsBlock="http://www.plan-pro.org/modell/Block/toolbox"
            xmlns:nsFahrstrasse="http://www.plan-pro.org/modell/Fahrstrasse/toolbox"
            xmlns:nsFlankenschutz="http://www.plan-pro.org/modell/Flankenschutz/toolbox"
            xmlns:nsGeodaten="http://www.plan-pro.org/modell/Geodaten/toolbox"
            xmlns:nsGleis="http://www.plan-pro.org/modell/Gleis/toolbox"
            xmlns:nsMedien_und_Trassen="http://www.plan-pro.org/modell/Medien_und_Trassen/toolbox"
            xmlns:nsNahbedienbereich="http://www.plan-pro.org/modell/Nahbedienbereich/toolbox"
            xmlns:nsOrtung="http://www.plan-pro.org/modell/Ortung/toolbox"
            xmlns:nsPZB="http://www.plan-pro.org/modell/PZB/toolbox"
            xmlns:nsPlanPro="http://www.plan-pro.org/modell/PlanPro/toolbox"
            xmlns:nsRegelzeichnung="http://www.plan-pro.org/modell/Regelzeichnung/toolbox"
            xmlns:nsSchluesselabhaengigkeiten="http://www.plan-pro.org/modell/Schluesselabhaengigkeiten/toolbox"
            xmlns:nsSignalbegriffe_Ril_301="http://www.plan-pro.org/modell/Signalbegriffe_Ril_301/toolbox"
            xmlns:nsSignalbegriffe_Struktur="http://www.plan-pro.org/modell/Signalbegriffe_Struktur/toolbox"
            xmlns:nsSignale="http://www.plan-pro.org/modell/Signale/toolbox"
            xmlns:nsVerweise="http://www.plan-pro.org/modell/Verweise/toolbox"
            xmlns:nsWeichen_und_Gleissperren="http://www.plan-pro.org/modell/Weichen_und_Gleissperren/toolbox"
            xmlns:nsZuglenkung="http://www.plan-pro.org/modell/Zuglenkung/toolbox"
            xmlns:nsZugnummernmeldeanlage="http://www.plan-pro.org/modell/Zugnummernmeldeanlage/toolbox"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            ecore:nsPrefix="nsPZB"
            ecore:package="org.eclipse.set.toolboxmodel.PZB"
            targetNamespace="http://www.plan-pro.org/modell/PZB/toolbox">
   <xs:import namespace="http://www.plan-pro.org/modell/Ansteuerung_Element/toolbox"
               schemaLocation="Ansteuerung_Element.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Bahnsteig/toolbox"
               schemaLocation="Bahnsteig.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Bahnuebergang/toolbox"
               schemaLocation="Bahnuebergang.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Balisentechnik_ETCS/toolbox"
               schemaLocation="Balisentechnik_ETCS.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Basisobjekte/toolbox"
               schemaLocation="Basisobjekte.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/BasisTypen/toolbox"
               schemaLocation="BasisTypen.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Bedienung/toolbox"
               schemaLocation="Bedienung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Block/toolbox"
               schemaLocation="Block.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Fahrstrasse/toolbox"
               schemaLocation="Fahrstrasse.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Flankenschutz/toolbox"
               schemaLocation="Flankenschutz.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Geodaten/toolbox"
               schemaLocation="Geodaten.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Gleis/toolbox"
               schemaLocation="Gleis.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Medien_und_Trassen/toolbox"
               schemaLocation="Medien_und_Trassen.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Nahbedienbereich/toolbox"
               schemaLocation="Nahbedienbereich.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Ortung/toolbox"
               schemaLocation="Ortung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/PlanPro/toolbox"
               schemaLocation="PlanPro.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Regelzeichnung/toolbox"
               schemaLocation="Regelzeichnung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Schluesselabhaengigkeiten/toolbox"
               schemaLocation="Schluesselabhaengigkeiten.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Signalbegriffe_Ril_301/toolbox"
               schemaLocation="Signalbegriffe_Ril_301.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Signalbegriffe_Struktur/toolbox"
               schemaLocation="Signalbegriffe_Struktur.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Signale/toolbox"
               schemaLocation="Signale.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Verweise/toolbox"
               schemaLocation="Verweise.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Weichen_und_Gleissperren/toolbox"
               schemaLocation="Weichen_und_Gleissperren.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Zuglenkung/toolbox"
               schemaLocation="Zuglenkung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Zugnummernmeldeanlage/toolbox"
               schemaLocation="Zugnummernmeldeanlage.xsd"/>
   <xs:annotation>
      <xs:documentation>Dieses Werk ist lizenziert unter der Open Source Lizenz RailPL V1.0.

Weitere Informationen zur Lizenz finden Sie auf
http://www.dbnetze.com/planpro

Inhalt der Datei:
XML Schema für PlanPro Schnittstelle.

Für Fragen zum Schema wenden Sie sich bitte an Herrn :

Reiner Brödel (reiner.broedel@deutschebahn.com, +49 30 297-57123)

--------------------------------------------------------------------------------

This Document is licensed under the open source license RailPL V1.0.

More information about the license can be found on
http://www.dbnetze.com/planpro

Contents of the file:
XML Schema for PlanPro interface.</xs:documentation>
   </xs:annotation>
   <xs:complexType ecore:name="GUE_Abstand_Abweichend_TypeClass"
                    name="TCGUE_Abstand_Abweichend">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsPZB:TGUE_Abstand_Abweichend"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="PZB_Zuordnung_Signal" name="CPZB_Zuordnung_Signal">
      <xs:annotation>
         <xs:documentation>Das Objekt dient der Zuordnung der Signale (Vorsignal, Vorsignalwiederholer, H-Tafel) zum maßgebenden Gleismagneten (GM) 2000 Hz des Hauptsignals. Die Unterscheidung zwischen den verschiedenen Signalen wird über die GUID des Signals hergestellt. Der angegebene Abstand bezieht sich beim Vorsignal auf den Abstand des GM 1000 Hz, bei Vorsignalwiederholer und H-Tafel auf den Abstand des Signals zum maßgebenden GM 2000 Hz des Hauptsignals. Es werden in der Regel bis zu vier H-Tafeln pro Hauptsignal geplant. DB-Regelwerk Gleismagnettabelle, Zeilen 19 sowie 21 bis 25 </xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBasis_Objekt">
            <xs:sequence>
               <xs:element name="ID_PZB_Element_Zuordnung"
                            type="xs:anyURI"
                            ecore:reference="nsPZB:CPZB_Element_Zuordnung"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf das Objekt PZB_Element_Zuordnung, zur Angabe des zugehörigen Signals. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Signal"
                            type="xs:anyURI"
                            ecore:reference="nsSignale:CSignal"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>ID des zugeordneten Signals (Vorsignal, Vorsignalwiederholer, H-Tafel), welches im Rahmen der INA-Berechnung dem Hauptsignal zugeordet wird und damit mit diesem im festen Zusammenhang steht.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="GUE_Energieversorgung_TypeClass"
                    name="TCGUE_Energieversorgung">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsPZB:ENUMGUE_Energieversorgung"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="Pruefgeschwindigkeit_Type" name="TPruefgeschwindigkeit">
      <xs:restriction base="nsBasisTypen:TGeschwindigkeit">
         <xs:pattern value="[1-9][0-9]|1[0-4][0-9]|150"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="PZB_Element_Zuordnung" name="CPZB_Element_Zuordnung">
      <xs:annotation>
         <xs:documentation>Zuordnung von PZB Element zu einem Signal, einer Fahrstraße oder auch anderen Objekten, die im Bezug zum PZB_Element stehen. Der Verweis von einem PZB Element über das Zuordnungsobjekt auf ein Signal ist dabei immer gefüllt. Die Verknüpfung mit einer Fahrstraße (nur Zugstraßen sind relevant) oder weiteren Objekten (INA-Berechnungsrelevante Objekte) ist fallbezogen notwendig. Beispiele für die Zuordnung sind unter ID Fstr Zug Rangier zu finden. DB-Regelwerk Eintrag in der Gleismagnettabelle; die Zuordnung zu einzelnen Fahrstraßen wird heute über Fußnoten gelöst. </xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBasis_Objekt">
            <xs:sequence>
               <xs:element name="ID_Fstr_Zug_Rangier"
                            type="xs:anyURI"
                            ecore:reference="nsFahrstrasse:CFstr_Zug_Rangier"
                            nillable="true"
                            minOccurs="0"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verlinkung, zu welcher Fahrstraße der PZB-Gleismagnet gehört (wird nur angegeben, wenn Ziel der Fahrstraße nicht identisch mit zugeordneten Signal ist oder Umfahrwege existieren). Dabei ist festgelegt, dass der Fahrweg der Fahrstraße über den PZB-Gleismagneten führt. Gleismagnete ohne Zuordnung zu einem Signal oder einer Fahrstraße sind ständig wirksam. Zur Verdeutlichung dienen die folgenden Beispiele: Media:Skizze PZB.pdf, Media:Tabellen PZB.pdf. In den Beipielen ist das PZB Element ein Gleismagnet 500 Hz; diese Verfahrensweise kann analog auch für alle anderen PZB_Elemente, z.B. GÜ, angewandt werden. DB-Regelwerk Gleismagnettabelle 1 mittels Fußnote </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_PZB_Element_Bezugspunkt"
                            type="xs:anyURI"
                            ecore:reference="nsBasisobjekte:CBasis_Objekt"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf das Signal bzw. die Weiche, in dessen Abhängigkeit das PZB Element angeordnet werden muss. Während bei PZB-Element-GM im Regelfall das Signal anzugeben ist, können PZB-Element-GUE auch in Abhängigkeit einer Weiche angeordnet werden (z.B. Spätablenkung). DB-Regelwerk Gleismagnettabelle 1 </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PZB_Element_Zuordnung_INA"
                            type="nsPZB:CPZB_Element_Zuordnung_INA"
                            minOccurs="0"
                            maxOccurs="1"/>
               <xs:element name="Wirksamkeit"
                            type="nsPZB:TCWirksamkeit"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Angabe, ob der Gleismagnet/ die GÜ schaltbar ist oder nicht bzw. wie die Anschaltung erfolgt. Bei Auswahl von "sonstige" ist ein Bearbeitungsvermerk mit entsprechenden Erläuterungen anzufügen. DB-Regelwerk Gleismagnettabelle 1 </xs:documentation>
                     <xs:appinfo>
                        <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                           <ProposedValue>schaltbar_von_Signal</ProposedValue>
                        </WorkflowInformation>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="PZB_Element_GM_AttributeGroup" name="CPZB_Element_GM">
      <xs:sequence>
         <xs:element name="PZB_Abstand_GM"
                      type="nsPZB:TCPZB_Abstand_GM"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Abstand des PZB-Magneten zum Signal, für den eine INA-Berechnung durchgeführt wurde. Der aktuelle Abstand wird über die Verortung der beiden Punktobjekte ermittelt.</xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <Patternbeschreibung>[-6..300]</Patternbeschreibung>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="PZB_INA"
                      type="nsPZB:TCPZB_INA"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Der PZB-Magnet deckt gemäß Wirkbereichsbogen Bereiche ab ("true"). Liegt ein Bahnsteig zwischen den PZB-Magneten von Vor- und nachfolgendem Hauptsignal, wird eine INA-Berechnung durchgeführt. Das Ergebnis wird in einem Wirkbereichsbogen dokumentiert. Daraus geht die Relevanz des PZB-Magneten für die Überwachung gegen Halt anfahrender Züge hervor: Z. B. "Der GM 1000 Hz deckt bei bei einer Beschleunigung von 0,3 m/s² die Bereiche von ... bis ... m ab." oder "Der GM 2000 Hz deckt keine Bereiche ab". </xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <ProposedValue>false</ProposedValue>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Pruefzeit_TypeClass" name="TCPruefzeit">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsPZB:TPruefzeit"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Pruefgeschwindigkeit_TypeClass"
                    name="TCPruefgeschwindigkeit">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsPZB:TPruefgeschwindigkeit"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="GUE_Messstrecke_Type" name="TGUE_Messstrecke">
      <xs:restriction base="nsBasisTypen:TMeter">
         <xs:pattern value="5\.[89][0-9]|([6-9]|[1-6][0-9]|7[0-4])\.[0-9]{2}|75\.00"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="GUE_Bauart_TypeClass" name="TCGUE_Bauart">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsPZB:ENUMGUE_Bauart"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ENUMGUE_Energieversorgung">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMGUE_Energieversorgung_Solar" value="Solar"/>
         <xs:enumeration ecore:name="ENUMGUE_Energieversorgung_sonstige" value="sonstige"/>
         <xs:enumeration ecore:name="ENUMGUE_Energieversorgung_Stellwerk" value="Stellwerk"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Wirksamkeit_TypeClass" name="TCWirksamkeit">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsPZB:ENUMWirksamkeit"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ENUMPZB_Art">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMPZB_Art_1000_2000_Hz" value="1000_2000_Hz"/>
         <xs:enumeration ecore:name="ENUMPZB_Art_1000_Hz" value="1000_Hz"/>
         <xs:enumeration ecore:name="ENUMPZB_Art_2000_Hz" value="2000_Hz"/>
         <xs:enumeration ecore:name="ENUMPZB_Art_500_Hz" value="500_Hz"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType ecore:name="PZB_Abstand_GM_Type" name="TPZB_Abstand_GM">
      <xs:restriction base="nsBasisTypen:TMeter">
         <xs:pattern value="\-[1-6]|[0-9]|[1-9][0-9]|[12][0-9]{2}|300"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="PZB_Abstand_GM_TypeClass" name="TCPZB_Abstand_GM">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsPZB:TPZB_Abstand_GM"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="GUE_Messstrecke_TypeClass" name="TCGUE_Messstrecke">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsPZB:TGUE_Messstrecke"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="PZB_Art_TypeClass" name="TCPZB_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsPZB:ENUMPZB_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ENUMMessfehler">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMMessfehler_2_bis_3" value="2_bis_3"/>
         <xs:enumeration ecore:name="ENUMMessfehler_3_bis_5" value="3_bis_5"/>
         <xs:enumeration ecore:name="ENUMMessfehler_5_bis_7" value="5_bis_7"/>
         <xs:enumeration ecore:name="ENUMMessfehler_kleiner_4" value="kleiner_4"/>
         <xs:enumeration ecore:name="ENUMMessfehler_kleiner_5" value="kleiner_5"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="PZB_Element_GUE_AttributeGroup" name="CPZB_Element_GUE">
      <xs:sequence>
         <xs:element name="GUE_Abstand_Abweichend"
                      type="nsPZB:TCGUE_Abstand_Abweichend"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Angabe des von der Regelanordnung abweichenden Abstandes einer GÜ zum Signal. Das Attribut wird nur befüllt, wenn der Abstand der GUE zum Signal gemäß Ril 819.1310 Anhang 01 aus baulichen Gründen nicht realisiert werden kann. Es ist dann der Abstand zwischen GUE und Signal anzugeben. Dann sind die Toleranzen gemäß Ril 819.1310 Abschnitt 9, Absatz (4) einzuhalten. DB-Regelwerk 819.1310A01 in Verbindung mit 819.1310 9 (4) </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GUE_Anordnung"
                      type="nsPZB:TCGUE_Anordnung"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Angabe des Anordnungsfalles des Prüf- und der Prüfmagneten einer GÜ. Fall 1 (EA): in Fahrtrichtung zuerst Einschaltmagnet (GSE), dann Wirkmagnet, dann Ausschaltmagnet (GSA). Fall 2 (AE): in Fahrtrichtung zuerst Ausschaltmagnet (GSA) dann Einschaltmagnet (GSE), dann Wirkmagnet. Nach Ril 819.1310 ist im Regelfall die Variante gemäß Fall 1 anzuwenden. DB-Regelwerk 819.1310 9 819.1310A01 </xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <ProposedValue>1_EA</ProposedValue>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="GUE_Bauart"
                      type="nsPZB:TCGUE_Bauart"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Bauart der GÜ, von der weitere Planungsparameter wie Messfehler oder Pruefzeit abhängen. DB-Regelwerk Ril 819.1310A01</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GUE_Energieversorgung"
                      type="nsPZB:TCGUE_Energieversorgung"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Angabe, wie die Energieversorgung der GÜ erfolgt. Bei GÜ, die zur Überwachung restriktiver Geschwindigkeiten an Signalen bzw. für Weichen geplant werden, erfolgt die Stromversorgung im Regelfall aus dem zugehörigen Stellwerk. Bei Lf-Signalen der freien Strecke, die einer GÜ-Sicherung bedürfen, ist im Regelfall die Solarspeisung vorzusehen, da sich keine geeignete Stromversorgung in der Nähe befindet. Bei Auswahl von "sonstige" ist ein Bearbeitungsvermerk mit entsprechenden Erläuterungen anzufügen. DB-Regelwerk Das Planungsdatum ist im Regelwerk der DB AG nicht enthalten. Es ergibt sich aus dem konkreten Anwendungsfall.</xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <ProposedValue>Stellwerk</ProposedValue>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="GUE_Messstrecke"
                      type="nsPZB:TCGUE_Messstrecke"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Angabe über die Länge der Messstrecke der GÜ in [m]. Aus Sicht des LST-Planers ist die Messstrecke das maßgebende Planungskriterium, die aufgrund der örtlichen Verhältnisse (z. B. Weichenlage, Schweißstelle, andere sicherungstechnischen Elemente) festzulegen ist. Daraus ergibt sich die dann zu realisierende Bauform der GÜ. DB-Regelwerk 819.1310A01 7 819.1310A01 8 </xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <Patternbeschreibung> [5.80..75.00] </Patternbeschreibung>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="ID_PZB_Element_Mitnutzung"
                      type="xs:anyURI"
                      ecore:reference="nsPZB:CPZB_Element"
                      nillable="true"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Mitnutzung nur im besonderen Fall.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Messfehler"
                      type="nsPZB:TCMessfehler"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Messfehlerbereich der GÜ in Abhängigkeit von der Bauart DB-Regelwerk Ril 819.1310A01</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Pruefgeschwindigkeit"
                      type="nsPZB:TCPruefgeschwindigkeit"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Angabe der an der GÜ eingestellten Überwachungsgeschwindigkeit in [km/h]. Bis auf die Überwachungsgeschwindigkeiten 95 und 105 erhalten die GÜ eine Wirkmagnet mit 2000 Hz; für GÜ 95 und 105 einen Wirkmagneten mit 1000 Hz. Eine explizite Angabe der Wirkfrequenz bei der GÜ ist daher nicht vorgesehen. DB-Regelwerk 819.1310A01 3 819.1310A01 5 819.1310A01 6 </xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <Patternbeschreibung> [10..150] </Patternbeschreibung>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="Pruefzeit"
                      type="nsPZB:TCPruefzeit"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Prüfzeit der GÜ in Abhängigkeit von der Bauart. DB-Regelwerk Ril 819.1310A01</xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <Patternbeschreibung>[0.00..99.99]</Patternbeschreibung>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="PZB_Element" name="CPZB_Element">
      <xs:annotation>
         <xs:documentation>(Bau)Art, Umfang und Funktionen der punktförmigen Zugbeeinflussung. Unter dem PZB_Element werden sowohl einzelne Gleismagneten als auch die Geschwindigkeitsüberwachungseinrichtungen (GÜ - in der Literatur auch als Geschwindigkeitsprüfeinrichtungen - GPE bezeichnet) sowie dazugehörige Eigenschaften und Parameter zusammenfassend dargestellt. DB-Regelwerk 819.1310 8 für Gleismagnete 819.1310 9 für GÜ In der Gleismagenttabelle finden sich die Angaben in den Zeilen 16 und 17 sowie 33 bis 35 für GÜ und 29 bis 32 für Gleismagnete.</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CPunkt_Objekt">
            <xs:sequence>
               <xs:element name="ID_PZB_Element_Zuordnung"
                            type="xs:anyURI"
                            ecore:reference="nsPZB:CPZB_Element_Zuordnung"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf das Objekt PZB_Element_Zuordnung, zur Angabe des zugehörigen Signals. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PZB_Art"
                            type="nsPZB:TCPZB_Art"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Art des PZB-Elementes.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element name="ID_Stellelement"
                               type="xs:anyURI"
                               ecore:reference="nsAnsteuerung_Element:CStellelement"
                               nillable="true"
                               minOccurs="0"
                               maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>Verweis auf das Objekt Stellelement zur Zusammenfassung von Eigenschaften der Objekte BUE Schnittstelle, PZB Element, Schluesselsperre, Signal, W Kr Gsp Element. Das Stellelement enthält Informationen über den energetischen und logischen Anschluss der Objekte. Für das PZB Element ist der Verweis nicht zu füllen, wenn damit eine GÜ oder ein ständig wirksamer Gleismagnet abgebildet wird. DB-Regelwerk Bisher ohne eindeutige Darstellung </xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ID_Unterbringung"
                               type="xs:anyURI"
                               ecore:reference="nsAnsteuerung_Element:CUnterbringung"
                               nillable="true"
                               minOccurs="0"
                               maxOccurs="1">
                     <xs:annotation>
                        <xs:documentation>Verweis auf den physischen Ort der Unterbringung von Aussenelementansteuerung, Bedien Einrichtung Oertlich, Bedien Platz, ESTW Zentraleinheit, PZB Element, Schlosskombination, Schluesselsperre und ZN. Für das PZB Element wird der Verweis nur für eine GÜ gefüllt - mit der Bedeutung: GÜ-Schaltkasten. Für die ZN ist der Verweis optional, da im Planungswerkzeug ZN/ZL keine Befüllung aller der für die Unterbringung notwendigen Attribute möglich ist. DB-Regelwerk Darstellung des Gebäudes, der Bediensäule bzw. des Schaltkastens im sicherungstechnischen Lageplan nach Ril 819.9002 oder Beschreibung im Erläuterungsbericht.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
               <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Eine Instanz von PZB_Element bildet nur einen GM oder eine GÜ ab.</xs:documentation>
                  </xs:annotation>
                  <xs:element name="PZB_Element_GM"
                               type="nsPZB:CPZB_Element_GM"
                               minOccurs="1"
                               maxOccurs="1"/>
                  <xs:element name="PZB_Element_GUE"
                               type="nsPZB:CPZB_Element_GUE"
                               minOccurs="1"
                               maxOccurs="1"/>
               </xs:choice>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="PZB_Element_Zuordnung_INA_AttributeGroup"
                    name="CPZB_Element_Zuordnung_INA">
      <xs:sequence>
         <xs:element name="ID_Anhang_INA"
                      type="xs:anyURI"
                      ecore:reference="nsBasisobjekte:CAnhang"
                      nillable="true"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Verweis auf die zugehörigen Dokumente zur INA-Berechnung. Dazu gehören Erhebungsbogen, Wirkbereichsbogen und ggf. die Berechnungsblätter selbst. Diese werden für jedes Signal gesondert erstellt. DB-Regelwerk 819.1310A02 </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ID_Bahnsteig_Kante"
                      type="xs:anyURI"
                      ecore:reference="nsBahnsteig:CBahnsteig_Kante"
                      nillable="true"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>ID der zugehörigen Bahnsteigkante bezogen auf ein Signal mit INA-Berechnung. Der Fall, dass zwei separate Bahnsteige zwischen Vor- und Hauptsignal angeordnet sind, wird nicht angenommen. Aus der bisherigen Praxis sind keine solchen Fälle bekannt. DB-Regelwerk 819.1310A02 2 (1) </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ID_Markanter_Punkt"
                      type="xs:anyURI"
                      ecore:reference="nsFahrstrasse:CMarkanter_Punkt"
                      nillable="true"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>ID des Markanten Punktes, welcher die maßgebende Gefahrenstelle für die INA-Berechnung ist. DB-Regelwerk 819.1310A02 2 (11) und (12) </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="ENUMWirksamkeit">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMWirksamkeit_schaltbar_von_Signal"
                          value="schaltbar_von_Signal"/>
         <xs:enumeration ecore:name="ENUMWirksamkeit_staendig_wirksam_wenn_Fahrstrasse_eingestellt"
                          value="staendig_wirksam_wenn_Fahrstrasse_eingestellt"/>
         <xs:enumeration ecore:name="ENUMWirksamkeit_unwirksam_wenn_Fahrstrasse_eingestellt"
                          value="unwirksam_wenn_Fahrstrasse_eingestellt"/>
         <xs:enumeration ecore:name="ENUMWirksamkeit_staendig_wirksam" value="staendig_wirksam"/>
         <xs:enumeration ecore:name="ENUMWirksamkeit_sonstige" value="sonstige"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType ecore:name="Pruefzeit_Type" name="TPruefzeit">
      <xs:restriction base="nsBasisTypen:TSekunde">
         <xs:pattern value="(0|[1-9][0-9]{0,1})\.[0-9]{2}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ENUMGUE_Bauart">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMGUE_Bauart_GPE_90R" value="GPE_90R"/>
         <xs:enumeration ecore:name="ENUMGUE_Bauart_GUE_60" value="GUE_60"/>
         <xs:enumeration ecore:name="ENUMGUE_Bauart_PZ_80" value="PZ_80"/>
         <xs:enumeration ecore:name="ENUMGUE_Bauart_sonstige" value="sonstige"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ENUMGUE_Anordnung">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMGUE_Anordnung_1_EA" value="1_EA"/>
         <xs:enumeration ecore:name="ENUMGUE_Anordnung_2_AE" value="2_AE"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Messfehler_TypeClass" name="TCMessfehler">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsPZB:ENUMMessfehler"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="GUE_Abstand_Abweichend_Type" name="TGUE_Abstand_Abweichend">
      <xs:restriction base="nsBasisTypen:TMeter"/>
   </xs:simpleType>
   <xs:complexType ecore:name="PZB_INA_TypeClass" name="TCPZB_INA">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="xs:boolean"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="GUE_Anordnung_TypeClass" name="TCGUE_Anordnung">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsPZB:ENUMGUE_Anordnung"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
