org.eclipse.set.toolboxmodel/schema-planpro/Ansteuerung_Element.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nsAnsteuerung_Element="http://www.plan-pro.org/modell/Ansteuerung_Element/1.9.0.2"
           xmlns:nsBasisobjekte="http://www.plan-pro.org/modell/Basisobjekte/1.9.0.2"
           xmlns:nsBasisTypen="http://www.plan-pro.org/modell/BasisTypen/1.9.0.2"
           xmlns:nsVerweise="http://www.plan-pro.org/modell/Verweise/1.9.0.2"
           targetNamespace="http://www.plan-pro.org/modell/Ansteuerung_Element/1.9.0.2">
	  <xs:annotation>
		    <xs:documentation>Dieses Werk ist lizenziert unter der Open Source Lizenz RailPL V1.0.

Weitere Informationen zur Lizenz finden Sie auf
http://www.dbnetze.com/planpro

Inhalt der Datei:
XML Schema für PlanPro Schnittstelle.

Für Fragen zum Schema wenden Sie sich bitte an Herrn :

Reiner Brödel (reiner.broedel@deutschebahn.com, +49 30 297-57123)

--------------------------------------------------------------------------------

This Document is licensed under the open source license RailPL V1.0.

More information about the license can be found on
http://www.dbnetze.com/planpro

Contents of the file:
XML Schema for PlanPro interface.</xs:documentation>
	  </xs:annotation>
	  <xs:import namespace="http://www.plan-pro.org/modell/Verweise/1.9.0.2"
              schemaLocation="Verweise.xsd"/>
	  <xs:import namespace="http://www.plan-pro.org/modell/BasisTypen/1.9.0.2"
              schemaLocation="BasisTypen.xsd"/>
	  <xs:import namespace="http://www.plan-pro.org/modell/Basisobjekte/1.9.0.2"
              schemaLocation="Basisobjekte.xsd"/>
	  <xs:simpleType name="ENUMMedium_Art">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="Kupfer_ADO8"/>
			      <xs:enumeration value="Kupfer_KAG"/>
			      <xs:enumeration value="Kupfer_LSA_Plus"/>
			      <xs:enumeration value="Kupfer_RJ45"/>
			      <xs:enumeration value="LWL_DIN"/>
			      <xs:enumeration value="LWL_E2000"/>
			      <xs:enumeration value="LWL_SC_LC"/>
			      <xs:enumeration value="sonstige"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="ENUMUnterbringung_Befestigung">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="Fundament"/>
			      <xs:enumeration value="Gebaeude"/>
			      <xs:enumeration value="Mauer"/>
			      <xs:enumeration value="Pfosten"/>
			      <xs:enumeration value="Signalausleger"/>
			      <xs:enumeration value="Signalbruecke"/>
			      <xs:enumeration value="Signalmast"/>
			      <xs:enumeration value="sonstige"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCGFK_Kategorie">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:ENUMGFK_Kategorie" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCBandbreite">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:ENUMBandbreite" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CUebertragungsweg_Technik">
		    <xs:sequence>
			      <xs:element name="Bandbreite" type="nsAnsteuerung_Element:TCBandbreite" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Beschreibt die nötige Bandbreite des Übertragungsweges. Beispiel: 2Mbit_s bei UZ-BZ-Verbindung.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Medium_Art" type="nsAnsteuerung_Element:TCMedium_Art" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Beschreibt den Übergabepunkt des Übertragungsweges in dessen physikalischer Ausprägung. Beispiel: ADO8-Dose bei ZBS-Verbindung, RJ45-Port bei UZ-BZ-Verbindung.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Netz_Art" type="nsAnsteuerung_Element:TCNetz_Art" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Beschreibt die Art des Übertragungsnetzes, ggf. auch die Anforderungen. Beispiel: geschlossenes Netz oder offenes Netz bei der ZBS-Verbindung.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Technik_Art" type="nsAnsteuerung_Element:TCTechnik_Art" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Technische Ausprägung der physikalischen Schnittstelle. Beispiel: G.703, Ethernet oder LWL_Faser.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Technik_Beschreibung" type="nsAnsteuerung_Element:TCTechnik_Beschreibung"
                     minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Beschreibung der technischen Realisierung des Übertragungsweges in Textform.</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="TCMedium_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:ENUMMedium_Art" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CESTW_Zentraleinheit">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Zentrale Komponente eines ESTW. Die ESTW-Zentraleinheit (ZE) steuert alle untergeordneten Aussenelementansteuerungen, stellt die Verbindung zu den Bedienbezirken (Notbedienplatz, Steuerbezirk/Zentralbedienung) und zu Nachbar-ESTW-Zentraleinheiten, zur Zuglenkung und zur Zugnummernmeldeanlage her. Die ZE kann ein ESTW-Z oder eine ESTW-UZ sein. Die geografische Grenze einer ZE liegt immer an einem Haupt- oder Sperrsignal (Signal_Real_Aktiv) oder einem Bedienpunkt (Signal_Fiktiv), in der Regel an einem Einfahrsignal. Die von einer Unterzentrale benötigten Adressformeln nach Richtlinie 819.0705 werden über die Verknüpfung zu Bedien Bezirk bereitgestellt. DB-Regelwerk Darstellung des ESTW-Gebäudes im sicherungstechnischen Lageplan nach Ril 819.9002, Beschreibung im Erläuterungsbericht</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="Bezeichnung"
                           type="nsAnsteuerung_Element:CESTW_Zentraleinheit_Bezeichnung"
                           minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Attributgruppe zur Bezeichnung von Stell- und sonstigen Elementen. Sofern ausreichend, wird an dieser Stelle über Vererbung die Basisattributgruppe Bezeichnung Element eingebunden. Ist die Abbildung mit den Attributen der Basisattributgruppe nicht möglich (z. B. wegen spezieller Patternvorgabe) oder nicht sinnvoll (z. B. weil eine Unterscheidung nach Bezeichnung_Lageplan_..., Bezeichnung_Tabelle und Bezeichnung_Aussenanlage (Pflichtattribute!) nicht notwendig ist), werden in der Attributgruppe Bezeichnung entsprechende objektspezifische Bezeichnungsattribute modelliert. Diese sind nach dem Schema Bezeichnung_[Objektname] zu benennen. Zudem ist es möglich, gleichzeitig die Basisattributgruppe Bezeichnung Element und objektspezifische Attribute einzubinden. Siehe auch Bildung der Bezeichnungen. DB-Regelwerk Sicherungstechnischer Lage- und Übersichtsplan, BÜ-Lageplan Planungstabellen </xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ESTW_Zentraleinheit_Allg"
                           type="nsAnsteuerung_Element:CESTW_Zentraleinheit_Allg"
                           minOccurs="1"
                           maxOccurs="1"/>
					          <xs:element name="ID_Oertlichkeit_Namensgebend" type="nsVerweise:TCID_Oertlichkeit_Proxy"
                           minOccurs="0"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Örtlichkeit, die für die ESTW-Zentraleinheit namensgebend ist.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_Unterbringung" type="nsVerweise:TCID_Unterbringung_Technik"
                           minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf den physischen Ort der Unterbringung von Aussenelementansteuerung, Bedien Einrichtung Oertlich, Bedien Platz, ESTW Zentraleinheit, PZB Element, Schlosskombination, Schluesselsperre und ZN. Für das PZB Element wird der Verweis nur für eine GÜ gefüllt - mit der Bedeutung: GÜ-Schaltkasten. Für die ZN ist der Verweis optional, da im Planungswerkzeug ZN/ZL keine Befüllung aller der für die Unterbringung notwendigen Attribute möglich ist. DB-Regelwerk Darstellung des Gebäudes, der Bediensäule bzw. des Schaltkastens im sicherungstechnischen Lageplan nach Ril 819.9002 oder Beschreibung im Erläuterungsbericht.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:choice minOccurs="1" maxOccurs="1">
						            <xs:element name="ID_Bedien_Bezirk_Virtuell" type="nsVerweise:TCID_Bedien_Bezirk"
                              minOccurs="0"
                              maxOccurs="1">
							              <xs:annotation>
                        <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Virtuelle bzw. vorbereitende Zuordnung der ESTW Zentraleinheit zu einem Bedien Bezirk. Der Verweis wird gefüllt, sofern ein Stellwerk (noch) nicht in ESTW-Technik realisiert ist bzw. die Zuordnung zum Regionalnetz oder Fern- und Ballungsnetz noch offen ist. Die Zuordnung erfolgt, um jegliche spätere Realisierungsform zu ermöglichen und auch die Kennzahlenvergabe sicher zu gestalten. Die Befüllung ist alternativ zu ID Bedien Bezirk Zentral. DB-Regelwerk Diverse Listen und Erläuterungsbericht des BZ-PT 1</xs:documentation>
                     </xs:annotation>
						            </xs:element>
						            <xs:element name="ID_Bedien_Bezirk_Zentral" type="nsVerweise:TCID_Bedien_Bezirk"
                              minOccurs="0"
                              maxOccurs="1">
							              <xs:annotation>
                        <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf einen Bedien Bezirk, sofern eine zentrale Bedienung in einer Bedien Zentrale, Regio-BZ oder einem sonstigen Technikstandort stattfindet. Die Befüllung ist alternativ zum Verweis ID Bedien Bezirk Virtuell. DB-Regelwerk Diverse Listen und Erläuterungsbericht des BZ-PT 1</xs:documentation>
                     </xs:annotation>
						            </xs:element>
					          </xs:choice>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCBezeichnung_TSO">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:TBezeichnung_TSO" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCIP_Adressblock_Blau">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:TIP_Adressblock_Blau" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CTechnik_Standort_Bezeichnung">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Bezeichnung des Technikstandorts</xs:documentation>
      </xs:annotation>
		    <xs:sequence>
			      <xs:element name="Bezeichnung_TSO" type="nsAnsteuerung_Element:TCBezeichnung_TSO"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Bezeichnung des Technik-Standorts.</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:simpleType name="ENUMEV_Art">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">VNB: Versorgungsnetzbetreiber; NEA: Netzersatzaggregat</xs:documentation>
      </xs:annotation>
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="andere_Aussenelementansteuerung"/>
			      <xs:enumeration value="FeAk_400V_DC_direkt"/>
			      <xs:enumeration value="FeAk_750V_DC_Energiebus"/>
			      <xs:enumeration value="Landesnetz_VNB"/>
			      <xs:enumeration value="Notstromaggregat_NEA_mobil"/>
			      <xs:enumeration value="Notstromaggregat_NEA_stationaer"/>
			      <xs:enumeration value="Solar"/>
			      <xs:enumeration value="Batterie"/>
			      <xs:enumeration value="sonstige"/>
			      <xs:enumeration value="BUE"/>
			      <xs:enumeration value="ESTW_Zentraleinheit"/>
			      <xs:enumeration value="Fahrleitung"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="CTechnik_Standort">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Bei DSTW: Bündelung der technischen Anlagen für ESTW_Zentraleinheit, Telekommunikation, Prozessdaten- und Diagnoseschnittstellen sowie die zugehörige technische Gebäudeausrüstung. Je Netzbezirk ist ein Technikstandort vorgesehen.</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="Bezeichnung" type="nsAnsteuerung_Element:CTechnik_Standort_Bezeichnung"
                           minOccurs="1"
                           maxOccurs="1"/>
					          <xs:element name="ID_Bedien_Standort" type="nsVerweise:TCID_Bedien_Standort" minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf den Bedien-Standort, von dem aus der Technik-Standort bedient wird. Der Verweis dient der Abbildung der vorgesehenen n zu m-Zuordnung zwischen TSO und BSO. Die Angabe erfolgt im Rahmen der Planung des Untergewerks Bedienung Fdl.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_Unterbringung" type="nsVerweise:TCID_Unterbringung" minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf die Unterbringung (Gebäude), in der der Technik-Standort untergebracht ist.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="TSO_IP_Adressblock" type="nsAnsteuerung_Element:CTSO_IP_Adressblock"
                           minOccurs="0"
                           maxOccurs="1"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TBezeichnung_TSO">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:complexType name="CAEA_Allg">
		    <xs:sequence>
			      <xs:element name="Aussenelementansteuerung_Art"
                     type="nsAnsteuerung_Element:TCAussenelementansteuerung_Art"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Art der Aussenelementansteuerung (herstellerneutral). ESTW_A: Für konventionelle ESTW-Strukturen ist die AEA in der Regel das ESTW-A (mit Ausnahme des Schaltkastens am Signal in bestimmten Fällen als Objektcontroller, siehe Aussenelementansteuerung). Objektcontroller: In neuerer ESTW-Technik wird zunehmend der Objektcontroller (auch kaskadiert) verwendet. Gleisfreimelde_Innenanlage: Einheit, die die logische Aufbereitung der Informationen der Freimeldeanlage übernimmt (z. B. Achszählrechner) und nicht direkt einem ESTW-A zugeordnet ist. Relaisstellwerk: Die AEA besteht aus einem (über die ESTW-ZE ferngesteuerten) Relaisstellwerk. virtuelle_Aussenelementansteuerung: Die virtuelle Aussenelementansteuerung wird verwendet, wenn die Struktur der Aussenelementansteuerungen (zwischen ESTW Zentraleinheit und Stellelement während der PT 1-Planung noch nicht klar ist. Eine virtuelle Aussenelementansteuerung soll den Bereich einer maßgebenden Örtlichkeit (z. B. ein Bf) umfassen. Im nicht firmenneutralen Teil der Planung (u. a. Kabelplanung) muss dann die virtuelle AEA durch die tatsächliche Struktur der AEA ersetzt werden. sonstige: Alle mit den übrigen ENUM nicht beschreibbare Arten. Ein Bearbeitungsvermerk muss angegeben werden. Siehe auch Bauart. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Bauart" type="nsAnsteuerung_Element:TCBauart" minOccurs="0" maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Herstellerbezogene Bauart der Steuerung. Das Attribut beschreibt im Gegensatz zu Aussenelementansteuerung Art bzw. Hersteller die herstellerbezogene Bauart der Steuerung. Es ist ein Rücklaufdatum der AP PT 2 und dient der Bestandsdatenverwaltung. Beispiel: Aussenelementansteuerung_Art == ESTW_A, Bauart == \"Jüdel E8001\". DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:simpleType name="TIP_Adressblock_Grau_V4">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:simpleType name="TBezeichnung_AEA">
		    <xs:restriction base="nsBasisTypen:TText">
			      <xs:pattern value=".{1,30}"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="CUnterbringung">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Ort der Anordnung von nicht an das Gleis gebundenen Komponenten. Die Verortung der U. erfolgt entweder analog zum Punkt Objekt, mit einem GEO Punkt oder durch einen beschreibenden Text. Eine U. beschreibt in der Regel die Umhausung der Komponente. Ist sie nicht eingehaust, wird als Unterbringung Art \"keine\" angegeben. In diesen Fällen hat die Komponente dennoch eine Unterbringung Befestigung. Das ist z. B. der Fall, wenn eine wetterfeste Komponente (z. B. Schlüsselschalter) ohne Einhausung direkt an einem Pfosten befestigt ist. In einer U. können mehrere LST-Objekte untergebracht sein. Eine U. ist z. B. ein Betonschalthaus oder ein Schaltkasten. DB-Regelwerk Darstellung des Gebäudes im sicherungstechnischen Lageplan nach Ril 819.9002 oder Beschreibung im Erläuterungsbericht</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="Punkt_Objekt_Strecke" type="nsBasisobjekte:CPunkt_Objekt_Strecke"
                           minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Attributgruppe zur Zuordnung eines Objektes zu einer Strecke. Zur vererbungsspezifischen Befüllung der Attributgruppe siehe Modellierung Basisobjekte.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="Unterbringung_Allg" type="nsAnsteuerung_Element:CUnterbringung_Allg"
                           minOccurs="1"
                           maxOccurs="1"/>
					          <xs:choice minOccurs="1" maxOccurs="1">
						            <xs:element name="ID_GEO_Punkt" type="nsVerweise:TCID_GEO_Punkt" minOccurs="1"
                              maxOccurs="1">
							              <xs:annotation>
                        <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf einen GEO Punkt, der eine Verortung über x- und y-Koordinate ermöglicht. DB-Regelwerk ESTW: Darstellung im sicherungstechnischen Lageplan. </xs:documentation>
                     </xs:annotation>
						            </xs:element>
						            <xs:element name="Punkt_Objekt_TOP_Kante" type="nsBasisobjekte:CPunkt_Objekt_TOP_Kante"
                              minOccurs="1"
                              maxOccurs="1">
							              <xs:annotation>
                        <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Attributgruppe zur Verortung eines Objektes an der Topologie. Die vererbungsspezifische Befüllung der zugehörigen Attribute wird auf der Seite Modellierung Basisobjekte beschrieben. Durch die mögliche Mehrfacheinbindung der Attributgruppe ist es möglich, ein Objekt (z. B. Grenzzeichen) mehreren topologischen Kanten zuzuordnen. DB-Regelwerk Darstellung im sicherungstechnischen Lageplan</xs:documentation>
                     </xs:annotation>
						            </xs:element>
						            <xs:element name="Standort_Beschreibung"
                              type="nsAnsteuerung_Element:TCStandort_Beschreibung"
                              minOccurs="1"
                              maxOccurs="1">
							              <xs:annotation>
                        <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Textuelle Beschreibung des Standorts der Unterbringung. Das Attribut wird genutzt, wenn eine punktförmige Verortung nicht möglich ist, z. B. aufgrund der großen Entfernung des Standorts und der somit bedingten Lage außerhalb des Planungs- oder Betrachtungsbereichs.</xs:documentation>
                     </xs:annotation>
						            </xs:element>
					          </xs:choice>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCTechnik_Beschreibung">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:TTechnik_Beschreibung" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TStandort_Beschreibung">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:complexType name="TCStandort_Beschreibung">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:TStandort_Beschreibung" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="ENUMUnterbringung_Art">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="Antrieb"/>
			      <xs:enumeration value="keine"/>
			      <xs:enumeration value="Schaltschrank_Schaltkasten"/>
			      <xs:enumeration value="sonstige"/>
			      <xs:enumeration value="Tafel"/>
			      <xs:enumeration value="Gebaeude"/>
			      <xs:enumeration value="Schalthaus"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="ENUMTSO_Teilsystem_Art">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="Doku ZMA ZL"/>
			      <xs:enumeration value="MDM"/>
			      <xs:enumeration value="RBC"/>
			      <xs:enumeration value="Transfernetz mit SI LST"/>
			      <xs:enumeration value="ZE"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCBezeichnung_ESTW_ZE">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:TBezeichnung_ESTW_ZE" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCAussenelementansteuerung_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:ENUMAussenelementansteuerung_Art"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCTSO_Teilsystem_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:ENUMTSO_Teilsystem_Art" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CAussenelementansteuerung">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Technisches Objekt, von dem aus die Ansteuerung der ESTW-Elemente der Außenanlage erfolgt. Außenelementansteuerungen (AEA) können hierarchich angeordnet sein. Über dem höchsten Element der Hierarchie steht immer die ESTW Zentraleinheit. Von allen AEA können ein oder mehrere Elemente der Außenanlage angesteuert sowie deren Zustände eingelesen werden. In der Verkettung zeigt die Verweisrichtung immer auf das in der Hierarchie höhere Element. Die Übertragung von Daten und Energie wird durch getrennte Verweise modelliert. In der konventionellen ESTW-Technik entspricht die AEA dem ESTW-A. Eine Kaskadierung von AEA ist erst in neuerer ESTW-Technik üblich. Gehört ein Schaltkasten zu einem Signal, muss dieser nicht als AEA geplant werden, in dem Fall wird der Schaltkasten als Bestandteil des Signals betrachtet. Kann ein Schaltkasten mehrere Signale steuern, ist er als AEA zu betrachten. Je nach Detaillierungsgrad der Planung kann die primäre und sekundäre Energieversorgung nur in der grundsätzlichen Art oder sogar der tatsächliche Lieferant über einen Verweis auf diesen angegeben werden. Als AEA werden nur Bestandteile des ESTW modelliert. Schnittstellen zu anderen Untergewerken (z. B. PZB, BÜ, ETCS) werden über das Stellelement dargestellt. DB-Regelwerk Darstellung und Beschriftung des ESTW-Gebäudes im sicherungstechnischen Lageplan nach Ril 819.9002</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="AEA_Allg" type="nsAnsteuerung_Element:CAEA_Allg" minOccurs="1"
                           maxOccurs="1"/>
					          <xs:element name="AEA_Energieversorgung"
                           type="nsAnsteuerung_Element:CAEA_Energieversorgung"
                           minOccurs="0"
                           maxOccurs="1"/>
					          <xs:element name="AEA_GFK_IP_Adressblock"
                           type="nsAnsteuerung_Element:CAEA_GFK_IP_Adressblock"
                           minOccurs="0"
                           maxOccurs="1"/>
					          <xs:element name="Bezeichnung"
                           type="nsAnsteuerung_Element:CAussenelementansteuerung_Bezeichnung"
                           minOccurs="0"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Attributgruppe zur Bezeichnung von Stell- und sonstigen Elementen. Sofern ausreichend, wird an dieser Stelle über Vererbung die Basisattributgruppe Bezeichnung Element eingebunden. Ist die Abbildung mit den Attributen der Basisattributgruppe nicht möglich (z. B. wegen spezieller Patternvorgabe) oder nicht sinnvoll (z. B. weil eine Unterscheidung nach Bezeichnung_Lageplan_..., Bezeichnung_Tabelle und Bezeichnung_Aussenanlage (Pflichtattribute!) nicht notwendig ist), werden in der Attributgruppe Bezeichnung entsprechende objektspezifische Bezeichnungsattribute modelliert. Diese sind nach dem Schema Bezeichnung_[Objektname] zu benennen. Zudem ist es möglich, gleichzeitig die Basisattributgruppe Bezeichnung Element und objektspezifische Attribute einzubinden. Siehe auch Bildung der Bezeichnungen. DB-Regelwerk Sicherungstechnischer Lage- und Übersichtsplan, BÜ-Lageplan Planungstabellen </xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_Information_Primaer" type="nsVerweise:TCID_Information_Primaer"
                           minOccurs="0"
                           maxOccurs="5">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Übergeordnetes, primäres Objekt der Informationsversorgung. Bei DSTW ist der Zugriff durch 4 (Reserve: 5) verschiedene TSO möglich, z. B. bei Einbindung eines BÜ in Fahrstraßen mehrerer ESTW-Zentraleinheiten. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_Information_Sekundaer" type="nsVerweise:TCID_Aussenelementansteuerung"
                           minOccurs="0"
                           maxOccurs="5">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Übergeordnetes, sekundäres Objekt der Informationsversorgung (wenn vorhanden). Bei DSTW ist der Zugriff durch 4 (Reserve: 5) verschiedene TSO möglich, z. B. bei Einbindung eines BÜ in Fahrstraßen mehrerer ESTW-Zentraleinheiten. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_Oertlichkeit_Gesteuert" type="nsVerweise:TCID_Oertlichkeit"
                           minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Örtlichkeiten, die von der Außenelementansteuerung gesteuert werden. Das Attribut muss nur für AEA (Top) gefüllt werden.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_Oertlichkeit_Namensgebend" type="nsVerweise:TCID_Oertlichkeit_Proxy"
                           minOccurs="0"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Örtlichkeit, die für die Außenelementansteuerung namensgebend ist. Das Attribut ist nur für übergeordnete Aussenelementansteuerungen (AEA (Top)) relevant, z. B. ESTW-A.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_Unterbringung" type="nsVerweise:TCID_Unterbringung" minOccurs="0"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf den physischen Ort der Unterbringung von Aussenelementansteuerung, Bedien Einrichtung Oertlich, Bedien Platz, ESTW Zentraleinheit, PZB Element, Schlosskombination, Schluesselsperre und ZN. Für das PZB Element wird der Verweis nur für eine GÜ gefüllt - mit der Bedeutung: GÜ-Schaltkasten. Für die ZN ist der Verweis optional, da im Planungswerkzeug ZN/ZL keine Befüllung aller der für die Unterbringung notwendigen Attribute möglich ist. DB-Regelwerk Darstellung des Gebäudes, der Bediensäule bzw. des Schaltkastens im sicherungstechnischen Lageplan nach Ril 819.9002 oder Beschreibung im Erläuterungsbericht.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TTechnik_Beschreibung">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:complexType name="CUnterbringung_Allg">
		    <xs:sequence>
			      <xs:element name="Hersteller" type="nsAnsteuerung_Element:TCHersteller" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Unternehmen, das die Funktionsfähigkeit der Anlage verantwortlich hergestellt hat oder Hersteller des jeweiligen Elements. Diese Eigenschaft ist kein Datum einer Planung, sondern dient im Rücklauf der Planung dazu den Hersteller im Bestand zu erfassen. Es ist die zum Zeitpunkt der Inbetriebnahme gültige Firmierung zu verwenden. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Unterbringung_Art" type="nsAnsteuerung_Element:TCUnterbringung_Art"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Art der Unterbringung. Die Arten werden nach eingehaust und nicht eingehaust unterschieden, was z. B. für das Symbol der Schlüsselsperre von Bedeutung ist: Eingehaust (Symbol auf dem Lageplan): Schalthaus, Gebaeude. Nicht eingehaust (kein Symbol auf dem Lageplan): Antrieb Schaltkasten/-schrank, Tafel, sonstige, keine. Schaltkasten/-schrank: Zur Vereinfachung und zur Reduktion von Interpretationsspielräumen wird zwischen Schaltschrank und Schaltkasten nicht unterschieden. Antrieb: Die Elemente sind in einem Schranken- oder Weichenantrieb untergebracht. Tafel: Quaderförmiger, flacher Körper (z. B. Brett oder Blech), der lediglich zur mechanischen Aufnahme der eigenständigen Elemente (z. B. Schloss) dient. Sie ist von der Bedientafel als Bauart einer Bedien Einrichtung Oertlich zu unterscheiden. sonstige: Es ist ein Bearbeitungsvermerk anzugeben. keine: Es gibt keine Unterbringung, z. B. wenn eine Komponente direkt an der Befestigung \"Pfosten\" angebracht ist. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Unterbringung_Befestigung"
                     type="nsAnsteuerung_Element:TCUnterbringung_Befestigung"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Art der Befestigung der Unterbringung. Bei Auswahl von \"sonstige\" ist ein Bearbeitungsvermerk anzugeben. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:simpleType name="TIP_Adressblock_Grau">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:complexType name="CUebertragungsweg">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Physikalischer/logischer Übertragungsweg zwischen zwei Objekten für eine erforderliche Informationsübertragung. Die Angabe erfolgt, wenn der Übertragungsweg vom Betreiber beigestellt wird oder die Informationsübertragung vom Lieferanten zusätzlich zu schalten ist. Es geht um die Erfassung der physikalischen/logischen Verbindung zweier Objekte, die entweder einer funktionalen Verbindung zwischen den Objekten des Modells selbst dient, z.B. der ESTW-Bus zwischen zwei Aussenelementansteuerungen; einer funktionalen Verbindung eines Objektes des Modells zu einer nicht im Modell befindlichen Komponente dient, z.B. der Anbindung der KUS über die ZN_ZBS an die Leittechnik der BZ; einer funktionalen Verbindung zwischen zwei Komponenten, die nicht im Modell abgebildet sind, aber über diese angebunden werden und darum für die SBI dokumentiert werden müssen, z.B. die Verbindung von der LZB-Zentrale in der ESTW Zentraleinheit zum LZB-Bedienplatz in der Bedien Zentrale. Je nach Art und Anwendungsfall kann ein Objekt nur eine oder auch mehrere Verbindungen zu einem oder mehreren anderen Objekten haben. Der Anschluss von stellwerkstypischen Elementen an das Stellwerk (Kabelanlage) wird nicht mit diesem Objekt abgebildet. </xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="ID_Anhang_UeWeg_Nach" type="nsVerweise:TCID_Anhang" minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Entsprechender (Lage)Plan oder Beschreibung als Anhang.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_Anhang_UeWeg_Von" type="nsVerweise:TCID_Anhang" minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Entsprechender (Lage)Plan oder Beschreibung als Anhang.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_Uebertragungsweg_Nach" type="nsVerweise:TCID_Uebertragungsweg_Nach"
                           minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Information, nach wo die Verbindung hergestellt werden soll. Beispiel: Bedien_Bezirk.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_Uebertragungsweg_Von" type="nsVerweise:TCID_Uebertragungsweg_Von"
                           minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Information, von wo die Verbindung hergestellt werden soll. Beispiel: ESTW_Zentraleinheit.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="Uebertragungsweg_Art" type="nsAnsteuerung_Element:TCUebertragungsweg_Art"
                           minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verwendung des Übertragungsweges. Beispiel: UZ-BZ-Verbindung.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="Uebertragungsweg_Technik"
                           type="nsAnsteuerung_Element:CUebertragungsweg_Technik"
                           minOccurs="1"
                           maxOccurs="1"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="ENUMBandbreite">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="100Mbit_s"/>
			      <xs:enumeration value="10Mbit_s"/>
			      <xs:enumeration value="2Mbit_s"/>
			      <xs:enumeration value="64kbit_s"/>
			      <xs:enumeration value="sonstige"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCEnergieversorgung_Art_Ersatz">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:ENUMEV_Art" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCIP_Adressblock_Grau_V4">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:TIP_Adressblock_Grau_V4" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCNetz_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:ENUMNetz_Art" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TIP_Adressblock_Grau_V6">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:simpleType name="ENUMGFK_Kategorie">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="gross"/>
			      <xs:enumeration value="klein"/>
			      <xs:enumeration value="mittel"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCIP_Adressblock_Blau_V6">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:TIP_Adressblock_Blau_V6" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCIP_Adressblock_Grau_V6">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:TIP_Adressblock_Grau_V6" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CESTW_Zentraleinheit_Bezeichnung">
		    <xs:sequence>
			      <xs:element name="Bezeichnung_ESTW_ZE" type="nsAnsteuerung_Element:TCBezeichnung_ESTW_ZE"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Bezeichnung der ESTW Zentraleinheit. Beispiel: \"ESTW-UZ Waldhof\", \"ESTW-Z Zellwald\".</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="TCHersteller">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisTypen:THersteller" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CTSO_IP_AB_Teilsystem">
		    <xs:sequence>
			      <xs:element name="IP_Adressblock_Blau" type="nsAnsteuerung_Element:TCIP_Adressblock_Blau"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Für das Teilsystem reservierter Adressblock im blauen Weg des bbIP-Netzes. </xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="IP_Adressblock_Grau" type="nsAnsteuerung_Element:TCIP_Adressblock_Grau"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Für das Teilsystem reservierter Adressblock im grauen Weg des bbIP-Netzes. </xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="TSO_Teilsystem_Art" type="nsAnsteuerung_Element:TCTSO_Teilsystem_Art"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Art des TSO-Teilsystems, z. B. ZE (ESTW-Zentraleinheit), MDM (Maintenance Data Management), Doku ZMA ZL (Doku Zugnummernmeldeanlage Zuglenkung), Transfernetz mit SI LST (SI = Service-Interface).</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="TCUnterbringung_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:ENUMUnterbringung_Art" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="ENUMTechnik_Art">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="analog_FSK"/>
			      <xs:enumeration value="Ethernet"/>
			      <xs:enumeration value="G_703"/>
			      <xs:enumeration value="SBI_intern_Kupferkabel"/>
			      <xs:enumeration value="SBI_intern_LWL_Faser"/>
			      <xs:enumeration value="sonstige"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCRegionalbereich">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsBasisTypen:TRegionalbereich" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CAEA_Energieversorgung">
		    <xs:sequence>
			      <xs:choice minOccurs="1" maxOccurs="1">
				        <xs:element name="Energieversorgung_Art_Ersatz"
                        type="nsAnsteuerung_Element:TCEnergieversorgung_Art_Ersatz"
                        minOccurs="0"
                        maxOccurs="1">
					          <xs:annotation>
                  <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Grundsätzliche Art der Ersatz-Energieversorgung. Wird für die Ersatz-Energieversorgung eine ESTW_Zentraleinheit, eine andere Aussenelementansteuerung oder ein BÜ verwendet, so kann dies in frühen Planungsphasen unspezifisch mit diesem Attribut angegeben werden. In späteren Planungsphasen wird dann alternativ die spezifische Quelle der Energie mit ID Energie Sekundaer angegeben. Bei Auswahl von \"sonstige\" ist ein Bearbeitungsvermerk notwendig. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
               </xs:annotation>
				        </xs:element>
				        <xs:element name="ID_Energie_Sekundaer" type="nsVerweise:TCID_Aussenelementansteuerung"
                        minOccurs="0"
                        maxOccurs="1">
					          <xs:annotation>
                  <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Objekt der sekundären Energiequelle (sofern vorhanden). DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
               </xs:annotation>
				        </xs:element>
			      </xs:choice>
			      <xs:choice minOccurs="1" maxOccurs="1">
				        <xs:element name="Energieversorgung_Art"
                        type="nsAnsteuerung_Element:TCEnergieversorgung_Art"
                        minOccurs="1"
                        maxOccurs="1">
					          <xs:annotation>
                  <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Grundsätzliche Art der Energieversorgung. Wird für die Energieversorgung eine ESTW_Zentraleinheit, eine andere Aussenelementansteuerung oder ein BÜ verwendet, so kann dies in frühen Planungsphasen unspezifisch mit diesem Attribut angegeben werden. In späteren Planungsphasen wird dann alternativ die spezifische Quelle der Energie mit ID Energie Primaer angegeben. Bei Auswahl von \"sonstige\" ist ein Bearbeitungsvermerk notwendig. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
               </xs:annotation>
				        </xs:element>
				        <xs:element name="ID_Energie_Primaer" type="nsVerweise:TCID_Energie_Primaer" minOccurs="1"
                        maxOccurs="1">
					          <xs:annotation>
                  <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Objekt der primären Energiequelle. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
               </xs:annotation>
				        </xs:element>
			      </xs:choice>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="TCBezeichnung_AEA">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:TBezeichnung_AEA" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="ENUMUebertragungsweg_Art">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="Bahnuebergang"/>
			      <xs:enumeration value="Diagnose"/>
			      <xs:enumeration value="ESTW"/>
			      <xs:enumeration value="sonstige"/>
			      <xs:enumeration value="ZBS"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="TIP_Adressblock_Blau">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:complexType name="CStell_Bereich">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Bereich_Objekt, mit dem ein Stellbereich beschrieben wird. Ein Stellbereich wird immer von einer AEA (Top) gesteuert. Grenzen des Stellbereichs sind Haupt-, Sperr- oder virtuelle Signale oder Gleisabschlüsse. Jedes Hauptgleis muss einem Stellbereich zugeordnet sein.</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBereich_Objekt">
				        <xs:sequence>
					          <xs:element name="ID_Aussenelementansteuerung"
                           type="nsVerweise:TCID_Aussenelementansteuerung"
                           minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf die Top-Außenelementansteuerung (Außenelementansteuerung, die mit einer ESTW Zentraleinheit verbunden ist).</xs:documentation>
                  </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TIP_Adressblock_Blau_V6">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:complexType name="CAEA_GFK_IP_Adressblock">
		    <xs:sequence>
			      <xs:element name="GFK_Kategorie" type="nsAnsteuerung_Element:TCGFK_Kategorie" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Kategorie des GFK gemäß NeuPro.85.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="IP_Adressblock_Blau_V4"
                     type="nsAnsteuerung_Element:TCIP_Adressblock_Blau_V4"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Reservierter IPv4-Adressblock für den blauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="IP_Adressblock_Blau_V6"
                     type="nsAnsteuerung_Element:TCIP_Adressblock_Blau_V6"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Reservierter IPv6-Adressblock für den blauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="IP_Adressblock_Grau_V4"
                     type="nsAnsteuerung_Element:TCIP_Adressblock_Grau_V4"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Reservierter IPv4-Adressblock für den grauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="IP_Adressblock_Grau_V6"
                     type="nsAnsteuerung_Element:TCIP_Adressblock_Grau_V6"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Reservierter IPv6-Adressblock für den grauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Regionalbereich" type="nsAnsteuerung_Element:TCRegionalbereich"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Regionalbereich, dem der GFK zugewiesen ist.</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:simpleType name="TBezeichnung_ESTW_ZE">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:complexType name="TCTechnik_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:ENUMTechnik_Art" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCBauart">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:TBauart" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TBauart">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:simpleType name="ENUMAussenelementansteuerung_Art">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">GFK=Gleisfeldkonzentrator; FeAk=Feldelement-Anschlusskasten; enthält ebenfalls Objektcontroller; dieser ist mit dem ENUM-Wert </xs:documentation>
      </xs:annotation>
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="FeAk"/>
			      <xs:enumeration value="GFK"/>
			      <xs:enumeration value="ESTW_A"/>
			      <xs:enumeration value="Gleisfreimelde_Innenanlage"/>
			      <xs:enumeration value="Objektcontroller"/>
			      <xs:enumeration value="Relaisstellwerk"/>
			      <xs:enumeration value="sonstige"/>
			      <xs:enumeration value="virtuelle_Aussenelementansteuerung"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCEnergieversorgung_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:ENUMEV_Art" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CTSO_IP_Adressblock">
		    <xs:sequence>
			      <xs:element name="IP_Adressblock_Blau_V4"
                     type="nsAnsteuerung_Element:TCIP_Adressblock_Blau_V4"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Reservierter IPv4-Adressblock für den blauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="IP_Adressblock_Blau_V6"
                     type="nsAnsteuerung_Element:TCIP_Adressblock_Blau_V6"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Reservierter IPv6-Adressblock für den blauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="IP_Adressblock_Grau_V4"
                     type="nsAnsteuerung_Element:TCIP_Adressblock_Grau_V4"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Reservierter IPv4-Adressblock für den grauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="IP_Adressblock_Grau_V6"
                     type="nsAnsteuerung_Element:TCIP_Adressblock_Grau_V6"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Reservierter IPv6-Adressblock für den grauen Weg des bbIP-Netzes.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Regionalbereich" type="nsAnsteuerung_Element:TCRegionalbereich"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Regionalbereich, dem der Technik-Standort zugewiesen ist.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="TSO_IP_AB_Teilsystem" type="nsAnsteuerung_Element:CTSO_IP_AB_Teilsystem"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="TCIP_Adressblock_Grau">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:TIP_Adressblock_Grau" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="ENUMNetz_Art">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="geschlossen"/>
			      <xs:enumeration value="KISA"/>
			      <xs:enumeration value="offen"/>
			      <xs:enumeration value="SBI_intern"/>
			      <xs:enumeration value="SG"/>
			      <xs:enumeration value="sonstige"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCUebertragungsweg_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:ENUMUebertragungsweg_Art" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TIP_Adressblock_Blau_V4">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:complexType name="CAussenelementansteuerung_Bezeichnung">
		    <xs:sequence>
			      <xs:element name="Bezeichnung_AEA" type="nsAnsteuerung_Element:TCBezeichnung_AEA"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Bezeichnung der Aussenelementansteuerung. Beispiel: \"ESTW-A Lummerland\". Bei Aussenelementansteuerungen der Art \"FeAk\" ist die Angabe nicht erforderlich, da eine 1:1-Beziehung zur Bezeichnung des Feldelements besteht.</xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:Patternbeschreibung>[1..30]</ppi:Patternbeschreibung>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="CStellelement">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Zusammenfassung der gemeinsamen Eigenschaften aller elektrisch bedienbaren Elemente der Außenanlage sowie der BÜ-Schnittstelle. Folgende Elemente sind Stellelemente: BUE Schnittstelle, PZB Element, Schluesselsperre, Signal, W Kr Gsp Element. Die Übertragung von Information (Daten) und Energie ist in getrennten Verweisen modelliert. Erfolgt die Übertragung von Information und Energie gemeinsam, so sind beide Verweise mit dem gleichen Verweisziel anzugeben. DB-Regelwerk Die Zusammenfassung der Stellelemente dient der Vereinheitlichung der Modellierung und wird heute nicht explizit geplant.</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="ID_Energie" type="nsVerweise:TCID_Aussenelementansteuerung" minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf die Aussenelementansteuerung, von der die Energieversorgung des Stellelements oder der FMA Komponente erfolgt. Objekte, die Stellelemente\" href=\"//Stellelement\"\u003eStellelemente sind, enthalten keine eigenen Attribute ID_Energie und ID Information, sondern verweisen auf das Objekt Stellelement, das diese Attribute enthält. Nicht-Stellelemente (z. B. der Achszählpunkt als FMA Komponente) hingegen müssen diese Attribute selbst enthalten. DB-Regelwerk bei Achszählpunkten: Achszählpunkttabelle, Spalte 4 (und redundant dazu: Freimeldetabelle, Spalte 4); bei anderen Typen von Freimeldeanlagen: im bisherigen PT1 ohne eindeutige Darstellung, in der Regel mittelbar aus dem Sicherungstechnischen Lageplan/BÜ-Lageplan ermittelbar. </xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_Information" type="nsVerweise:TCID_Aussenelementansteuerung"
                           minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf die Aussenelementansteuerung, von der die Informationsversorgung des Stellelements bzw. die Informationsverarbeitung der FMA Komponente erfolgt. Objekte, die Stellelemente\" href=\"//Stellelement\"\u003eStellelemente sind, enthalten keine eigenen Attribute ID Energie und ID_Information, sondern verweisen auf das Objekt Stellelement, das diese Attribute enthält. Nicht-Stellelemente (z.B. der Achszählpunkt als FMA Komponente) hingegen müssen diese Attribute selbst enthalten. DB-Regelwerk Im bisherigen PT1 ohne eindeutige Darstellung. </xs:documentation>
                  </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCUnterbringung_Befestigung">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:ENUMUnterbringung_Befestigung"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CESTW_Zentraleinheit_Allg">
		    <xs:sequence>
			      <xs:element name="Bauart" type="nsAnsteuerung_Element:TCBauart" minOccurs="0" maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Herstellerbezogene Bauart der Steuerung. Das Attribut beschreibt im Gegensatz zu Aussenelementansteuerung Art bzw. Hersteller die herstellerbezogene Bauart der Steuerung. Es ist ein Rücklaufdatum der AP PT 2 und dient der Bestandsdatenverwaltung. Beispiel: Aussenelementansteuerung_Art == ESTW_A, Bauart == \"Jüdel E8001\". DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Energieversorgung_Art"
                     type="nsAnsteuerung_Element:TCEnergieversorgung_Art"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Grundsätzliche Art der Energieversorgung. Wird für die Energieversorgung eine ESTW_Zentraleinheit, eine andere Aussenelementansteuerung oder ein BÜ verwendet, so kann dies in frühen Planungsphasen unspezifisch mit diesem Attribut angegeben werden. In späteren Planungsphasen wird dann alternativ die spezifische Quelle der Energie mit ID Energie Primaer angegeben. Bei Auswahl von \"sonstige\" ist ein Bearbeitungsvermerk notwendig. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Energieversorgung_Art_Ersatz"
                     type="nsAnsteuerung_Element:TCEnergieversorgung_Art_Ersatz"
                     minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Grundsätzliche Art der Ersatz-Energieversorgung. Wird für die Ersatz-Energieversorgung eine ESTW_Zentraleinheit, eine andere Aussenelementansteuerung oder ein BÜ verwendet, so kann dies in frühen Planungsphasen unspezifisch mit diesem Attribut angegeben werden. In späteren Planungsphasen wird dann alternativ die spezifische Quelle der Energie mit ID Energie Sekundaer angegeben. Bei Auswahl von \"sonstige\" ist ein Bearbeitungsvermerk notwendig. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Energieversorgung_Art_Ersatz_2"
                     type="nsAnsteuerung_Element:TCEnergieversorgung_Art_Ersatz"
                     minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Angabe der zweiten Ersatz-Energieversorgung (bei DSTW: 1. Ersatz Fahrleitung, 2. Ersatz NEA).</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Hersteller" type="nsAnsteuerung_Element:TCHersteller" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Unternehmen, das die Funktionsfähigkeit der Anlage verantwortlich hergestellt hat oder Hersteller des jeweiligen Elements. Diese Eigenschaft ist kein Datum einer Planung, sondern dient im Rücklauf der Planung dazu den Hersteller im Bestand zu erfassen. Es ist die zum Zeitpunkt der Inbetriebnahme gültige Firmierung zu verwenden. DB-Regelwerk Beschreibung im Erläuterungsbericht</xs:documentation>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="TCIP_Adressblock_Blau_V4">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsAnsteuerung_Element:TIP_Adressblock_Blau_V4" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
</xs:schema>