org.eclipse.set.toolboxmodel/schema-planpro/Medien_und_Trassen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nsMedien_und_Trassen="http://www.plan-pro.org/modell/Medien_und_Trassen/1.9.0.2"
           xmlns:nsBasisobjekte="http://www.plan-pro.org/modell/Basisobjekte/1.9.0.2"
           xmlns:nsBasisTypen="http://www.plan-pro.org/modell/BasisTypen/1.9.0.2"
           xmlns:nsVerweise="http://www.plan-pro.org/modell/Verweise/1.9.0.2"
           targetNamespace="http://www.plan-pro.org/modell/Medien_und_Trassen/1.9.0.2">
	  <xs:import namespace="http://www.plan-pro.org/modell/Verweise/1.9.0.2"
              schemaLocation="Verweise.xsd"/>
	  <xs:import namespace="http://www.plan-pro.org/modell/BasisTypen/1.9.0.2"
              schemaLocation="BasisTypen.xsd"/>
	  <xs:import namespace="http://www.plan-pro.org/modell/Basisobjekte/1.9.0.2"
              schemaLocation="Basisobjekte.xsd"/>
	  <xs:complexType name="TCTrasse_Kante_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:ENUMTrasse_Kante_Art" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCKabel_Laenge">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:TKabel_Laenge" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CTrasse_Kante">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Kante des topologischen Knoten-Kanten-Modells zur Darstellung des Kabelgefäßsystems (Kabeltrasse) oder gleichartiger Medientrassen. Die Trasse Kante ist vom Knoten A zum Knoten B gerichtet und muss immer an zwei Trasse Knoten enden. Der geometrische Verlauf einer Trasse_Kante kann durch eine oder mehrere GEO_Kanten beschrieben werden (siehe auch TOP_Kante).</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="ID_Trasse_Knoten_A" type="nsVerweise:TCID_Trasse_Knoten" minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf den Trasse Knoten am Anfang der Kante.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_Trasse_Knoten_B" type="nsVerweise:TCID_Trasse_Knoten" minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf den Trasse Knoten am Ende der Kante.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="Trasse_Kante_Art" type="nsMedien_und_Trassen:TCTrasse_Kante_Art"
                           minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Art der Medientrasse (z. B. Luft- oder Trogtrasse).</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="Trasse_Nutzer" type="nsMedien_und_Trassen:TCTrasse_Nutzer" minOccurs="1"
                           maxOccurs="unbounded">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Nutzer der Medientrasse, z. B. DB Netz. Eine Trasse kann von mehreren Nutzern beansprucht werden.</xs:documentation>
                     <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                        <ppi:WorkflowInformation>
                           <ppi:ProposedValue>DB_Netz</ppi:ProposedValue>
                        </ppi:WorkflowInformation>
                     </xs:appinfo>
                  </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="ENUMTrasse_Knoten_Art">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">\"Schacht, Trassenabzweig\"==Abzweig beliebig vieler Trassen;
\"Trassenauslass\"==Auslass von Kabeln (z. B. zu einem Kabelverteiler), wobei die Verbindung Trasse - Verteiler nicht als eigene Trasse abgebildet wird </xs:documentation>
      </xs:annotation>
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="Schacht"/>
			      <xs:enumeration value="sonstige"/>
			      <xs:enumeration value="Trassenabzweig"/>
			      <xs:enumeration value="Trassenaenderung"/>
			      <xs:enumeration value="Trassenauslass"/>
			      <xs:enumeration value="Trassenende"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="TKabel_Typ">
		    <xs:restriction base="nsBasisTypen:TText"/>
	  </xs:simpleType>
	  <xs:simpleType name="ENUMTrasse_Kante_Art">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">\"frei\"==Kabelverlegung ohne Kabeltiefbau (z. B. Verlegung auf Schotter, Verbindung benachbarter Schaltschränke)</xs:documentation>
      </xs:annotation>
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="Erdtrasse"/>
			      <xs:enumeration value="frei"/>
			      <xs:enumeration value="Lufttrasse"/>
			      <xs:enumeration value="Rohrtrasse"/>
			      <xs:enumeration value="sonstige"/>
			      <xs:enumeration value="Trogtrasse"/>
			      <xs:enumeration value="Trogtrasse_aufgestaendert"/>
			      <xs:enumeration value="Trogtrasse_Behelf"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="TBezeichnung_Kabel">
		    <xs:restriction base="nsBasisTypen:TText">
			      <xs:pattern value="[1-9]|1[0-6]"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="ENUMKabel_Verteilpunkt_Art">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="Kabelschrank"/>
			      <xs:enumeration value="Kabelverteiler"/>
			      <xs:enumeration value="sonstige"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCTrasse_Nutzer">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:ENUMTrasse_Nutzer" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCKabel_Verteilpunkt_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:ENUMKabel_Verteilpunkt_Art"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CKabel_Verteilpunkt_Bezeichnung">
		    <xs:sequence>
			      <xs:element name="Bezeichnung_Kabel_Verteilpunkt"
                     type="nsMedien_und_Trassen:TCBezeichnung_Kabel_Verteilpunkt"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Bezeichnung des Kabel-Verteilpunkts.</xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:Patternbeschreibung>[1..20]</ppi:Patternbeschreibung>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="CKabel_Verteilpunkt">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Punktförmige Installation zur Aufteilung bzw. Verschaltung von Kabeln (ohne Intelligenz).</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="Bezeichnung" type="nsMedien_und_Trassen:CKabel_Verteilpunkt_Bezeichnung"
                           minOccurs="1"
                           maxOccurs="1"/>
					          <xs:element name="ID_Unterbringung" type="nsVerweise:TCID_Unterbringung" minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Art des Kabel-Verteilpunkts.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="Kabel_Verteilpunkt_Art"
                           type="nsMedien_und_Trassen:TCKabel_Verteilpunkt_Art"
                           minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf die Unterbringung des Kabel-Verteilpunkts. Als Art der Unterbringung ist dabei immer \"keine\" auszuwählen, da der Kabel-Verteilpunkt selbst die physische Unterbringung definiert.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCKabel_Typ">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:TKabel_Typ" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CKabel_Bezeichnung">
		    <xs:sequence>
			      <xs:element name="Bezeichnung_Kabel" type="nsMedien_und_Trassen:TCBezeichnung_Kabel"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Bezeichnung des Kabels.</xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:Patternbeschreibung>[1..16]</ppi:Patternbeschreibung>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="TCTrasse_Knoten_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:ENUMTrasse_Knoten_Art" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TBezeichnung_Kabel_Verteilpunkt">
		    <xs:restriction base="nsBasisTypen:TText">
			      <xs:pattern value="[1-9]|1[0-9]|20"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="ENUMTrasse_Nutzer">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="DB_Energie"/>
			      <xs:enumeration value="DB_KT"/>
			      <xs:enumeration value="DB_Netz"/>
			      <xs:enumeration value="DB_StuS"/>
			      <xs:enumeration value="Dritte"/>
			      <xs:enumeration value="sonstige"/>
			      <xs:enumeration value="unbekannt"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCAder_Reserve">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:TAder_Reserve" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TAder_Durchmesser">
		    <xs:restriction base="xs:decimal">
			      <xs:pattern value="[0,1][.][0-8]|[0][.][9]"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="TAder_Reserve">
		    <xs:restriction base="xs:integer">
			      <xs:pattern value="[1-9][0-9]{0,1}|[1][0-9]{2}|200"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCBezeichnung_Kabel">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:TBezeichnung_Kabel" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCAnzahl_Verseilelemente">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:TAnzahl_Verseilelemente" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCAder_Durchmesser">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:TAder_Durchmesser" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TAnzahl_Verseilelemente">
		    <xs:restriction base="xs:integer">
			      <xs:pattern value="[1-9][0-9]{0,1}|[1][0-9]{2}|200"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="TKabel_Laenge">
		    <xs:restriction base="nsBasisTypen:TMeter">
			      <xs:pattern value="(-?[1-9][0-9]{0,})|0"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="CKabel">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Medium zur Übermittlung von Energie und/oder Information.</xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="Bezeichnung" type="nsMedien_und_Trassen:CKabel_Bezeichnung" minOccurs="1"
                           maxOccurs="1"/>
					          <xs:element name="ID_Trasse_Kante" type="nsVerweise:TCID_Trasse_Kante" minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf die Trassen-Kante des Kabel-Gefäßsystems, in dem das Kabel verlegt werden soll bzw. ist. Kurze Verbindungen sind auch ohne Kabelgefäßsystem möglich, z. B. zwischen zwei benachbarten Schaltkästen.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="Kabel_Allg" type="nsMedien_und_Trassen:CKabel_Allg" minOccurs="1"
                           maxOccurs="1"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="TVerseilart">
		    <xs:restriction base="xs:integer">
			      <xs:pattern value="[1,4]"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:complexType name="TCVerseilart">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:TVerseilart" minOccurs="1" maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCAder_Querschnitt">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:TAder_Querschnitt" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CTrasse_Knoten">
		    <xs:annotation>
         <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Knoten des topologischen Knoten-Kanten-Modells zur Darstellung des Kabelgefäßsystems (Kabeltrasse) oder gleichartiger Medientrassen. Der Trasse_Knoten verweist auf einen GEO_Knoten. Die Anzahl der an den Trasse_Knoten anschließenden topologischen Kanten ist je nach Art des Trasse_Knoten unterschiedlich und muss mit der Anzahl der an den zugehörigen GEO Knoten anschließenden GEO_Kanten übereinstimmen. </xs:documentation>
         <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
            <ppi:WorkflowInformation>
               <ppi:ObjectType>LST_OBJECT</ppi:ObjectType>
            </ppi:WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="nsBasisobjekte:CBasis_Objekt">
				        <xs:sequence>
					          <xs:element name="ID_Anschluss_Element" type="nsVerweise:TCID_Anschluss_Element"
                           minOccurs="0"
                           maxOccurs="unbounded">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf das Anschluss-Element, das durch den Trassen-Knoten repräsentiert wird. Der Verweis wird nicht gefüllt bei Schacht, Trassenabzweig, Trassenänderung, ggf. auch nicht bei Trassenende. Die Medientrasse kann ggf.wenige Meter vor dem Anschlusselement enden, wenn für den Weg bis zum Anschlusselement eine freie Verlegung (z. B. im Schotter) vorgesehen ist. </xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="ID_GEO_Knoten" type="nsVerweise:TCID_GEO_Knoten" minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verweis auf den zugehörigen GEO_Knoten, über den mittelbar (GEO_Punkt) auch eine Verortung erfolgen kann.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
					          <xs:element name="Trasse_Knoten_Art" type="nsMedien_und_Trassen:TCTrasse_Knoten_Art"
                           minOccurs="1"
                           maxOccurs="1">
						            <xs:annotation>
                     <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Art des Trassenknotens, z. B. Trassenende oder -abzweig. Beim Wechsel der Trassen(kanten)art ist ein Trassenknoten der Art \"Trassenaenderung\" vorzusehen.</xs:documentation>
                  </xs:annotation>
					          </xs:element>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="CKabel_Allg">
		    <xs:sequence>
			      <xs:element name="Ader_Reserve" type="nsMedien_und_Trassen:TCAder_Reserve" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Anzahl der Reserveadern. Bsp.: 3x4x1,4 (4).\nDie unter Anzahl_Verseilelemente angebbare Aderanzahl muss auch als Reserve angebbar sein (freigeschaltetes Kabel).</xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:Patternbeschreibung>[1..200]</ppi:Patternbeschreibung>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Anzahl_Verseilelemente"
                     type="nsMedien_und_Trassen:TCAnzahl_Verseilelemente"
                     minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Anzahl der Verseilelemente. Bsp.: 3x4x1,4.</xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:Patternbeschreibung>[1..200]</ppi:Patternbeschreibung>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Kabel_Art" type="nsMedien_und_Trassen:TCKabel_Art" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Art des Kabels, z. B. Signalkabel oder Lichtwellenleiter (LWL).</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Kabel_Laenge" type="nsMedien_und_Trassen:TCKabel_Laenge" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Länge des Kabels in m.</xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:Patternbeschreibung>[ganzzahliger Wert]</ppi:Patternbeschreibung>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Kabel_Typ" type="nsMedien_und_Trassen:TCKabel_Typ" minOccurs="1"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Typ des Kabels. Eine Liste der zugelassenen Kabeltypen soll über Planungswerkzeug vorgegeben werden.</xs:documentation>
            </xs:annotation>
			      </xs:element>
			      <xs:element name="Verseilart" type="nsMedien_und_Trassen:TCVerseilart" minOccurs="0"
                     maxOccurs="1">
				        <xs:annotation>
               <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Verseilart (4 = Viererverseilung; 1 = adrige Verseilung). Bsp.: 3x4x1,4.</xs:documentation>
               <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                  <ppi:WorkflowInformation>
                     <ppi:Patternbeschreibung>[1,4]</ppi:Patternbeschreibung>
                  </ppi:WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
			      </xs:element>
			      <xs:choice minOccurs="1" maxOccurs="1">
				        <xs:element name="Ader_Durchmesser" type="nsMedien_und_Trassen:TCAder_Durchmesser"
                        minOccurs="0"
                        maxOccurs="1">
					          <xs:annotation>
                  <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Bei Signalkabeln: Durchmesser der Kabeladern in mm. Bsp.: 3x4x1,4.</xs:documentation>
                  <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                     <ppi:WorkflowInformation>
                        <ppi:Patternbeschreibung>[0.1..1.8]</ppi:Patternbeschreibung>
                     </ppi:WorkflowInformation>
                  </xs:appinfo>
               </xs:annotation>
				        </xs:element>
				        <xs:element name="Ader_Querschnitt" type="nsMedien_und_Trassen:TCAder_Querschnitt"
                        minOccurs="0"
                        maxOccurs="1">
					          <xs:annotation>
                  <xs:documentation xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">Bei Kabeln zur rein elektrischen Energieübertragung: Querschnitt der Kabeladern in Quadratmillimetern. Bsp.: 2x1,5.</xs:documentation>
                  <xs:appinfo xmlns:ppi="http://www.plan-pro.org/modell/PlanProInformation">
                     <ppi:WorkflowInformation>
                        <ppi:Patternbeschreibung>[1..99, optional eine Nachkommastelle]</ppi:Patternbeschreibung>
                     </ppi:WorkflowInformation>
                  </xs:appinfo>
               </xs:annotation>
				        </xs:element>
			      </xs:choice>
		    </xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="TCKabel_Art">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:ENUMKabel_Art" minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="TCBezeichnung_Kabel_Verteilpunkt">
		    <xs:complexContent>
			      <xs:extension base="nsBasisTypen:CBasisAttribut">
				        <xs:sequence>
					          <xs:element name="Wert" type="nsMedien_und_Trassen:TBezeichnung_Kabel_Verteilpunkt"
                           minOccurs="1"
                           maxOccurs="1"
                           nillable="true"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <xs:simpleType name="ENUMKabel_Art">
		    <xs:restriction base="xs:string">
			      <xs:enumeration value="Energie 400V AC"/>
			      <xs:enumeration value="Energie 750V DC"/>
			      <xs:enumeration value="LWL"/>
			      <xs:enumeration value="Signalkabel adrig"/>
			      <xs:enumeration value="Signalkabel Sternvierer"/>
			      <xs:enumeration value="sonstige"/>
		    </xs:restriction>
	  </xs:simpleType>
	  <xs:simpleType name="TAder_Querschnitt">
		    <xs:restriction base="xs:decimal">
			      <xs:pattern value="[1-9][0-9]?([.][1-9])?"/>
		    </xs:restriction>
	  </xs:simpleType>
</xs:schema>