java/org.eclipse.set.toolboxmodel/schema-toolbox/Medien_und_Trassen.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore"
            xmlns:func="localhost/function"
            xmlns:nsATO="http://www.plan-pro.org/modell/ATO/toolbox"
            xmlns:nsAnsteuerung_Element="http://www.plan-pro.org/modell/Ansteuerung_Element/toolbox"
            xmlns:nsBahnsteig="http://www.plan-pro.org/modell/Bahnsteig/toolbox"
            xmlns:nsBahnuebergang="http://www.plan-pro.org/modell/Bahnuebergang/toolbox"
            xmlns:nsBalisentechnik_ETCS="http://www.plan-pro.org/modell/Balisentechnik_ETCS/toolbox"
            xmlns:nsBasisTypen="http://www.plan-pro.org/modell/BasisTypen/toolbox"
            xmlns:nsBasisobjekte="http://www.plan-pro.org/modell/Basisobjekte/toolbox"
            xmlns:nsBedienung="http://www.plan-pro.org/modell/Bedienung/toolbox"
            xmlns:nsBlock="http://www.plan-pro.org/modell/Block/toolbox"
            xmlns:nsFahrstrasse="http://www.plan-pro.org/modell/Fahrstrasse/toolbox"
            xmlns:nsFlankenschutz="http://www.plan-pro.org/modell/Flankenschutz/toolbox"
            xmlns:nsGeodaten="http://www.plan-pro.org/modell/Geodaten/toolbox"
            xmlns:nsGleis="http://www.plan-pro.org/modell/Gleis/toolbox"
            xmlns:nsLayoutinformationen="http://www.plan-pro.org/modell/Layoutinformationen/toolbox"
            xmlns:nsMedien_und_Trassen="http://www.plan-pro.org/modell/Medien_und_Trassen/toolbox"
            xmlns:nsNahbedienung="http://www.plan-pro.org/modell/Nahbedienung/toolbox"
            xmlns:nsOrtung="http://www.plan-pro.org/modell/Ortung/toolbox"
            xmlns:nsPZB="http://www.plan-pro.org/modell/PZB/toolbox"
            xmlns:nsPlanPro="http://www.plan-pro.org/modell/PlanPro/toolbox"
            xmlns:nsRegelzeichnung="http://www.plan-pro.org/modell/Regelzeichnung/toolbox"
            xmlns:nsSchluesselabhaengigkeiten="http://www.plan-pro.org/modell/Schluesselabhaengigkeiten/toolbox"
            xmlns:nsSignalbegriffe_Ril_301="http://www.plan-pro.org/modell/Signalbegriffe_Ril_301/toolbox"
            xmlns:nsSignalbegriffe_Struktur="http://www.plan-pro.org/modell/Signalbegriffe_Struktur/toolbox"
            xmlns:nsSignale="http://www.plan-pro.org/modell/Signale/toolbox"
            xmlns:nsVerweise="http://www.plan-pro.org/modell/Verweise/toolbox"
            xmlns:nsWeichen_und_Gleissperren="http://www.plan-pro.org/modell/Weichen_und_Gleissperren/toolbox"
            xmlns:nsZuglenkung="http://www.plan-pro.org/modell/Zuglenkung/toolbox"
            xmlns:nsZugnummernmeldeanlage="http://www.plan-pro.org/modell/Zugnummernmeldeanlage/toolbox"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            ecore:nsPrefix="nsMedien_und_Trassen"
            ecore:package="org.eclipse.set.toolboxmodel.Medien_und_Trassen"
            targetNamespace="http://www.plan-pro.org/modell/Medien_und_Trassen/toolbox">
   <xs:import namespace="http://www.plan-pro.org/modell/Ansteuerung_Element/toolbox"
               schemaLocation="Ansteuerung_Element.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/ATO/toolbox"
               schemaLocation="ATO.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Bahnsteig/toolbox"
               schemaLocation="Bahnsteig.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Bahnuebergang/toolbox"
               schemaLocation="Bahnuebergang.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Balisentechnik_ETCS/toolbox"
               schemaLocation="Balisentechnik_ETCS.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Basisobjekte/toolbox"
               schemaLocation="Basisobjekte.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/BasisTypen/toolbox"
               schemaLocation="BasisTypen.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Bedienung/toolbox"
               schemaLocation="Bedienung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Block/toolbox"
               schemaLocation="Block.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Fahrstrasse/toolbox"
               schemaLocation="Fahrstrasse.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Flankenschutz/toolbox"
               schemaLocation="Flankenschutz.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Geodaten/toolbox"
               schemaLocation="Geodaten.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Gleis/toolbox"
               schemaLocation="Gleis.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Layoutinformationen/toolbox"
               schemaLocation="Layoutinformationen.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Nahbedienung/toolbox"
               schemaLocation="Nahbedienung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Ortung/toolbox"
               schemaLocation="Ortung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/PlanPro/toolbox"
               schemaLocation="PlanPro.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/PZB/toolbox"
               schemaLocation="PZB.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Regelzeichnung/toolbox"
               schemaLocation="Regelzeichnung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Schluesselabhaengigkeiten/toolbox"
               schemaLocation="Schluesselabhaengigkeiten.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Signalbegriffe_Ril_301/toolbox"
               schemaLocation="Signalbegriffe_Ril_301.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Signalbegriffe_Struktur/toolbox"
               schemaLocation="Signalbegriffe_Struktur.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Signale/toolbox"
               schemaLocation="Signale.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Verweise/toolbox"
               schemaLocation="Verweise.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Weichen_und_Gleissperren/toolbox"
               schemaLocation="Weichen_und_Gleissperren.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Zuglenkung/toolbox"
               schemaLocation="Zuglenkung.xsd"/>
   <xs:import namespace="http://www.plan-pro.org/modell/Zugnummernmeldeanlage/toolbox"
               schemaLocation="Zugnummernmeldeanlage.xsd"/>
   <xs:complexType ecore:name="Induktionsschutz_TypeClass" name="TCInduktionsschutz">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:TInduktionsschutz"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Trasse_Kante_Art_TypeClass" name="TCTrasse_Kante_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:ENUMTrasse_Kante_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Kabel_Laenge_TypeClass" name="TCKabel_Laenge">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:TKabel_Laenge"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Trasse_Kante" name="CTrasse_Kante">
      <xs:annotation>
         <xs:documentation>Kante des topologischen Knoten-Kanten-Modells zur Darstellung des Kabelgefäßsystems (Kabeltrasse) oder gleichartiger Medientrassen. Die Trasse Kante ist vom Knoten A zum Knoten B gerichtet und muss immer an zwei Trasse Knoten enden. Der geometrische Verlauf einer Trasse_Kante kann durch eine oder mehrere GEO_Kanten beschrieben werden (siehe auch TOP_Kante).</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
               <Untergewerke>ESTW|BÜ</Untergewerke>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBasis_Objekt">
            <xs:sequence>
               <xs:element name="ID_Trasse_Knoten_A"
                            type="xs:anyURI"
                            ecore:reference="nsMedien_und_Trassen:CTrasse_Knoten"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf den Trasse Knoten am Anfang der Kante.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_Trasse_Knoten_B"
                            type="xs:anyURI"
                            ecore:reference="nsMedien_und_Trassen:CTrasse_Knoten"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf den Trasse Knoten am Ende der Kante.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Trasse_Kante_Art"
                            type="nsMedien_und_Trassen:TCTrasse_Kante_Art"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Art der Medientrasse (z. B. Luft- oder Trogtrasse).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Trasse_Nutzer"
                            type="nsMedien_und_Trassen:TCTrasse_Nutzer"
                            minOccurs="1"
                            maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Nutzer der Medientrasse, z. B. DB Netz. Eine Trasse kann von mehreren Nutzern beansprucht werden.</xs:documentation>
                     <xs:appinfo>
                        <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                           <ProposedValue>DB_Netz</ProposedValue>
                        </WorkflowInformation>
                     </xs:appinfo>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ENUMTrasse_Knoten_Art">
      <xs:annotation>
         <xs:documentation>"Schacht, Trassenabzweig"==Abzweig beliebig vieler Trassen;
"Trassenauslass"==Auslass von Kabeln (z. B. zu einem Kabelverteiler), wobei die Verbindung Trasse - Verteiler nicht als eigene Trasse abgebildet wird </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMTrasse_Knoten_Art_Schacht" value="Schacht"/>
         <xs:enumeration ecore:name="ENUMTrasse_Knoten_Art_sonstige" value="sonstige"/>
         <xs:enumeration ecore:name="ENUMTrasse_Knoten_Art_Trassenabzweig"
                          value="Trassenabzweig"/>
         <xs:enumeration ecore:name="ENUMTrasse_Knoten_Art_Trassenaenderung"
                          value="Trassenaenderung"/>
         <xs:enumeration ecore:name="ENUMTrasse_Knoten_Art_Trassenauslass"
                          value="Trassenauslass"/>
         <xs:enumeration ecore:name="ENUMTrasse_Knoten_Art_Trassenende" value="Trassenende"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType ecore:name="Kabel_Typ_Type" name="TKabel_Typ">
      <xs:restriction base="nsBasisTypen:TText"/>
   </xs:simpleType>
   <xs:simpleType name="ENUMTrasse_Kante_Art">
      <xs:annotation>
         <xs:documentation>"frei"==Kabelverlegung ohne Kabeltiefbau (z. B. Verlegung auf Schotter, Verbindung benachbarter Schaltschränke)</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMTrasse_Kante_Art_Erdtrasse" value="Erdtrasse"/>
         <xs:enumeration ecore:name="ENUMTrasse_Kante_Art_frei" value="frei"/>
         <xs:enumeration ecore:name="ENUMTrasse_Kante_Art_Kabelgestell_Tunnel"
                          value="Kabelgestell_Tunnel"/>
         <xs:enumeration ecore:name="ENUMTrasse_Kante_Art_Lufttrasse" value="Lufttrasse"/>
         <xs:enumeration ecore:name="ENUMTrasse_Kante_Art_Rohrtrasse" value="Rohrtrasse"/>
         <xs:enumeration ecore:name="ENUMTrasse_Kante_Art_sonstige" value="sonstige"/>
         <xs:enumeration ecore:name="ENUMTrasse_Kante_Art_Trogtrasse" value="Trogtrasse"/>
         <xs:enumeration ecore:name="ENUMTrasse_Kante_Art_Trogtrasse_aufgestaendert"
                          value="Trogtrasse_aufgestaendert"/>
         <xs:enumeration ecore:name="ENUMTrasse_Kante_Art_Trogtrasse_Behelf"
                          value="Trogtrasse_Behelf"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType ecore:name="Bezeichnung_Kabel_Type" name="TBezeichnung_Kabel">
      <xs:restriction base="nsBasisTypen:TText">
         <xs:pattern value="[1-9]|1[0-6]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ENUMKabel_Verteilpunkt_Art">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMKabel_Verteilpunkt_Art_Kabelschrank"
                          value="Kabelschrank"/>
         <xs:enumeration ecore:name="ENUMKabel_Verteilpunkt_Art_Kabelverteiler"
                          value="Kabelverteiler"/>
         <xs:enumeration ecore:name="ENUMKabel_Verteilpunkt_Art_sonstige" value="sonstige"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Trasse_Nutzer_TypeClass" name="TCTrasse_Nutzer">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:ENUMTrasse_Nutzer"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Kabel_Verteilpunkt_Art_TypeClass"
                    name="TCKabel_Verteilpunkt_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:ENUMKabel_Verteilpunkt_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Kabel_Verteilpunkt_Bezeichnung_AttributeGroup"
                    name="CKabel_Verteilpunkt_Bezeichnung">
      <xs:sequence>
         <xs:element name="Bezeichnung_Kabel_Verteilpunkt"
                      type="nsMedien_und_Trassen:TCBezeichnung_Kabel_Verteilpunkt"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Bezeichnung des Kabel-Verteilpunkts.</xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <Patternbeschreibung>[1..20]</Patternbeschreibung>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Kabel_Verteilpunkt" name="CKabel_Verteilpunkt">
      <xs:annotation>
         <xs:documentation>Punktförmige Installation zur Aufteilung bzw. Verschaltung von Kabeln (ohne Intelligenz).</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
               <Untergewerke>ESTW|BÜ</Untergewerke>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBasis_Objekt">
            <xs:sequence>
               <xs:element name="Bezeichnung"
                            type="nsMedien_und_Trassen:CKabel_Verteilpunkt_Bezeichnung"
                            minOccurs="1"
                            maxOccurs="1"/>
               <xs:element name="ID_Unterbringung"
                            type="xs:anyURI"
                            ecore:reference="nsAnsteuerung_Element:CUnterbringung"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Art des Kabel-Verteilpunkts.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Kabel_Verteilpunkt_Art"
                            type="nsMedien_und_Trassen:TCKabel_Verteilpunkt_Art"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf die Unterbringung des Kabel-Verteilpunkts. Als Art der Unterbringung ist dabei immer "keine" auszuwählen, da der Kabel-Verteilpunkt selbst die physische Unterbringung definiert.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Kabel_Element_AttributeGroup" name="CKabel_Element">
      <xs:sequence>
         <xs:element name="Ader_Reserve"
                      type="nsMedien_und_Trassen:TCAder_Reserve"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Anzahl der Reserveadern. Bsp.: 3x4x1,4 (4).
Die unter Anzahl_Verseilelemente angebbare Aderanzahl muss auch als Reserve angebbar sein (freigeschaltetes Kabel).</xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <Patternbeschreibung>[1..200]</Patternbeschreibung>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="Anzahl_Verseilelemente"
                      type="nsMedien_und_Trassen:TCAnzahl_Verseilelemente"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Anzahl der Verseilelemente. Bsp.: 3x4x1,4.</xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <Patternbeschreibung>[1..200]</Patternbeschreibung>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="Verseilart"
                      type="nsMedien_und_Trassen:TCVerseilart"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Verseilart (4 = Viererverseilung; 1 = adrige Verseilung). Bsp.: 3x4x1,4.</xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <Patternbeschreibung>[1,4]</Patternbeschreibung>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="Ader_Durchmesser"
                         type="nsMedien_und_Trassen:TCAder_Durchmesser"
                         minOccurs="0"
                         maxOccurs="1">
               <xs:annotation>
                  <xs:documentation>Bei Signalkabeln: Durchmesser der Kabeladern in mm. Bsp.: 3x4x1,4.</xs:documentation>
                  <xs:appinfo>
                     <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                        <Patternbeschreibung>[0.1..1.8]</Patternbeschreibung>
                     </WorkflowInformation>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
            <xs:element name="Ader_Querschnitt"
                         type="nsMedien_und_Trassen:TCAder_Querschnitt"
                         minOccurs="0"
                         maxOccurs="1">
               <xs:annotation>
                  <xs:documentation>Bei Kabeln zur rein elektrischen Energieübertragung: Querschnitt der Kabeladern in Quadratmillimetern. Bsp.: 2x1,5.</xs:documentation>
                  <xs:appinfo>
                     <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                        <Patternbeschreibung>[1..99, optional eine Nachkommastelle]</Patternbeschreibung>
                     </WorkflowInformation>
                  </xs:appinfo>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Kabel_Typ_TypeClass" name="TCKabel_Typ">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:TKabel_Typ"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Kabel_Bezeichnung_AttributeGroup" name="CKabel_Bezeichnung">
      <xs:sequence>
         <xs:element name="Bezeichnung_Kabel"
                      type="nsMedien_und_Trassen:TCBezeichnung_Kabel"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Bezeichnung des Kabels.</xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <Patternbeschreibung>[1..16]</Patternbeschreibung>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Trasse_Knoten_Art_TypeClass" name="TCTrasse_Knoten_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:ENUMTrasse_Knoten_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="Bezeichnung_Kabel_Verteilpunkt_Type"
                   name="TBezeichnung_Kabel_Verteilpunkt">
      <xs:restriction base="nsBasisTypen:TText">
         <xs:pattern value="[1-9]|1[0-9]|20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ENUMTrasse_Nutzer">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMTrasse_Nutzer_DB_Energie" value="DB_Energie"/>
         <xs:enumeration ecore:name="ENUMTrasse_Nutzer_DB_KT" value="DB_KT"/>
         <xs:enumeration ecore:name="ENUMTrasse_Nutzer_DB_Netz" value="DB_Netz"/>
         <xs:enumeration ecore:name="ENUMTrasse_Nutzer_DB_StuS" value="DB_StuS"/>
         <xs:enumeration ecore:name="ENUMTrasse_Nutzer_Dritte" value="Dritte"/>
         <xs:enumeration ecore:name="ENUMTrasse_Nutzer_sonstige" value="sonstige"/>
         <xs:enumeration ecore:name="ENUMTrasse_Nutzer_unbekannt" value="unbekannt"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Ader_Reserve_TypeClass" name="TCAder_Reserve">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:TAder_Reserve"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="Ader_Durchmesser_Type" name="TAder_Durchmesser">
      <xs:restriction base="xs:decimal">
         <xs:pattern value="[01][.][1-8]|[0][.][9]|[1][.][0]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType ecore:name="Ader_Reserve_Type" name="TAder_Reserve">
      <xs:restriction base="xs:integer">
         <xs:pattern value="[1-9][0-9]{0,1}|[1][0-9]{2}|200"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Bezeichnung_Kabel_TypeClass" name="TCBezeichnung_Kabel">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:TBezeichnung_Kabel"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Anzahl_Verseilelemente_TypeClass"
                    name="TCAnzahl_Verseilelemente">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:TAnzahl_Verseilelemente"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Ader_Durchmesser_TypeClass" name="TCAder_Durchmesser">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:TAder_Durchmesser"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="Anzahl_Verseilelemente_Type" name="TAnzahl_Verseilelemente">
      <xs:restriction base="xs:integer">
         <xs:pattern value="[1-9][0-9]{0,1}|[1][0-9]{2}|200"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType ecore:name="Kabel_Laenge_Type" name="TKabel_Laenge">
      <xs:restriction base="nsBasisTypen:TMeter">
         <xs:pattern value="(-?[1-9][0-9]{0,})|0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Kabel" name="CKabel">
      <xs:annotation>
         <xs:documentation>Medium zur Übermittlung von Energie und/oder Information.</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
               <Untergewerke>ESTW|BÜ</Untergewerke>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBasis_Objekt">
            <xs:sequence>
               <xs:element name="Bezeichnung"
                            type="nsMedien_und_Trassen:CKabel_Bezeichnung"
                            minOccurs="1"
                            maxOccurs="1"/>
               <xs:element name="ID_Trasse_Kante"
                            type="xs:anyURI"
                            ecore:reference="nsMedien_und_Trassen:CTrasse_Kante"
                            nillable="true"
                            minOccurs="0"
                            maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Verweis auf die Trassen-Kante des Kabel-Gefäßsystems, in dem das Kabel verlegt werden soll bzw. ist. Kurze Verbindungen sind auch ohne Kabelgefäßsystem möglich, z. B. zwischen zwei benachbarten Schaltkästen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Kabel_Allg"
                            type="nsMedien_und_Trassen:CKabel_Allg"
                            minOccurs="1"
                            maxOccurs="1"/>
               <xs:element name="Kabel_Element"
                            type="nsMedien_und_Trassen:CKabel_Element"
                            minOccurs="1"
                            maxOccurs="2">
                  <xs:annotation>
                     <xs:documentation>Attributgruppe zur Angabe der Kabeleigenschaften je Verseilart. Bei kombinierten Signalkabeln wird die Attributgruppe zweimal instanziiert, sonst einmal.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType ecore:name="Verseilart_Type" name="TVerseilart">
      <xs:restriction base="xs:integer">
         <xs:pattern value="[1|4]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Verseilart_TypeClass" name="TCVerseilart">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:TVerseilart"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Ader_Querschnitt_TypeClass" name="TCAder_Querschnitt">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:TAder_Querschnitt"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Trasse_Knoten" name="CTrasse_Knoten">
      <xs:annotation>
         <xs:documentation>Knoten des topologischen Knoten-Kanten-Modells zur Darstellung des Kabelgefäßsystems (Kabeltrasse) oder gleichartiger Medientrassen. Der Trasse_Knoten verweist auf einen GEO_Knoten. Die Anzahl der an den Trasse_Knoten anschließenden topologischen Kanten ist je nach Art des Trasse_Knoten unterschiedlich und muss mit der Anzahl der an den zugehörigen GEO Knoten anschließenden GEO_Kanten übereinstimmen.</xs:documentation>
         <xs:appinfo>
            <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
               <ObjectType>LST_OBJECT</ObjectType>
               <Untergewerke>ESTW|BÜ</Untergewerke>
            </WorkflowInformation>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="nsBasisobjekte:CBasis_Objekt">
            <xs:sequence>
               <xs:element name="ID_Anschluss_Element"
                            type="xs:anyURI"
                            ecore:reference="nsBasisobjekte:CBasis_Objekt"
                            nillable="true"
                            minOccurs="0"
                            maxOccurs="unbounded">
                  <xs:annotation>
                     <xs:documentation>Verweis auf das Anschluss-Element, das durch den Trassen-Knoten repräsentiert wird. Der Verweis wird nicht gefüllt bei Schacht, Trassenabzweig, Trassenänderung, ggf. auch nicht bei Trassenende. Die Medientrasse kann ggf.wenige Meter vor dem Anschlusselement enden, wenn für den Weg bis zum Anschlusselement eine freie Verlegung (z. B. im Schotter) vorgesehen ist. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ID_GEO_Knoten"
                            type="xs:anyURI"
                            ecore:reference="nsGeodaten:CGEO_Knoten"
                            nillable="true"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Verweis auf den zugehörigen GEO_Knoten, über den mittelbar (GEO_Punkt) auch eine Verortung erfolgen kann.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Trasse_Knoten_Art"
                            type="nsMedien_und_Trassen:TCTrasse_Knoten_Art"
                            minOccurs="1"
                            maxOccurs="1">
                  <xs:annotation>
                     <xs:documentation>Art des Trassenknotens, z. B. Trassenende oder -abzweig. Beim Wechsel der Trassen(kanten)art ist ein Trassenknoten der Art "Trassenaenderung" vorzusehen.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Kabel_Allg_AttributeGroup" name="CKabel_Allg">
      <xs:sequence>
         <xs:element name="Induktionsschutz"
                      type="nsMedien_und_Trassen:TCInduktionsschutz"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Induktionsschutz-Klasse rx (16,7 Hz).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Kabel_Art"
                      type="nsMedien_und_Trassen:TCKabel_Art"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Art des Kabels, z. B. Signalkabel oder Lichtwellenleiter (LWL).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Kabel_Laenge"
                      type="nsMedien_und_Trassen:TCKabel_Laenge"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Länge des Kabels in m.</xs:documentation>
               <xs:appinfo>
                  <WorkflowInformation xmlns="http://www.plan-pro.org/modell/PlanProInformation">
                     <Patternbeschreibung>[ganzzahliger Wert]</Patternbeschreibung>
                  </WorkflowInformation>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="Kabel_Typ"
                      type="nsMedien_und_Trassen:TCKabel_Typ"
                      minOccurs="1"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Typ des Kabels. Eine Liste der zugelassenen Kabeltypen soll über Planungswerkzeug vorgegeben werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Nagetierschutz"
                      type="nsMedien_und_Trassen:TCNagetierschutz"
                      minOccurs="0"
                      maxOccurs="1">
            <xs:annotation>
               <xs:documentation>Angabe, ob das Kabel mit einem Nagetierschutz zu versehen ist (true). Der Wert false wird nicht verwendet.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType ecore:name="Kabel_Art_TypeClass" name="TCKabel_Art">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:ENUMKabel_Art"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType ecore:name="Bezeichnung_Kabel_Verteilpunkt_TypeClass"
                    name="TCBezeichnung_Kabel_Verteilpunkt">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="nsMedien_und_Trassen:TBezeichnung_Kabel_Verteilpunkt"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ENUMKabel_Art">
      <xs:restriction base="xs:string">
         <xs:enumeration ecore:name="ENUMKabel_Art_Balisenkabel" value="Balisenkabel"/>
         <xs:enumeration ecore:name="ENUMKabel_Art_Energie_400V_AC" value="Energie 400V AC"/>
         <xs:enumeration ecore:name="ENUMKabel_Art_Energie_750V_DC" value="Energie 750V DC"/>
         <xs:enumeration ecore:name="ENUMKabel_Art_LWL" value="LWL"/>
         <xs:enumeration ecore:name="ENUMKabel_Art_Signalkabel_adrig" value="Signalkabel adrig"/>
         <xs:enumeration ecore:name="ENUMKabel_Art_Signalkabel_kombiniert"
                          value="Signalkabel kombiniert"/>
         <xs:enumeration ecore:name="ENUMKabel_Art_Signalkabel_Sternvierer"
                          value="Signalkabel Sternvierer"/>
         <xs:enumeration ecore:name="ENUMKabel_Art_sonstige" value="sonstige"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType ecore:name="Induktionsschutz_Type" name="TInduktionsschutz">
      <xs:restriction base="xs:integer"/>
   </xs:simpleType>
   <xs:simpleType ecore:name="Ader_Querschnitt_Type" name="TAder_Querschnitt">
      <xs:restriction base="xs:decimal">
         <xs:pattern value="[1-9][0-9]?([.][1-9])?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType ecore:name="Nagetierschutz_TypeClass" name="TCNagetierschutz">
      <xs:complexContent>
         <xs:extension base="nsBasisTypen:CBasisAttribut">
            <xs:sequence>
               <xs:element name="Wert"
                            type="xs:boolean"
                            minOccurs="1"
                            maxOccurs="1"
                            nillable="true"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
